
<% if (footer === 'black') { %>
<div class="footer footer-black section">
    <% } else { %>
    <div class="footer section">
        <% } %>

        <div class="footer-socials">
            <a href="https://www.facebook.com/AGCGlassRussia/" class="footer-socials_link facebook"></a>
            <a href="https://www.instagram.com/agc_russia/?hl=ru" class="footer-socials_link instagram"></a>
            <a href="https://www.youtube.com/channel/UCvKIN088B-gmF8psJVlAQFg" class="footer-socials_link youtube"></a>
            <a href="https://t.me/AGC_RUSSIA" class="footer-socials_link telegram"></a>
        </div>
        <div class="footer-btns">
            <a href="#" class="footer-btns_link">Glass Bus</a>
            <a href="#" class="footer-btns_link">Архитектурный Маршрут</a>
        </div>
        <div class="footer-search">
            <input type="text" class="footer-search_input">
            <a href="#" class="footer-search_btn">Найти</a>
            <span class="footer-search_icon footer-search_icon-search"></span>
            <span class="footer-search_icon footer-search_icon-clean"></span>
        </div>
    </div>

</div>

<div class="modal-window fade-in products-modal" data-modal="products-modal" id="products-modal">
    <div class="modal-content">
                <div class="modal-header">
                    <div class="title">Контакты регионального менеджера</div>
                    <a href="#" class="close close-small" data-close-modal-button="products-modal" data-effect-type="open-modal-fade-effect">

                    </a>
                </div>

                <div class="modal-info products-modal_info">
                    <p class="city-text ">Ближайший к вам региональный менеджер находится в <span class="city">г. Москва</span></p>

                    <div class="address-item active">
                        <p class="city">г. Москва</p>
                        <p>Максим Жосан</p>
                        <a href="tel:79161148591">+7 (916) 114 85 91</a>,
                        <a href="mailto:Maxim.Zhosan@eu.agc.com">Maxim.Zhosan@eu.agc.com</a>
                    </div>

                    <div class="address-item">
                        <p class="city">г. Санкт-Петербург</p>
                        <p>Михаил Михайлов</p>
                        <a href="tel:79119236464">+7 (911) 923 64 64</a>,
                        <a href="mailto:Mikhael.Mikhaylov@eu.agc.com">Mikhael.Mikhaylov@eu.agc.com</a>
                    </div>

                    <div class="address-item">
                        <p class="city">г. Екатеринбург</p>
                        <p>Наталья Плюснина</p>
                        <a href="tel:79126138688">+7 (912) 613 86 88</a>,
                        <a href="mailto:Natalia.Plyusnina@eu.agc.com">Natalia.Plyusnina@eu.agc.com</a>
                    </div>

                    <a href="#" class="more-btn">Все представители...</a>
                </div>


                <div class="modal-footer">
                    <a href="#" class="close-btn" data-close-modal-button="products-modal" data-effect-type="open-modal-fade-effect">
                        Закрыть
                    </a>
                </div>


    </div>
</div>

<div class="modal-window fade-in news-email-modal" data-modal="news-email-modal" id="news-email-modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="title">Введите почту
            </div>
            <a href="#" class="close close-small" data-close-modal-button="news-email-modal" data-effect-type="open-modal-fade-effect">

            </a>
        </div>

        <div class="modal-info">
            <form class="form" action="">
                <label class="field field-input item">
                    <input class="input-text placeholder validate input-mask" data-placeholder="Ваш email" placeholder="mail@example.ru" data-validate="email"
                           name="news_email" type="text" value="" inputmode="text">
                    <p class="error-message"></p>
                </label>
            </form>
        </div>


        <div class="modal-footer">
            <a href="#" class="close-btn" data-close-modal-button="news-email-modal" data-effect-type="open-modal-fade-effect">
                Закрыть
            </a>
            <a href="#" class="button" id="news-email-submit">
                Отправить
            </a>
        </div>


    </div>
</div>

<div class="modal-window fade-in media-video-modal" data-modal="media-video-modal" id="media-video-modal">
    <a href="#" class="close close-small" data-close-modal-button="media-video-modal" data-effect-type="open-modal-fade-effect"></a>
    <div class="modal-content">
        <div class="thumb-wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="modal-window fade-in gallery-modal" data-modal="gallery-modal" id="gallery-modal">
    <a href="#" class="close close-small" data-close-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect"></a>
    <div class="modal-content">
        <div class="gallery-slider" id="gallery-slider">
            <div class="swiper-wrapper"></div>
        </div>
        <div class="swiper-button swiper-button-prev">
            <img src="./img/agc/newsitem-read-more.svg" alt="">
        </div>
        <div class="swiper-button swiper-button-next">
            <img src="./img/agc/newsitem-read-more.svg" alt="">
        </div>
    </div>
</div>


<div class="modal-window fade-in partners-modal" data-modal="partners-modal" id="partners-modal">
    <div class="modal-content">
        <div class="modal-info"></div>
        <div class="modal-footer">
            <a href="#" class="close-btn" data-close-modal-button="partners-modal" data-effect-type="open-modal-fade-effect">
                Закрыть
            </a>
        </div>
    </div>
</div>



<div class="modal-window fade-in custom-form" data-modal="sample-form">
    <div class="modal-content">
        <form action="takeSample" class="form sample-form">
            <div class="title">
                <span>Заказать образец</span>
                <div class="close-btn" data-close-modal-button="sample-form" data-effect-type="open-modal-fade-effect"></div>
            </div>
            <div class="form-fields">
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate" data-placeholder="Контактное лицо" data-validate="required"
                           name="feedback_name" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate" data-placeholder="Компания" data-validate="required"
                           name="company" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate" data-placeholder="Электронная почта" data-validate="email-required"
                           name="feedback_email" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate input-mask" data-placeholder="Телефон для связи" data-validate="number_phone-required" data-mask_tpl="phone_plus7"
                           name="feedback_phone" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <select name="countSamples" class="input-text validate" data-validate="required">
                        <option value="" disabled selected>Количество образцов*</option>
                        <option value="1" >1</option>
                        <option value="2" >2</option>
                        <option value="3" >3</option>
                        <option value="4" >4</option>
                        <option value="5" >5</option>
                        <option value="6" >6</option>
                        <option value="7" >7</option>
                        <option value="8" >8</option>
                        <option value="9" >9</option>
                        <option value="10">10</option>
                    </select>
                    <p class="error-message"></p>
                </label>




              <!--  <div class="form-item">
                    <div id="sample-captcha" class="g-recaptcha" vc-recaptcha key="'6LdtPYwUAAAAACGTHrgZ-rApF44C_ydzPs_9gl0s'"></div>
                </div>-->

                <div class="form-footer">
                        <input type="checkbox"  name="policy" id="sample-form_policy"  data-validate="required" class="validate">
                    <label for="sample-form_policy" class=""><span>Даю согласие на обработку персональных данных</span></label>

                    <button type="submit" class="button no-margin-top no-margin-bottom">Отправить заявку</button>
                </div>
                <div class="form-message">
                    <div class="form-info">
                        <span class="message-icon success"><img src="./img/success.svg" alt="success"></span>
                        <span class="message-icon error"><img src="./img/error.svg" alt="error"></span>
                        <p class="message-title"></p>
                        <p class="message-subtitle"></p>
                    </div>
                </div>
            </div>


        </form>
    </div>


</div>
<div class="modal-window fade-in custom-form" data-modal="manager-form">
    <div class="modal-content">
        <form action="callback" class="form manager-form">
            <div class="title">
                <span>Связаться с менеджером</span>
                <div class="close-btn" data-close-modal-button="manager-form" data-effect-type="open-modal-fade-effect"></div>
            </div>
            <div class="form-fields">
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate" data-placeholder="Контактное лицо" data-validate="required"
                           name="feedback_name" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate" data-placeholder="Компания" data-validate="required"
                           name="company" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate input-mask" data-placeholder="Телефон для связи" data-validate="number_phone-required" data-mask_tpl="phone_plus7"
                           name="feedback_phone" type="text">
                    <p class="error-message"></p>
                </label>

                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate input-mask" data-placeholder="Удобное время для звонка" data-validate="required"
                           name="feedback_phone" type="text">
                    <p class="error-message"></p>
                </label>
                <!--  <div class="form-item">
                      <div id="sample-captcha" class="g-recaptcha" vc-recaptcha key="'6LdtPYwUAAAAACGTHrgZ-rApF44C_ydzPs_9gl0s'"></div>
                  </div>-->

                <div class="form-footer">
                    <input type="checkbox" name="policy" id="manager-form_policy" data-validate="required" class="validate">
                    <label for="manager-form_policy" class=""><span>Даю согласие на обработку персональных данных</span></label>

                    <button type="submit"  class="button no-margin-top no-margin-bottom">Отправить заявку</button>
                </div>
                <div class="form-message">
                    <div class="form-info">
                        <span class="message-icon success"><img src="./img/success.svg" alt="success"></span>
                        <span class="message-icon error"><img src="./img/error.svg" alt="error"></span>
                        <p class="message-title"></p>
                        <p class="message-subtitle"></p>
                    </div>
                </div>
            </div>


        </form>
    </div>


</div>

<div class="modal-window fade-in custom-form" data-modal="question-form">
    <div class="modal-content">
        <form action="callback" class="form question-form">
            <div class="title">
                <span>Задать вопрос</span>
                <div class="close-btn" data-close-modal-button="question-form" data-effect-type="open-modal-fade-effect"></div>
            </div>
            <div class="form-fields">
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate" data-placeholder="Контактное лицо" data-validate="required"
                           name="feedback_name" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate" data-placeholder="Компания" data-validate="required"
                           name="company" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate" data-placeholder="Электронная почта" data-validate="email-required"
                           name="feedback_email" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input item delay-200">
                    <input class="input-text placeholder validate input-mask" data-placeholder="Телефон для связи" data-validate="number_phone-required" data-mask_tpl="phone_plus7"
                           name="feedback_phone" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-fullwidth field-input item delay-200">
                    <textarea class="input-text validate placeholder" data-placeholder="Напишите ваш вопрос" data-validate="required" name="feedback_text"
                    ></textarea>
                    <p class="error-message"></p>
                </label>

                <!--  <div class="form-item">
                      <div id="sample-captcha" class="g-recaptcha" vc-recaptcha key="'6LdtPYwUAAAAACGTHrgZ-rApF44C_ydzPs_9gl0s'"></div>
                  </div>-->

                <div class="form-footer">
                    <input type="checkbox" name="policy" id="question-form_policy" data-validate="required" class="validate">
                    <label for="question-form_policy" class=""><span>Даю согласие на обработку персональных данных</span></label>

                    <button type="submit" class="button no-margin-top no-margin-bottom">Отправить заявку</button>
                </div>
                <div class="form-message">
                    <div class="form-info">
                        <span class="message-icon success"><img src="./img/success.svg" alt="success"></span>
                        <span class="message-icon error"><img src="./img/error.svg" alt="error"></span>
                        <p class="message-title"></p>
                        <p class="message-subtitle"></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal-window-pxl"></div>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBLlGR7bVSqktIomcOH2UedzgcdzVlccnk"></script>
<script src="js/bundle.js?v=1"></script>

</body>
</html>
