<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon.ico">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ef1b34">
    <meta name="theme-color" content="#ffffff">
    <link color="#544b3d" href="favicon/favicon/safari-pinned-tab.svg" rel="mask-icon">

  <link href="css/style.bundle.css?v=1" rel="stylesheet"/>

    <title><%=title%></title>
</head>
<body>

<script src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script><script>var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"62","ie":"9","opera":"49","safari":"9.1","fx":"57","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});</script>

<!--<div id="header" class="header header-black">-->
<div id="header" class="header">
    <a href="/" class="header__logo">
        <img src="/img/agc/logo-3.png" alt="AGC">
    </a>

    <a href="tel:74954116565" class="header__link">
        <span class="icon icon-phone"></span>
        <span>+7 (495) 411 65 65</span>
    </a>

    <a href="mailto:info.ru@eu.agc.com" class="header__link">
        <span class="icon icon-email"></span>
        <span>info.ru@eu.agc.com</span>
    </a>

    <a href="#" class="header__btn">
        Новый продукт
    </a>

    <a href="#" class="header__menu-btn">
        <span>Меню</span>
        <span class="icon icon-menu"></span>
    </a>
</div>

<div class="header__menu">
    <div class="header__menu-close"></div>

    <nav class="header__menu-nav">
        <a href="/" class="active">
            <span>Главная</span>
        </a>
        <a href="/">
            <span>О компании</span>
        </a>
        <a href="/">
            <span>Продукция</span>
        </a>
        <a href="/">
            <span>Реализованные проекты</span>
        </a>
        <a href="/">
            <span>Новости</span>
        </a>
        <a href="/">
            <span>Партнеры</span>
        </a>
        <a href="/">
            <span>Карьера</span>
        </a>
        <a href="/">
            <span>Медиа</span>
        </a>
        <a href="/">
            <span>Сервис каталог</span>
        </a>
        <a href="/">
            <span>Виджеты</span>
        </a>
        <a href="/">
            <span>Glass bus</span>
        </a>
        <a href="/">
            <span>Контакты</span>
        </a>
    </nav>

    <div class="header__menu-footer">
        <p class="address">
            ЦЕНТРАЛЬНЫЙ ОФИС:

            121596 Москва, ул. Горбунова, д. 2, стр. 204
        </p>
        <p class="address">
            Бизнес-центр «Гранд Сетунь Плаза», 5 этаж, офис B 504
        </p>

        <a href="tel:" class="phone">Тел: +7 (495) 411 65 65</a>
        <a href="tel:" class="phone">Факс: +7 (495) 411 65 64</a>
    </div>
</div>


<% if (url === 'index.html') { %>
    <div class="body fullscreen-page">
<% } %>

<% if (url !== 'index.html') { %>
    <div class="body ">
<% } %>
<!--<div class="body fullscreen-page">  Для постраничного скрола-->
