<% var data = {
title: "Трансгруз",
url: "404.html"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section">
    <div class="container">
        <div class="page-no-found">
            <div class="left">
                <h1 class="no-found-title">Ошибка 404</h1>
                <p class="no-found-subtitle">Такой страницы не существует</p>
                <a href="/" class="button inline">Перейти на главную</a>
            </div>
            <div class="right">
                <img src="./img/404-img.svg" alt="404">
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
