<% var data = {
title: "О компании | AGC Glass Russia",
url: "about.html"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<section class="section fullscreen content-center">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/about/1.jpg')"></div>

    <div class="section-content ">
        <h1 class="section-title">AGC Glass Russia</h1>
        <div class="caption-with-line caption-big-line">
            <p class="caption-text">Часть международной группы мирового лидера по производству стекла AGC Inc.
                Российская ветвь находится в составе европейской группы AGC Glass Europe и включает в себя офисное подразделение в Москве, современные производства в Московской и Нижегородской
                областях, а также мощную дистрибуционную сеть от Калининграда до Иркутска.</p>
        </div>
        <a class="down-btn" href="#" id="screen-down-btn"></a>
    </div>
</section>
<section class="section fullscreen content-center">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/about/2.jpg')"></div>

    <div class="section-content ">
        <h1 class="section-title">YOUR DREAMS, OUR CHALLENGE</h1>
        <div class="caption-with-line caption-big-line">
            <p class="caption-text">Соединение знаний и передовых технологий в нашей совместной работе позволяет нам создавать уникальные материалы, решения и надежные партнерские отношения,
                благодаря этому воплощаются в жизнь самые смелые идеи, а великие достижения становятся возможными.</p>
        </div>
    </div>
</section>

<section class="section fullscreen content-center">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/about/3.jpg')"></div>

    <div class="section-content ">
        <h1 class="section-title">ИННОВАЦИОННАЯ ПРОДУКТОВАЯ ЛИНЕЙКА</h1>
        <div class="caption-with-line caption-big-line">
            <p class="caption-text">
                Сегодня AGC Glass Russia - лидер отечественной стекольной индустрии и предлагает строительному рынку мощную продуктовую линейку ультрасовременного архитектурного и интерьерного стекла.
            </p>
            <p class="caption-text">
                Высокотехнологичные производственные линии в области стекловарения и вакуумных напылений, постоянный поиск инноваций, новаторские идеи сотрудников и уверенное следование принципу
                «заглянуть за горизонт» - все это позволяет создавать уникальные продукты, благодаря которым российское зодчество воплощает в жизнь самые удивительные проекты.
            </p>
        </div>
    </div>
    <div class="section-btn-wrap">
        <a href="#" class="button">Каталог продукции</a>
    </div>
</section>

<section class="section fullscreen content-center">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/about/4.jpg')"></div>

    <div class="section-content ">
        <h1 class="section-title">РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</h1>
        <div class="caption-with-line caption-big-line">
            <p class="caption-text">
                Ценности, которые служат ориентиром в реализации сложных производственных задач для каждого сотрудника AGC Glass Russia - это инновации и высокий профессионализм, забота об окружающей
                среде, честность и разнообразие.
            </p>
            <p class="caption-text">
                Именно эти принципы направляют нас в будущее и помогают реализовать сотни уникальных проектов по всей России более 20 лет.
            </p>
            <p class="caption-text">
                AGC Glass Russia сегодня – это безопасное и качественное производство инновационных продуктов из стекла, способных сделать наш мир ярче, красивее, интереснее с заботой об окружающей
                среде и экологии нашей удивительной планеты.
            </p>
        </div>
    </div>
    <div class="section-btn-wrap">
        <a href="" class="button">Реализованные проекты</a>
    </div>
</section>

<section class="section fullscreen content-center">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/about/5.jpg')"></div>

    <div class="section-content ">
        <h3 class="big_title color-white">
            <span class="big">AGC</span>
            <span class="text">МЫ ДЕЛАЕМ ОКРУЖАЮЩИЙ МИР </span>
            <span class="text">БЕЗОПАСНЕЕ, ГАРМОНИЧНЕЕ, ЯРЧЕ!</span>
        </h3>

    </div>
    <div class="section-btn-wrap">
        <a href="" class="button big">
            <span>Политика компании</span>
            <span>2020 год</span>
        </a>
    </div>
</section>

<section class="section content-center gray section-padding">
    <div class="section-content ">
        <h1 class="section-title color-text">НАШЕ ПРОИЗВОДСТВО</h1>
        <div class="caption-with-line caption-big-line caption-black">
            <p class="caption-text color-text">
                Инновационные производственные комплексы AGC Glass Russia расположены в Нижегородской и Московской областях.
            </p>

        </div>
    </div>
</section>

<section class="section about-section">
    <div class="section-content">
        <div class="container">
            <div class="about-row">
                <div class="about-part">
                    <div class="about-content">
                        <div class="about-content_title">ОАО «ЭЙ ДЖИ СИ БОРСКИЙ СТЕКОЛЬНЫЙ ЗАВОД»</div>
                        <div class="about-content_text">
                            Производственный комплекс берет свое историческое начало в 1934 году. Будучи передовым предприятием по производству стекольной продукции многие десятилетия, завод стал
                            идеальной платформой для создания уникального современного комплекса по созданию инновационных изделий из стекла. Модернизация завода, в соответствии с новейшими
                            технологиями XXI века усилила действующее производство в десятки раз, благодаря чему и создалось мощное современное предприятие «Эй Джи Си Борский стекольный завод». На
                            сегодняшний день производственные мощности завода позволяют выпускать более 1 200 тонн термополированного стекла в сутки, в том числе тонированного 7-ми цветами стекла в
                            массе. А производство закаленного, многослойного автомобильного стекла достигло рекордной отметки - полтора миллионов безопасных машинокомплектов в год.
                            Высокие технические и промышленные показатели ОАО «Эй Джи Си Борский стекольный завод» неоднократно делали предприятие обладателем престижных премий и конкурсов
                            Министерства промышленности и инноваций Нижегородской области - «Лучший экспортер года» в номинации «Крупный бизнес», почетный обладатель Штандарта Губернатора
                            Нижегородской области. Соответствие международным и российским стандартам производства подтверждено такими сертификатами как ISO/TS 16949:2002, ISO 14001-96, OHSAS
                            18001:99, а также свидетельством Всероссийской организации качества «Российское Качество».
                        </div>
                        <a href="#" class="about-content_btn">Подробнее о предприятии</a>
                    </div>
                </div>
                <div class="about-part">
                    <div class="about-img">
                        <img src="./img/about/6.jpg" alt="agc">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section about-section">
    <div class="section-content">
        <div class="container">
            <div class="about-row about-row_reverse">
                <div class="about-part">
                    <div class="about-img">
                        <img src="./img/about/7.jpg" alt="agc">
                    </div>
                </div>
                <div class="about-part">
                    <div class="about-content">
                        <div class="about-content_title">ООО «ЭЙ ДЖИ СИ ФЛЭТ ГЛАСС КЛИН»</div>
                        <div class="about-content_text">
                            ООО «Эй Джи Си Флэт Гласс Клин» - молодое, перспективное и самое современное предприятие по производству флоат-стекла в России. За годы своего существования этот
                            инновационный комплекс успел добиться уникальных производственных показателей, войти в ТОП 100 лучших предприятий России по экологии и экологическому менеджменту и стать
                            неоднократным победителем в номинации «За внедрение международных экологических стандартов» в рамках Всероссийской конференции «Экология и производство», где также лично
                            был отмечен почетным знаком «Эколог года» руководитель ООО «Эй Джи Си Флэт Гласс Клин» Сергей Сретинский.
                            Комплекс расположен в Клинском районе Московской области и занимает площадь земли в тридцать гектаров. В состав производственного предприятия входит две линии по
                            производству флоат-стекла, две магнетронные линии по производству стекол с покрытиями, линия по производству зеркал, а также линия по производству строительного триплекса.
                            С 2010 года производственные показатели предприятия составили около 1600 тонн стекла в сутки, что позволяет обеспечить необходимым материалом сотни российских компаний в
                            областях строительства и архитектуры, дизайна интерьеров и производства мебельных изделий.
                        </div>
                        <a href="#" class="about-content_btn">
                            смотреть видео о правилах техники безопасности на предприятиях
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="section fullscreen content-center">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/about/8.jpg')"></div>

    <div class="section-content ">
        <h1 class="section-title">ДИСТРИБУЦИОННАЯ СЕТЬ AGC</h1>
        <div class="caption-with-line caption-big-line">
            <p class="caption-text">
                Сегодня дистрибуционная сеть компании AGC Glass Russia – это более 120 сотрудников команды по всей России - от Калининграда до Иркутска. Площадь складских помещений составляет более 20
                000 кв. м., а общие объемы продукции способны работать на непрерывную поставку стекла по всем регионам нашей страны. Дистрибуцию в уникальном для российского стекольного рынка формате
                AGC начала развивать с 2011 года, предоставляя полный ассортимент продукции с отгрузкой, а также инструменты, аксессуары и комплектующие для работы со стеклом. На сегодняшний день
                дистрибуционная сеть в Восточной Европе представлена 32 складами.
            </p>
        </div>
    </div>
    <div class="section-btn-wrap">
        <a href="" class="button">Каталог продукции</a>
    </div>
</section>


<section class="section about-section no-padding-bottom">
    <div class="section-content">
        <div class="container">
            <h1 class="section-title color-text section-content-padding margin-bottom-x3 margin-top-x2">РУКОВОДСТВО КОМПАНИИ</h1>
            <div class="about-persons">

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p1.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Владимир Шигаев</p>
                        <p class="position">Генеральный директор по Восточной Европе, Председатель Управляющего комитета</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p2.jpg')"></div>
                    <div class="overlay"></div>
                    <div class="content">
                        <p class="name">Сергей Князев</p>
                        <p class="position">Директор ОАО “Эй Джи Си БСЗ”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p3.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Сергей Сретинский</p>
                        <p class="position">Директор производственного объединения ООО “Эй Джи Си Флэт Гласс Клин”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p4.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Игорь Зайкин</p>
                        <p class="position">Директор по продажам и дистрибуции по Восточной Европе ООО “Эй Джи Си Флэт Гласс Клин”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p5.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Любовь Петренко</p>
                        <p class="position">Директор по стратегическому маркетингу и развитию бизнеса ООО “Эй Джи Си Флэт Гласс Клин”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p6.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Константин Колупаев</p>
                        <p class="position">Директор по персоналу и коммуникациям ООО “Эй Джи Си Флэт Гласс Клин”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p7.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Константин Ерохов</p>
                        <p class="position">Финансовый директор по Восточной Европе ООО “Эй Джи Си Флэт Гласс Клин”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p8.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Юлия Савельева</p>
                        <p class="position">Управляющий по логистике и производственному планированию ООО “Эй Джи Си Флэт Гласс Клин”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p9.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Андрей Фисенко</p>
                        <p class="position">Управляющий службой дистрибуционной сети по Восточной Европе ООО “Эй Джи Си Флэт Гласс Клин”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="bg" style="background-image: url('./img/about/p4.jpg')"></div>
                    <div class="overlay"></div>

                    <div class="content">
                        <p class="name">Александр Щукин</p>
                        <p class="position">Директор по закупкам сырьевых и технологических материалов ООО “Эй Джи Си Флэт Гласс Клин”</p>
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
