<% var data = {
title: "AGC ONLINE | AGC Glass Russia",
url: "agc-online.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/agc-online/bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white">AGC ONLINE</h1>
</div>

<section class="section no-padding-top">
    <div class="container container-sm">
        <div class="caption-with-line caption-black caption-no-overflow margin-bottom-x3 margin-top-x2">
            <h2 class="color-text">
                Серия мероприятий AGC Online - формат бизнес встреч в режиме нового времени
            </h2>
        </div>
        <p>
            <i>Текущие условия ведения бизнеса подталкивают к поиску новых инструментов взаимодействия. Компания AGC предлагает своим клиентам и партнерам в интерактивном онлайн-режиме обсудить инструменты и решения, которые помогут адаптировать бизнес под новые реалии. Задача ответственной организации – поддерживать связь с клиентами и партнерами, оперативно предоставляя им новые решения и рабочие инструменты. Компания AGC переходит в online, чтобы в сложившейся ситуации поддерживать связь с бизнес-сообществом страны.</i>
        </p>
        <p>
           <b>AGC Online</b> -  это серия прямых трансляций, в ходе которых специалисты AGC Glass Russia в прямом эфире раскроют взгляд, новые возможности и решения компании на 2020 год, познокомят с
            техническими нюансами продукции и работы с ней и в рамках диалога с приглашенными гостями раскроют секреты и подводные камни стекольной индустрии.
        </p>
    </div>
</section>

<section class="section agc-online-section no-padding-top">
    <div class="container container-sm">
        <div class="text-align-center">
            <a href="#" class="year-title">2020 год</a>
        </div>

        <div class="agc-online_list">
            <div class="item">
                <div class="img" style="background-image: url('./img/agc-online/1.jpg')"></div>
                <div class="content">
                    <div class="date">17 июня, 14:00, Прямая Трансляция Youtube</div>
                    <div class="title">
                        ОБЗОР АРХИТЕКТУРНЫХ И ИНТЕРЬЕРНЫХ ПРОДУКТОВ И ИНТЕРЬЕРНЫХ ПРОДУКТОВ
                    </div>
                    <blockquote class="quote">
                        Новая встреча формата AGC Online будет посвящена ключевым продуктам и решениям от AGC
                    </blockquote>
                    <a href="" class="button">Подробнее</a>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('./img/agc-online/2.jpg')"></div>
                <div class="content">
                    <div class="date">17 июня, 14:00, Прямая Трансляция Youtube</div>
                    <div class="title">
                        ОБЗОР АРХИТЕКТУРНЫХ
                    </div>
                    <blockquote class="quote">
                        Новая встреча формата AGC Online будет посвящена ключевым продуктам и решениям от AGC
                    </blockquote>
                    <a href="" class="button">Подробнее</a>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('./img/agc-online/1.jpg')"></div>
                <div class="content">
                    <div class="date">17 июня, 14:00, Прямая Трансляция Youtube</div>
                    <div class="title">
                        ОБЗОР АРХИТЕКТУРНЫХ И ИНТЕРЬЕРНЫХ ПРОДУКТОВ
                    </div>
                    <blockquote class="quote">
                        Новая встреча формата AGC Online будет посвящена ключевым продуктам и решениям от AGC
                    </blockquote>
                    <a href="" class="button">Подробнее</a>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('./img/agc-online/2.jpg')"></div>
                <div class="content">
                    <div class="date">17 июня, 14:00, Прямая Трансляция Youtube</div>
                    <div class="title">
                        ОБЗОР АРХИТЕКТУРНЫХ И ИНТЕРЬЕРНЫХ ПРОДУКТОВ
                    </div>
                    <blockquote class="quote">
                        Новая встреча формата AGC Online будет посвящена ключевым продуктам и решениям от AGC
                    </blockquote>
                    <a href="" class="button">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
