<% var data = {
title: "Главная | AGC Glass Russia",
url: "index.html"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>





<section class="section main-section">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/main/section-1.jpg')"></div>

    <div class="section-content section-first-screen">
        <h1 class="main-title">AGC Glass Russia</h1>
        <div class="caption-with-line">
            <h2 class="h2">Российская ветвь AGC Glass Europe, европейского подразделения международного концерна AGC Group - крупнейшего мирового производителя стекла</h2>
        </div>
        <a id="screen-down-btn" href="#" class="down-btn"></a>
    </div>
</section>

<section class="section main-section">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/main/section-2.jpg')"></div>

    <div class="section-content section-news">
        <h2 class="title">Новости</h2>
        <div class="news-row">
            <div class="row">
                <div class="col w-50">
                    <div class="item item-left" style="background-image: url('./img/main/news-1.jpg')">
                        <div class="overlay"></div>
                        <div class="news-content">
                            <a href="#12" class="news-tag">Официальные новости</a>
                            <a href="" class="news-title">Тариф выходного дня на услуги миксования</a>
                        </div>
                    </div>

                </div>
                <div class="col w-50">
                    <div class="item item-right" style="background-image: url('./img/main/news-2.jpg')">
                        <div class="overlay"></div>
                        <div class="news-content">
                            <a href="#13" class="news-tag">Блог компании</a>
                            <a href="" class="news-title">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="more-btn-block">
                <a href="#" class="btn">Больше новостей</a>
            </div>
        </div>
    </div>
</section>

<section class="section main-section">
    <div class="section-content section-blur">
        <div class="row">
            <div class="col w-25">
                <a href="#" class="blur-item">
                    <div class="blur-item_bg" style="background-image: url('./img/main/blur-1.jpg')"></div>
                    <p class="blur-item_title">Продукция</p>
                    <div class="blur-item_btn">
                        <span>Подробнее</span>
                    </div>
                </a>
            </div>
            <div class="col w-25">
                <a href="#" class="blur-item">
                    <div class="blur-item_bg" style="background-image: url('./img/main/blur-2.jpg')"></div>
                    <p class="blur-item_title">Реализованные проекты</p>
                    <div class="blur-item_btn">
                        <span>Подробнее</span>
                    </div>
                </a>
            </div>
            <div class="col w-25">
                <a href="#" class="blur-item">
                    <div class="blur-item_bg" style="background-image: url('./img/main/blur-3.jpg')"></div>
                    <p class="blur-item_title">AGC ONLINE</p>
                    <div class="blur-item_btn">
                        <span>Подробнее</span>
                    </div>
                </a>
            </div>
            <div class="col w-25">
                <a href="#" class="blur-item">
                    <div class="blur-item_bg" style="background-image: url('./img/main/blur-4.jpg')"></div>
                    <p class="blur-item_title">Glass Bus</p>
                    <div class="blur-item_btn">
                        <span>Подробнее</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section main-section" data-animate="true">
    <div class="section-overlay"></div>
    <div class="section-bg" style="background-image: url('./img/main/section-4.jpg')"></div>

    <div class="section-content section-numbers">
        <div class="section-number_wrap">
            <div class="row">
                <div class="col w-25 w-50-tablet">
                    <div class="item">
                        <div class="circle-item">
                            <span class="counter">1997</span>
                            <span class="counter-text">год</span>
                        </div>
                        <p class="text">
                            Начало деятельности в Российской Федерации
                        </p>
                    </div>
                </div>
                <div class="col w-25 w-50-tablet">
                    <div class="item">
                        <div class="circle-item">
                            <span class="counter" data-max="">17</span>
                        </div>
                        <p class="text">
                            Наименований продукции производится в России
                        </p>
                    </div>
                </div>
                <div class="col w-25 w-50-tablet">
                    <div class="item">
                        <div class="circle-item">
                            <span class="counter" data-max="">2800</span>
                            <span class="counter-text">т стекла</span>
                        </div>
                        <p class="text">
                            Производственная мощность промышленных комплексов в России
                        </p>
                    </div>
                </div>
                <div class="col w-25 w-50-tablet">
                    <div class="item">
                        <div class="circle-item">
                            <span class="counter" data-max="">32</span>
                        </div>
                        <p class="text">
                            Склада дистрибуционной сети AGC в Восточной Европе
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-btn-wrap">
            <div class="button big">О компании</div>
        </div>

    </div>
</section>

<section class="section main-section section-links">

    <div class="section-content">
        <div class="section-links_wrap">
            <div class="row">
                <div class="col w-25">
                    <a href="#" class="item">
                        <span>Партнеры</span>
                    </a>
                </div>
                <div class="col w-25">
                    <a href="#" class="item">
                        <span>Карьера</span>
                    </a>
                </div>
                <div class="col w-25">
                    <a href="#" class="item">
                        <span>Виджеты</span>
                    </a>
                </div>
                <div class="col w-25">
                    <a href="#" class="item">
                        <span>Контакты</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
