<% var data = {
title: "Трансгруз"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section for-parallax fullscreen no-padding-vertical">
    <div id="main_slider_block" class="main-slider">
        <div id="main_slider" class="swiper-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slide" style="background-image: url('./img/main-bg-blur.jpg');">
                        <div class="bg bg-video swiper-lazy">
                            <video id="main-video" autoplay loop muted src="./img/main-video/main-vid.mp4"></video>
                        </div>
                       <div class="logo-wrap" style="background-image: url('./img/main-video/grid.svg')">
                           <img class="logo" src="./img/main-video/logo.svg" alt="transgruz">
                       </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide" style="background-image: url('./img/main-bg-blur.jpg');">
                        <div data-background="./img/main-bg.jpg" class="bg swiper-lazy"> </div>
                        <div class="main-text">
                            <div class="container">
                                <p id="main_typed_text_1" class="text big" data-typed="Строительная компания Трансгруз">
                                    Строительная компания Трансгруз
                                </p>
                                <p class="text">
                                    <b id="main_typed_text_2" data-typed="Интересные факты о компании, небольшой текст, которого может и не быть">
                                        Интересные факты о компании, небольшой текст, которого может и не быть
                                    </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="rc-main" style="background-image: url('./img/residential-complex/tsentralniy-blur.jpg');">
                        <div data-background="./img/residential-complex/tsentralniy.jpg" class="bg swiper-lazy"></div>

                        <div class="content top">
                            <div class="container">
                                <p class="text name">ЖК «Центральный»</p>
                                <p class="text address">
                                    <span class="round-icon">
                                        <i class="icon icon-map"></i>
                                    </span>
                                    Московское шоссе / ул. Авроры
                                </p>
                                <p class="text">Срок сдачи:</p>
                                <p class="text deadline">IV кв. 2021 г.</p>
                                <p class="text">Очередь 17</p>
                            </div>
                        </div>

                        <div class="content bottom">
                            <div class="container">
                                <a href="#" class="button inline">5 квартир от 2,2 млн.</a>
                                <a href="#" class="button secondary inline">Паркинги</a>
                                <a href="#" class="button secondary inline">Офисы</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="rc-main" style="background-image: url('./img/residential-complex/kvartal120-blur.jpg');">
                        <div data-background="./img/residential-complex/kvartal120.jpg" class="bg swiper-lazy"></div>

                        <div class="content top">
                            <div class="container">
                                <p class="text name">ЖК «120 квартал»</p>
                                <p class="text address">
                                    <span class="round-icon">
                                        <i class="icon icon-map"></i>
                                    </span>
                                    Московское шоссе / ул. Авроры
                                </p>
                                <p class="text">Срок сдачи:</p>
                                <p class="text deadline">IV кв. 2021 г.</p>
                                <p class="text">Очередь 17</p>
                            </div>
                        </div>

                        <div class="content bottom">
                            <div class="container">
                                <a href="#" class="button inline">125 квартир от 2,2 млн.</a>
                                <a href="#" class="button secondary inline">Паркинги</a>
                                <a href="#" class="button secondary inline">Офисы</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="rc-main" style="background-image: url('./img/residential-complex/akademicheskiy-blur.jpg');">
                        <div data-background="./img/residential-complex/akademicheskiy.jpg" class="bg swiper-lazy"></div>

                        <div class="content top">
                            <div class="container">
                                <p class="text name">ЖК «Академический»</p>
                                <p class="text address">
                                    <span class="round-icon">
                                        <i class="icon icon-map"></i>
                                    </span>
                                    Московское шоссе / ул. Авроры
                                </p>
                                <p class="text">Срок сдачи:</p>
                                <p class="text deadline">IV кв. 2021 г.</p>
                                <p class="text">Очередь 17</p>
                            </div>
                        </div>

                        <div class="content bottom">
                            <div class="container">
                                <a href="#" class="button inline">5 квартир от 2,2 млн.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination main-slider-pagination hide-desktop"></div>
            <div class="swiper-arrow swiper-arrow-prev main-slider-button-prev hide-mobile">
                <i class="icon icon-left-arrow-1"></i>
            </div>
            <div class="swiper-arrow swiper-arrow-next main-slider-button-next hide-mobile">
                <i class="icon icon-right-arrow"></i>
            </div>
        </div>

        <div id="main_slider_block_pxl" class="pxl hide hide-mobile"></div>
    </div>
</div>


<div class="section padding-top">
    <div class="container">
        <div class="row animate-block">
            <div class="col w-25 w-50-tablet effect-fade">
                <div class="text-with-icon">
                    <div class="icon icon-date"></div>
                    <div class="info">
                        <div class="text big color-main">20 лет</div>
                        <div class="text small">ответственного строительства</div>
                    </div>
                </div>
            </div>

            <div class="col w-25 w-50-tablet effect-fade delay-100">
                <div class="text-with-icon">
                    <div class="icon icon-family"></div>
                    <div class="info">
                        <div class="text big color-main">75</div>
                        <div class="text small">домов построено</div>
                    </div>
                </div>
            </div>

            <div class="clr hide-desktop"></div>

            <div class="col w-25 w-50-tablet effect-fade delay-200">
                <div class="text-with-icon">
                    <div class="icon icon-key"></div>
                    <div class="info">
                        <div class="text big color-main">7 595</div>
                        <div class="text small">сданных квартир</div>
                    </div>
                </div>
            </div>

            <div class="col w-25 w-50-tablet effect-fade delay-300">
                <div class="text-with-icon">
                    <div class="icon icon-sketch"></div>
                    <div class="info">
                        <div class="text big color-main">1 140</div>
                        <div class="text small">специалистов в штате</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rc-cards margin-top-x2 animate-block count-3">
            <a href="#" class="item effect-white">
                <div class="content effect-content effect-delay">
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Центральный»</div>
                            <div class="address">
                                <div class="round-icon smallest hide-mobile">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="button inline">10 квартир от 3.5 млн.</div>
                        </div>
                    </div>
                    <div class="bg lazy" data-src="./img/residential-complex/tsentralniy.jpg" style="background-image: url('./img/residential-complex/tsentralniy.jpg')"></div>
                </div>
                <div class="effect-stripe effect-delay"></div>
            </a>
            <a href="#" class="item effect-white delay-200">
                <div class="content effect-content effect-delay">
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «Академический»</div>
                            <div class="address">
                                <div class="round-icon smallest hide-mobile">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="button inline">100 квартир от 3.5 млн.</div>
                        </div>
                    </div>
                    <div class="bg lazy" data-src="./img/residential-complex/akademicheskiy.jpg" style="background-image: url('./img/residential-complex/akademicheskiy.jpg')"></div>
                </div>
                <div class="effect-stripe effect-delay"></div>
            </a>
            <a href="#" class="item effect-white delay-400">
                <div class="content effect-content effect-delay">
                    <div class="inner">
                        <div class="top">
                            <div class="name">ЖК «120 квартал»</div>
                            <div class="address">
                                <div class="round-icon smallest hide-mobile">
                                    <div class="icon icon-map"></div>
                                </div>
                                Московское шоссе / ул. Авроры
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="button inline">5 квартир от 3.5 млн.</div>
                        </div>
                    </div>
                    <div class="bg lazy" data-src="./img/residential-complex/kvartal120.jpg" style="background-image: url('./img/residential-complex/kvartal120.jpg')"></div>
                </div>
                <div class="effect-stripe effect-delay"></div>
            </a>
        </div>
    </div>
</div>

<div class="section gray padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col w-50 w-50-tablet">
                <div class="caption-with-button">
                    <h2 class="h4">Новости</h2>
                    <a href="#" class="button small inline">Все новости</a>
                </div>
                <div class="news-promo-cards margin-top margin-bottom-x2 animate-block">
                    <div class="row">
                        <div class="col w-50 effect-fade">
                            <a href="#" class="item">
                                <span class="img" style="background-image: url('./img/news-img-1.jpg');"></span>
                                <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                            </a>
                        </div>
                        <div class="col w-50 effect-fade delay-200 hide-mobile">
                            <a href="#" class="item">
                                <span class="img" style="background-image: url('./img/news-img-2.jpg');"></span>
                                <span class="info">
                                        <span class="text date">03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина. Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col w-50 w-50-tablet">
                <div class="caption-with-button">
                    <h2 class="h4">Акции</h2>
                    <a href="#" class="button small inline">Все акции</a>
                </div>
                <div class="news-promo-cards margin-top margin-bottom-x2  animate-block">
                    <div class="row">
                        <div class="col w-50 effect-fade delay-400">
                            <a href="#" class="item">
                                <span class="img" style="background-image: url('./img/promo-img-1.jpg');"></span>
                                <span class="info">
                                        <span class="text date color-main">до 03.02.2020</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.Скоро в продаже!</span>
                                    </span>
                            </a>
                        </div>
                        <div class="col w-50 effect-fade delay-600 hide-mobile">
                            <a href="#" class="item">
                                <span class="img" style="background-image: url('./img/promo-img-2.jpg');"></span>
                                <span class="info">
                                        <span class="text date color-main">Постоянная акция</span>
                                        <span class="text">Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина. Скоро в продаже! Новый ЖК «Академический». Рядом с парком Ю. Гагарина.</span>
                                    </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="caption-with-button">
            <h2 class="h4">Банки-партнеры</h2>
            <a href="#" class="button small inline">Подробнее об ипотеке</a>
        </div>
        <div class="row animate-block">
            <div class="col w-25 w-50-tablet effect-fade">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/sberbank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5%</div>
                        <div class="text">Сбербанк</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet effect-fade delay-200">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/rosselhozbank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 6%</div>
                        <div class="text">РоссельхозБанк</div>
                    </div>
                </div>
            </div>

            <div class="clr hide-desktop"></div>

            <div class="col w-25 w-50-tablet effect-fade delay-400">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/vtb.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5%</div>
                        <div class="text">ВТБ</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet effect-fade delay-600">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/absolut-bank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5.24%</div>
                        <div class="text">Абсолют Банк</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animate-block">
            <div class="col w-25 w-50-tablet effect-fade">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/dom-rf.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5.25%</div>
                        <div class="text">Банк Дом.рф</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet effect-fade delay-200">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/raiffaisen.svg');"></div>
                    <div class="info">
                        <div class="text big">от 8.5%</div>
                        <div class="text">Райффайзен</div>
                    </div>
                </div>
            </div>

            <div class="clr hide-desktop"></div>

            <div class="col w-25 w-50-tablet effect-fade delay-400">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/delta-credit.svg');"></div>
                    <div class="info">
                        <div class="text big">от 9.5%</div>
                        <div class="text">ДельтаКредит</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet effect-fade delay-600">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/gazprombank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 4.9%</div>
                        <div class="text">Газпромбанк</div>
                    </div>
                </div>
            </div>

            <div class="clr"></div>

        </div>
    </div>
</div>

<div class="section our-manufacture margin-top-x2 margin-bottom-x3 animate-block">
    <div class="photo delay-300" style="background-image: url('./img/our-manufacture.jpg');"></div>
    <div class="stripe"></div>

    <div class="container">
        <div class="content">
            <div class="animate-text delay-800">
                <h2 class="h4">Наше производство</h2>
            </div>

            <div class="animate-text margin-top delay-900">
                <p class="color-text-gray">В структуре Застройщика «Трансгруз» имеется Промышленная база с размещением на ней своей инфраструктуры, в которую входят:</p>
                <ul class="color-text-gray">
                    <li>Бетоносмесительный завод производительностью 120м<sup>3</sup>/час, со складами цемента 600 тонн. Выдача продукции производится в автоматическом режиме по современным технологиям с добавлением разного рода пластифицирующих добавок.</li>
                    <li>Цех металлоконструкций, одно из подразделений оснащённый современными станками и оборудованием позволяющие легко решать задачи по изготовлению металлоконструкций и арматурных изделий любой сложности.</li>
                    <li>Автотранспортный цех, в своём составе имеет автомобильную и строительную технику: бортовые, полуприцепы, цементовозы, погрузчики, бетононососы и др.</li>
                </ul>
                <a href="#" class="button small inline" data-open-modal-button="our_prod">Подробнее</a>
            </div>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
