<% var data = {
title: "MATELAC SILVER CRYSTALVISION | AGC Glass Russia",
url: "matelac-silver-crystalvision.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white">MATELAC SILVER CRYSTALVISION</h1>
</div>


<section class="section double-section no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col w-50">
                <div class="double-section_img" style="background-image: url('./img/agc/matelac/mat-1.jpg')"></div>
            </div>
            <div class="col w-50">
                <div class="double-section_info">
                    <h2 class="title">Идеальный металлик</h2>
                    <div class="big-text">
                        <div class="border"></div>
                        Абсолютно нейтральный, однородно матовый, благородный в своем оттенке, мягко подсвечивающийся, идеально вписывающийся и гармонично дополняющий – всё это о новом продукте AGC
                        Matelac Silver Crystalvision.
                    </div>
                    <p class="text">
                        Matelac Silver Crystalvision это абсолютно нейтральное просветленное стекло Planibel Crystalvision, на которое с одной стороны нанесено зеркальное покрытие MNGE, а с другой
                        стороны произведено матирование методом кислотного травления. Итоговый продукт представляет собой матовый металлик нейтрального, благородного, серебристого оттенка.

                    </p>
                    <p class="text">
                        Matelac Silver Crystalvision дополняет группу продуктов Matelac, в серии Matelac Silver.
                        В этой серии уже есть оттенки Clear, Bronze, Grey. Продукт Matelac Silver Crystalvision является логическим продолжением серии и представляет собой улучшенную версию Matelac
                        Silver Clear за счет использования просветленного стекла, в качестве базового.

                    </p>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="section gallery-section no-padding-top">

    <div class="gallery" id="matelac-gallery">
        <div class="column">
            <a class="item item-1" data-slide="0" data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect" data-img="./img/agc/matelac/mat-5.jpg">
                <div class="bg" style="background-image: url('./img/agc/matelac/mat-5.jpg')"></div>
                <div class="bg-hover">
                    <img src="./img/agc/matelac/fullscreen.svg" alt="fullscreen">
                    <span>Увеличить</span>
                </div>
            </a>
            <a class="item item-2" data-slide="1" data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect" data-img="./img/agc/matelac/mat-6.jpg">
                <div class="bg" style="background-image: url('./img/agc/matelac/mat-6.jpg')"></div>
                <div class="bg-hover">
                    <img src="./img/agc/matelac/fullscreen.svg" alt="fullscreen">
                    <span>Увеличить</span>
                </div>
            </a>
        </div>
        <div class="column">
            <a class="item item-3" data-slide="2" data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect" data-img="./img/agc/matelac/mat-7.jpg">
                <div class="bg" style="background-image: url('./img/agc/matelac/mat-7.jpg')"></div>
                <div class="bg-hover">
                    <img src="./img/agc/matelac/fullscreen.svg" alt="fullscreen">
                    <span>Увеличить</span>
                </div>
            </a>
        </div>
        <div class="column">
            <a class="item item-4" data-slide="3" data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect" data-img="./img/agc/matelac/2.jpg">
                <div class="bg" style="background-image: url('./img/agc/matelac/2.jpg')"></div>
                <div class="bg-hover">
                    <img src="./img/agc/matelac/fullscreen.svg" alt="fullscreen">
                    <span>Увеличить</span>
                </div>
            </a>
            <a class="item item-5" data-slide="4" data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect" data-img="./img/agc/matelac/12.jpg">
                <div class="bg" style="background-image: url('./img/agc/matelac/12.jpg')"></div>
                <div class="bg-hover">
                    <img src="./img/agc/matelac/fullscreen.svg" alt="fullscreen">
                    <span>Увеличить</span>
                </div>
            </a>
        </div>
        <div class="column">
            <a class="item item-6" data-slide="5" data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect" data-img="./img/agc/matelac/9.jpg">
                <div class="bg" style="background-image: url('./img/agc/matelac/9.jpg')"></div>
                <div class="bg-hover">
                    <img src="./img/agc/matelac/fullscreen.svg" alt="fullscreen">
                    <span>Увеличить</span>
                </div>
            </a>
        </div>




    </div>
</section>

<section class="section r-padding advantages">
    <div class="container">
        <h2 class="matelac-title mb50 mt50">В чем заключаются основные преимущества стекла Matelac Silver Crystalvision?</h2>
        <div class="advantages_list">
            <div class="item">
                <img src="./img/agc/matelac/glass.svg" alt="">
                <div class="item-text">
                    <div class="title">Долговечный материал</div>
                    <div class="subtitle">
                        Стены, раздвижные двери и мебель сохранят свой первозданный внешний вид на протяжении многих лет
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="./img/agc/matelac/transparency2.svg" alt="">
                <div class="item-text">
                    <div class="title">Без оттенков</div>
                    <div class="subtitle">
                        Отсутствие какого либо добавочного оттенка стекла за счет основы из Planibel Crystalvision
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="./img/agc/matelac/bottleneck.svg" alt="">

                <div class="item-text">
                    <div class="title">Высококачественное покрытие</div>
                    <div class="subtitle">
                        Серебряное покрытие MNGE, нанесенное промышленным способом по всем стандартам качества
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="./img/agc/matelac/wrench.svg" alt="">
                <div class="item-text">
                    <div class="title">Простой монтаж</div>
                    <div class="subtitle">
                        Matelac Silver Crystalvision монтируется также легко, как и зеркала MNGE. Подробности в руководстве по монтажу и установке MNGE
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="./img/agc/matelac/recycle.svg" alt="">
                <div class="item-text">
                    <div class="title">Зеркальное покрытие MNGE</div>
                    <div class="subtitle">
                        Является экологически чистым как в процессе производства так и в готовом продукте
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="./img/agc/matelac/scatter-graphic-circle.svg" alt="">
                <div class="item-text">
                    <div class="title">Однородный матовый вид</div>
                    <div class="subtitle">
                        Матовое покрытие имеет однородный вид, мягко рассеивая свет по всей поверхности
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="./img/agc/matelac/transparency.svg" alt="">
                <div class="item-text">
                    <div class="title">Базовое стекло Planibel Crystalvision</div>
                    <div class="subtitle">
                        Обеспечивает повышенный показатель цветопередачи. Передавая эффект серебряного зеркального покрытия максимально натурально, без искажений отражающей поверхности.
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="section before-after  mb50">
    <div class="container">
        <h2 class="matelac-title mb15 mt50">Было-стало</h2>
        <p class="matelac-subtitle mb50">Одно и тоже фото интерьера в сравнении со стеклами Matelac Silver Clear (1) и Matelac Silver Crystalvision (2)</p>

        <div class="" id="juxtapose">

        </div>
    </div>

</section>
<section class="section scope mb50">
    <div class="container">
        <h2 class="matelac-title mb15 mt50">Сфера применения</h2>
        <p class="matelac-subtitle mb50">Продукт прекрасно впишется как в частный, так и в коммерческий интерьер.
        </p>

        <div class="scope_list">
            <div class="item">
                <div class="bg" style="background-image: url('./img/agc/matelac/mat-2.jpg')"></div>
                <div class="item-info">
                    <div class="text">
                        Частный интерьер может быть представлен в виде шкафа купе, кухонных и мебельных фасадов.
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bg" style="background-image: url('./img/agc/matelac/mat-3.jpg')"></div>
                <div class="item-info">
                    <div class="text">
                        Коммерческий интерьер может быть прекрасно дополнен облицовкой стен и зон ресепшн с помощью Matelac.
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bg" style="background-image: url('./img/agc/matelac/mat-4.jpg')"></div>
                <div class="item-info">
                    <div class="text">
                        Продукт также прекрасно подойдёт для создания дверных полотен, полностью или частично состоящих из стекла.
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="section form-buttons mb50">
    <div class="container">
        <div class="buttons_list">
            <a href="#" class="item" data-open-modal-button="sample-form" data-effect-type="open-modal-fade-effect">
                <div class="bg" style="background-image: linear-gradient(0deg, rgba(201, 216, 223, 0.9), rgba(201, 216, 223, 0.9)), url(./img/agc/matelac/62.jpg);"></div>
                <div class="button">Заказать образец</div>
            </a>
            <a href="#" class="item" data-open-modal-button="manager-form" data-effect-type="open-modal-fade-effect">
                <div class="bg" style="background-image: linear-gradient(0deg, rgba(64, 103, 165, 0.9), rgba(64, 103, 165, 0.9)), url(./img/agc/matelac/62.jpg);"></div>
                <div class="button">Связаться с менеджером</div>
            </a>
            <a href="#" class="item" data-open-modal-button="question-form" data-effect-type="open-modal-fade-effect">
                <div class="bg" style="background-image: linear-gradient(0deg, rgba(0, 31, 107, 0.9), rgba(0, 31, 107, 0.9)), url(./img/agc/matelac/6.jpg);"></div>
                <div class="button">Задать вопрос</div>
            </a>
        </div>
    </div>

</section>


<section class="section materials mb50">
    <div class="container container-padding">
        <h2 class="matelac-title mb50">Материалы</h2>
        <div class="materials_list">
            <a href="/pdf/Matelac Silver Crystalvision commercial.pdf" target="_blank" class="item" download="Matelac Silver Crystalvision commercial.pdf">
                <span>Презентация.pdf</span>
                <img src="./img/agc/matelac/download.svg" alt="download">
            </a>
            <a href="#" class="item" download>
                <span>Руководство по обработке.pdf</span>
                <img src="./img/agc/matelac/download.svg" alt="download">
            </a>
            <a href="#" class="item" download>
                <span>Брошюра.pdf</span>
                <img src="./img/agc/matelac/download.svg" alt="download">
            </a>
        </div>
    </div>

</section>




<%= _.template(require('./../includes/footer.html').default)(data) %>
