<% var data = {
title: "Медиа | AGC Glass Russia",
url: "media.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/media/bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white">МЕДИА</h1>
</div>

<section class="section no-padding-top media-section">
    <div class="section-content">
        <div class="container">
            <div class="page-filter page-filter-links">
                <div class="page-filter-wrap padding-top">
                    <div class="page-filter_toggle hide-desktop">
                        <span>Фильтр</span>
                        <img src="./img/agc/filter-collapse-icon.svg" alt="arrow">
                    </div>
                </div>


                <div class="page-filter_list">

                    <div class="page-filter_row">
                        <a href="#" class="page-filter_item active">Все</a>
                        <a href="#" class="page-filter_item">Рекламные материалы</a>
                        <a href="#" class="page-filter_item">Руководства</a>
                        <a href="#" class="page-filter_item">Для СМИ</a>
                        <a href="#" class="page-filter_item">Мультимедиа</a>
                    </div>
                </div>
            </div>


            <div class="media-list">
                <div class="item">
                    <a href="" class="bg-wrap" target="_blank">
                        <div class="bg" style="background-image: url('./img/media/1.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                             <img src="./img/agc/icon-watch.svg" alt="watch">
                            <span>Смотреть</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Рекламные Материалы</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>

                <div class="item item-with-video">
                    <a href="" class="bg-wrap" target="_blank" data-effect-type="open-modal-fade-effect" data-open-modal-button="media-video-modal" data-video="1hxl0pED3gg">
                        <div class="bg" style="background-image: url('./img/media/2.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                            <img src="./img/agc/play.svg" alt="watch">
                            <span>Смотреть видео</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Видео</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <a href="" class="bg-wrap" target="_blank">
                        <div class="bg" style="background-image: url('./img/media/3.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                            <img src="./img/agc/icon-watch.svg" alt="watch">
                            <span>Смотреть</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Руководства</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <a href="" class="bg-wrap" target="_blank">
                        <div class="bg" style="background-image: url('./img/media/1.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                            <img src="./img/agc/icon-watch.svg" alt="watch">
                            <span>Смотреть</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Рекламные Материалы</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <a href="" class="bg-wrap" target="_blank">
                        <div class="bg" style="background-image: url('./img/media/2.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                            <img src="./img/agc/icon-watch.svg" alt="watch">
                            <span>Смотреть</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Рекламные Материалы</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <a href="" class="bg-wrap" target="_blank">
                        <div class="bg" style="background-image: url('./img/media/3.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                            <img src="./img/agc/icon-watch.svg" alt="watch">
                            <span>Смотреть</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Руководства</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <a href="" class="bg-wrap" target="_blank">
                        <div class="bg" style="background-image: url('./img/media/1.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                            <img src="./img/agc/icon-watch.svg" alt="watch">
                            <span>Смотреть</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Рекламные Материалы</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <a href="" class="bg-wrap" target="_blank">
                        <div class="bg" style="background-image: url('./img/media/2.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                            <img src="./img/agc/icon-watch.svg" alt="watch">
                            <span>Смотреть</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Рекламные Материалы</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <a href="" class="bg-wrap" target="_blank">
                        <div class="bg" style="background-image: url('./img/media/3.jpg')"></div>
                        <div class="overlay"></div>
                        <div class="info">
                            <img src="./img/agc/icon-watch.svg" alt="watch">
                            <span>Смотреть</span>
                        </div>
                    </a>

                    <div class="item-info">
                        <div class="text">
                            <a href="" class="title" target="_blank">Matelac Silver Crystalvision: новый декоративный продукт AGC</a>
                            <div class="type">Руководства</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <img src="./img/agc/icon-download.svg" alt="">
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
