<% var data = {
title: "Новости | AGC Glass Russia",
url: "news.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/news/news-bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white">Новости</h1>
</div>

<section class="section no-padding-top news-section">
    <div class="section-content">
        <div class="container">
            <div class="page-filter page-filter-links">
                <div class="page-filter-wrap padding-top">
                    <div class="page-filter_toggle hide-desktop">
                        <span>Фильтр</span>
                        <img src="./img/agc/filter-collapse-icon.svg" alt="arrow">
                    </div>
                </div>


                <div class="page-filter_list">

                    <div class="page-filter_row">
                        <a href="#" class="page-filter_item active">Все новости</a>
                        <a href="#" class="page-filter_item">Официальные новости</a>
                        <a href="#" class="page-filter_item">Блог компании</a>
                        <a href="#" class="page-filter_item">События</a>
                        <a href="#" class="page-filter_item">СМИ об AGC</a>
                        <a href="#" class="page-filter_item">Фотоотчеты</a>
                        <a href="#" class="page-filter_item">Видео отчеты</a>
                    </div>
                </div>
            </div>


            <!--<div class="loader"></div>
            <div class="repeat-btn">Повторить загрузку</div>-->
            <div class="news-list" id="news-list">

            </div>
        </div>

    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
