<% var data = {
title: "Карьера | AGC Glass Russia",
url: "career.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header news-header">
    <div class="page-header_bg" style="background-image: url('./img/news/news-1.jpg')"></div>
    <div class="page-header_overlay"></div>
    <p class="page-header_date">15 июля 2020</p>
    <h1 class="h1 page-header_title color-white">Matelac Silver Crystalvision: новый декоративный продукт AGC</h1>
</div>

<a href="#" class="news-btn news-prev">
    <img src="./img/agc/newsitem-read-more.svg" alt="">
    <span>Предыдущая новость</span>
</a>
<a href="#" class="news-btn news-next">
    <span>Следующая новость</span>
    <img src="./img/agc/newsitem-read-more.svg" alt="">
</a>

<section class="section no-padding-top">
    <div class="container container-sm">
        <div class="caption-with-line caption-black caption-no-overflow margin-bottom-x3 margin-top-x2">
            <h3 class="h3 color-text text-italic">
                Дизайн интерьеров, как и любая другая сфера современной жизни, находится в постоянном развитии. Для реализации оригинальных интерьерных проектов ведущие производители предлагают новые решения. В ответ на потребности рынка компания AGC разработала новый уникальный продукт. В этой статье мы подробно разберем для вас детали и возможности нового продукта, чтобы вдохновить на создание новых идей в интерьерном дизайне.
            </h3>
        </div>
        <p>
            Matelac Silver Crystalvision — это просветленное стекло с зеркальным покрытием с одной стороны и матированием с другой, которые в совокупности образуют матовый металлик нейтрального серебристого оттенка. Новый Matelac Silver Crystalvision объединяет в себе все лучшие интерьерные находки AGC: абсолютно нейтральное просветленное стекло Crystalvision, зеркальное покрытие MNGE и технику однородного матирования Matelux.
        </p>
        <p>
            Matelac Silver Crystalvision дополнил существующую линейку интерьерных продуктов на основе просветленного стекла Crystalvision. В отличие от стандартных продуктов линейки Matelac Silver, новый продукт отличает благородный «чистый» серебристый оттенок, что отличает её от цветовой версии Clear линейки Matelac Silver. Благодаря уникальным свойствам базового стекла Crystalvision нам удалось исключить возможные оттенки и придать продукту Matelac Silver Crystalvision абсолютную цветовую нейтральность. Таким образом в линейке декоративных продуктов на основе Crystalvision появился новый продукт, открывающий новые возможности оформления интерьера.
        </p>
        <p>
            Принципиальное отличие Matelac Silver Crystalvision от других матовых стёкол линейки Silver заключается в воплощении «чистого» металлика, именно такого, каким мы его привыкли видеть. Свет, попадающий на поверхность нового Matelac попадает в ловушку между зеркалом и матовой поверхностью, создавая эффект объема и мягкого распределения света по поверхности. Кроме неоспоримых эстетических преимуществ, матовая поверхность приятна не только глазу, но и на ощупь. Однородное матирование делает поверхность стекла бархатной.
        </p>
        <p>
            Сферы применения Matelac Silver Crystalvision разнообразны как в коммерческих, так и в частных интерьерах: шкафы купе, двери, обычные шкафы, кухонные и мебельные фасады, облицовка стен, оформление зоны ресепшн и множество других разнообразных решений, в которых цвет и глубина металлика имеют принципиальное значение!
        </p>

        <p>
            Внедрение этого продукта в интерьерные решения открывает новые возможности в оформлении интерьеров. Одним из таких вариантов может стать замена глянцевого пластика кухонного фасада на матовое стекло. Придать интерьеру особую эстетику можно при помощи комбинирования фактур и оттенков, а также сочетания Matelac Silver Crystalvision с глянцевой поверхностью стекла Lacobel. На наш взгляд, максимально удачно в интерьерных решениях Matelac Silver Crystalvision сочетаются с текстурами разных оттенков дерева, тканями, хромированными поверхностями и различными фактурными декорационными материалами.
        </p>
        <p>
            Фантазировать на тему интерпретаций внедрения новых продуктов можно бесконечно, но в нашем деле всегда важна практическая сторона вопроса, и мы надеемся, что совсем скоро увидим идеи и решения применения Matelac Silver Crystalvision в качестве материала для реализации новых оригинальных дизайн-концепций и проектов.
        </p>
        <p>
            Your Dreams, Our Challenge
        </p>


        <div class="news-footer margin-top-x3">
            <div class="news-footer_row">
                <span class="row-name">Рассказать :</span>
                <div class="news-socials">
                    <a href="#" class="facebook">Facebook</a>
                    <a href="#" class="twitter">Twitter</a>
                    <a href="#" class="email" data-effect-type="open-modal-fade-effect" data-open-modal-button="news-email-modal">Email</a>
                </div>
            </div>
            <div class="news-footer_row">
                <span class="row-name">Теги :</span>
                <div class="news-footer_tags">
                    <a href="#" class="button-link">Официальные новости</a>
                    <a href="#" class="button-link">Блог компании</a>
                </div>
            </div>
        </div>


    </div>
</section>

<section class="section no-padding-top news-section">
    <div class="section-content">
        <div class="container">
            <h2 class="h2 color-text">СВЕЖИЕ МАТЕРИАЛЫ:</h2>
            <div class="news-list">
                <a href="#"  class="item">
                    <div class="bg-wrap">
                        <div class="bg" style="background-image: url('./img/news/2.jpg')"></div>
                    </div>

                    <div class="item-info">
                        <div class="text">
                            <div class="title">Matelac Silver Crystalvision: новый декоративный продукт AGC</div>
                            <div class="date">15 июля 2020</div>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                            <span>Подробнее</span>
                        </div>
                    </div>
                </a>
                <a href="#"  class="item">
                    <div class="bg-wrap">
                        <div class="bg" style="background-image: url('./img/news/2.jpg')"></div>
                    </div>

                    <div class="item-info">
                        <div class="text">
                            <div class="title">Matelac Silver Crystalvision: новый декоративный продукт AGC</div>
                            <div class="date">15 июля 2020</div>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                            <span>Подробнее</span>
                        </div>
                    </div>
                </a>
                <a href="#"  class="item">
                    <div class="bg-wrap">
                        <div class="bg" style="background-image: url('./img/news/2.jpg')"></div>
                    </div>

                    <div class="item-info">
                        <div class="text">
                            <div class="title">Matelac Silver Crystalvision: новый декоративный продукт AGC</div>
                            <div class="date">15 июля 2020</div>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                            <span>Подробнее</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
