<% var data = {
title: "Политика конфиденциальности | AGC Glass Russia",
url: "privacy-policy.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/agc/career-bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
</div>

<section class="section no-padding-top service-section">
    <div class="container container-sm">
        <p class="h2 margin-top-x2 margin-bottom text-align-center">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ</p>
        <p class="h2 margin-top margin-bottom text-align-center">«ЭЙ ДЖИ СИ ФЛЭТ ГЛАСС КЛИН»</p>
        <p class="h2 margin-top margin-bottom-x2 text-align-center">(далее – «AGC»)</p>

        <p class="bold-text">Правила хранения персональных данных, действующие на данном Веб-сайте</p>
        <p class="bold-text">1. О настоящих правилах</p>

        <p>1.1 Данные правила хранения персональных данных («Правила») разъясняют как мы (в соответствие с определением ниже) осуществляем сбор, обмен и использование любой информации, которая сама
            по себе или в сочетании с иной информацией касается вас («Персональные данные»), когда вы (далее «вы», «ваш») пользуетесь нашим веб-сайтом <a href="agc-info.ru">agc-info.ru</a> (Веб-сайт).
        </p>

        <p>
            1.1 Данные правила хранения персональных данных («Правила») разъясняют как мы (в соответствие с определением ниже) осуществляем сбор, обмен и использование любой информации, которая сама
            по себе или в сочетании с иной информацией касается вас («Персональные данные»), когда вы (далее «вы», «ваш») пользуетесь нашим веб-сайтом agc-info.ru (Веб-сайт).
        </p>
        <p>
            1.2 В настоящих правилах также разъясняются права, которыми вы обладаете в отношении ваших Персональных данных, находящихся в нашем распоряжении, а также способы реализации данных прав.
        </p>
        <p>
            1.3 AGC серьезно подходит к выполнению своих обязательств в области конфиденциальности личных данных. По этой причине мы разработали эти правила, где описываются стандарты, которыми мы
            руководствуемся в AGC для защиты Персональных данных.
        </p>
        <p>
            1.4 Для целей настоящих правил, Общество с ограниченной ответственностью «Эй Джи Си Флэт Гласс Клин», расположенное по адресу 141667, Московская обл., Клинский р-н, с. Спас-Заулок, ул.
            Сосновый бор, д. 36, и зарегистрированное в Государственном реестре юридических лиц под номером 1035003950321, ИНН 5020033028 («AGC», «мы» в разных падежах, или «наш» ) выступает как
            оператор Персональных данных, которые собираются через наш Веб-сайт. Выступая в качестве оператора Персональных данных, AGC несет ответственность за то, чтобы обработка Персональных данных
            проходила в соответствии с Федеральным законом «О персональных данных» от 27.07.2006 № 152-ФЗ (далее – «Закон о ПД»).
        </p>

        <p>
            1.5 Пожалуйста прочтите эти правила внимательно. Если у вас возникнут любые вопросы или комментарии, свяжитесь с нашим отделом ISM по адресу Office@eu.agc.com и (или) собственником
            Веб-сайта по адресу vopros@eu.agc.com.
        </p>


        <p class="bold-text margin-top-x2">2. Сбор каких Персональных данных осуществляет AGC и зачем?</p>


        <p>
            2.1 Ваши Персональные данные, которые мы можем собирать, а также причины, по которым мы их обрабатываем:
        </p>

        <div class="service-item">
            <table class="service-item_table policy-table cols-3">
                <thead>
                <tr>
                    <th>Зачем мы их собираем</th>
                    <th>Типы Персональных данных</th>
                    <th>Правовое основание</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        предоставление вам информации о нашей продукции и услугах
                    </td>
                    <td>
                        ФИО, электронный адрес, должность, IP-адрес, номер телефона
                    </td>
                    <td>
                        Ваше согласие
                    </td>
                </tr>
                <tr>
                    <td>
                        связь с вами по вашему запросу
                    </td>
                    <td>
                        ФИО, электронный адрес, должность, IP-адрес, номер телефона
                    </td>
                    <td>
                        Ваше согласие
                    </td>
                </tr>
                <tr>
                    <td>
                        администрирование нашего Веб-сайта
                    </td>
                    <td>
                        IP-адрес
                    </td>
                    <td>
                        Ваше согласие
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <p>
            2.2 Некоторую информацию от вашего устройства мы можем получать автоматически. В частности, мы можем автоматически получать ваш IP-адрес, тип устройства, уникальный идентификационный номер
            устройства, тип браузера, общее географическое расположение (на уровне страны или города) и иную информацию технического характера. Мы также можем получать информацию о том, как ваше
            устройство взаимодействовало с нашим веб-сайтом, в том числе о том, какие страницы были посещены и по каким ссылкам осуществлен переход.
        </p>
        <p>
            Благодаря сбору данной информации мы можем лучше понять, кто пользуется нашим сайтом, откуда наши посетители и какая информация на веб-сайте их интересует. Мы используем эту информацию для
            внутренних аналитических целей для того, чтобы повысить качество и актуальность нашего веб-сайта для пользователей.
        </p>
        <p>
            Некоторые сведения могут быть получены через файлы «cookie» или через другие подобные технологии, как разъясняется в разделе «Файлы «cookie» и иные подобные технологии отслеживания» ниже.
        </p>
        <p>
            2.3 Время от времени мы можем получать Персональные данные о вас от третьих лиц, но мы обязательно предварительно проверяем, что данные третьи лица заручились вашим согласием либо имеют
            иное
            юридическое основание, чтобы раскрывать нам ваши Персональные данные.
        </p>
        <p>
            Персональные данные, которые мы получаем от третьих лиц включают ФИО, почтовый адрес, номер телефона, электронный адрес, мы используем Персональные данные, полученные от третьих лиц для
            того,
            чтобы поддержать и повысить точности информации о вас, которой мы располагаем.
        </p>
        <p>
            2.4 Как правило мы используем Персональные данные, которые получаем от вас, только для целей, описанных в настоящих Правилах, либо для целей, которые мы разъясняем вам при получении
            Персональных данных. Однако, мы можем использовать ваши Персональные данные и для иных целей, которые совместимы с теми целями, которые мы вам привели (например, архивирование информации в
            общественных интересах, проведение научных или исторических исследований, для статистических целей), когда это позволяет применимое законодательство в области защиты данных.
        </p>


        <p class="bold-text margin-top-x2"> 3. С кем AGC делится вашими Персональными данными?</p>

        <p>3.1 Мы можем раскрывать ваши Персональные данные следующим категориям получателей:</p>

        <ul>
            <li>
                <b>компаниям нашей группы для целей</b>, которые соответствуют настоящим Правилам. Мы принимаем необходимые меры предосторожности, чтобы доступ к Персональным данным был только у тех
                сотрудников,
                которым это необходимо в соответствии с определенными должностными обязанностями и в отношении которых действуют подписанные соглашения о запрете на использование Персональных данных для любых
                прочих целей.
            </li>
            <li>
                <b>нашим поставщикам и партнерам</b>, которые оказывают нам услуги по обработке данных, либо которые осуществляют обработку Персональных данных для целей, описанных в настоящих Правилах,
                либо о
                которых вас уведомляют при сборе Персональных данных. Это может касаться раскрытия информации третьим сторонам — поставщикам услуг, таких как поддержка в управлении информационными
                платформами, услуги по информационно-технической поддержке, услуги в области инфраструктуры и приложений, маркетинг и анализ данных в случае, если эти сведения необходимы для оказания нам
                данных услуг,
            </li>
            <li>
                <b>Любым компетентным правоприменительным органам, надзорным органам, правительственным ведомствам, судам и другим третьим лицам</b>, когда, по нашему мнению, необходимо раскрыть данные
                (i) в
                соответствии с действующим законодательством или регламентом, (ii) для реализации, выполнения и защиты наших законных прав или (iii) для защиты ваших жизненных интересов или жизненных
                интересов любого третьего лица;
            </li>
            <li>
                <b>нашим аудиторам, консультантам, юридическим представителям и другим подобным агентам </b>в связи с оказываемыми ими консалтинговыми услугами для законных бизнес-целей, с подписанным
                соглашением о
                запрете использования Персональных данных для любых иных целей;
            </li>
            <li>
                <b>потенциальным покупателям</b> (а также их агентам и консультантам) в связи с любой потенциальной покупкой, слиянием или приобретением любой доли нашего бизнеса, при условии, что мы
                проинформируем
                покупателя о том, что он обязан использовать ваши Персональные данные только для целей, обозначенных в настоящих Правилах;
            </li>
            <li>
                любым иным лицам при условия вашего предварительного согласия на такое раскрытие.
            </li>
        </ul>


        <p class="bold-text margin-top-x2">4. Как мы обеспечиваем конфиденциальность ваших данных</p>

        <p>4.1 Мы обрабатываем ваши Персональные данные в соответствии с настоящими правилами следующим образом</p>

        <ul>
            <li>
                <b>Добросовестность:</b> Мы обрабатываем ваши Персональные данные исходя из принципов добросовестности. Это означает, мы открыто сообщаем о том, как осуществляется обработка Персональных
                данных, а также обеспечиваем их обработку в соответствии с действующим законодательством.
            </li>
            <li>
                <b>Ограничения по цели использования;</b> Мы производим обработку Персональных данных для обозначенных законных целей, их обработка осуществляется только таким способом, который совместим
                с данными целями.
            </li>
            <li>
                <b>Соразмерность:</b> Обработка Персональных данных осуществляется соразмерно целям, которых предполагается достичь в результате такой обработки.
            </li>
            <li>
                <b>Точность данных:</b> Мы принимаем соответствующие меры, чтобы обеспечить точность, полноту и, при необходимости, актуальность имеющихся в нашем распоряжении Персональных данных.
                Однако, вы также несете ответственность за то, чтобы ваши Персональные данные, находящиеся в нашем распоряжении, были точны, полны и как можно более актуальны, для чего вы можете информировать AGC о любых изменениях или ошибках.
            </li>
            <li>
                <b>Безопасность данных:</b> Мы используем соответствующие технические и организационные меры для защиты ваших Персональных данных, сбор и хранение которых мы осуществляем. Используемые
                нами меры призваны обеспечить уровень безопасности, который соответствует рискам при обработке ваших Персональных данных.
            </li>
            <li>
                <b>Обработчики персональных данных:</b> Мы можем обращаться к третьим лицам для обработки Персональных данных для AGC и от нашего имени. Мы требуем от обработчиков действовать строго в
                соответствии с нашими указаниями и предпринимать необходимые меры для обеспечения защиты Персональных данных.
            </li>
            <li>
            <b>Передача данных за границу:</b> Ваши Персональные данные могут передаваться и обрабатываться в стране, не являющейся страной вашего постоянного проживания. Законы данных стран в области
            защиты персональных данных отличаются от законов вашей страны (и в некоторых случаях предоставляют более низкий уровень защиты). В частности, наши сервера располагаются в Российской
            Федерации, а компании нашей группы, наши внешние поставщики услуг и партнеры действуют по всему миру.  Это означает, что, получив от вас Персональные данные, мы можем обрабатывать их в любой из этих стран. Однако, мы приняли необходимые меры предосторожности, чтобы обеспечить защиту ваших Персональных данных в соответствии с данными Правилами. К таким мерам относится, в частности, соглашение по передаче данных внутри группы (<b>Рамочное соглашение по передаче данных внутри группы</b>), в основу которого положены стандартные договорные условия Европейской комиссии для передачи персональных данных между компаниями нашей группы, и которые требуют от всех компаний группы обеспечить защиту Персональных данных из Европейской экономической зоны в соответствии с законодательством по защите данных Европейского союза.
            <li>
                По запросу мы можем предоставить текст нашего Рамочного соглашения по передаче данных внутри группы. Аналогичные меры предосторожности мы приняли и в отношении наших сторонних поставщиков и партнеров.
            </li>
            <li>
                <b>Хранение данных:</b> Мы сохраняем получаемые от вас Персональные данные, когда у нас есть в этом обоснованная бизнес-потребность (например, мы должны предоставить вам услугу, которую
                вы запросили, либо от нас требуется соответствие действующим юридическим, налоговым и бухгалтерским требованиям). Когда у нас отсутствует обоснованная бизнес-потребность в обработке ваших Персональных данных, мы либо удаляем их, либо делаем анонимными, либо, если это невозможно (например, потому что ваши Персональные данные были сохранены в архив), мы обеспечиваем безопасное хранение ваших Персональных данных, и предотвращаем их дальнейшую обработку до тех пор, пока не станет возможным их удалить.
            </li>
        </ul>



        <p class="bold-text margin-top-x2">5. Ваши права в области защиты персональных данных</p>

        <p>5.1 У вас есть следующие права в области защиты персональных данных:</p>

        <ul>
            <li>
                Если вы захотите получить доступ, внести исправления, обновить или потребовать удалить ваши Персональные данные, вы можете в любое время сделать это, связавшись с нашим отделом ISM Office@eu.agc.com либо с вашим контактным лицом в AGC.
            </li>
            <li>
                Кроме того, в некоторых случаях, вы можете <b>выразить свое несогласие с обработкой</b> ваших Персональных данных, потребовать <b>ограничить обработку</b> ваших Персональных данных либо
                <b>передать
                    копию ваших Персональных данных другой компании</b>. Чтобы реализовать эти права, вы можете связаться с нашим отделом ISM Office@eu.agc.com, либо с вашим контактным лицом в AGC.
            </li>
            <li>
                Хотя мы осуществляем сбор и обработку ваших Персональных данных с вашего согласия, вы можете отозвать ваше согласие в любое время. Отзыв вашего согласия никак не повлияет на законность обработки данных, которую мы провели до того, как был произведен отзыв, он также не повлияет на обработку ваших Персональных данных на иных законных основаниях, не требующих согласия.
            </li>
            <li>
                Вы имеете право в любое время <b>отказаться от маркетинговых сообщений</b>, которые мы вам отсылаем. Для того, чтобы воспользоваться этим правом, вы можете перейти по ссылке «отписаться»
                (unsubscribe) или «отказаться» (opt-out) в маркетинговых сообщениях, которые мы вам присылаем.  Чтобы отказаться от иных видов маркетинговой коммуникации (от рассылок по обычной почте или от телефонных звонков), свяжитесь с нами, используя контактную информацию выше.
            </li>
            <li>
                <b>Безопасность данных:</b> Мы используем соответствующие технические и организационные меры для защиты ваших Персональных данных, сбор и хранение которых мы осуществляем. Используемые
                нами меры призваны обеспечить уровень безопасности, который соответствует рискам при обработке ваших Персональных данных.
            </li>
            <li>
                Если вы обеспокоены тем, как мы обрабатываем ваши Персональные данные, либо хотите подать жалобу, мы сделаем все возможно, чтобы снять это беспокойство. Если вы считаете, что мы не
                отреагировали должным образом на вашу обеспокоенность или жалобу, у вас есть право подать жалобу в <b>надзорный орган по соблюдению законодательства о защите персональных данных</b> о том, как мы собираем и используем ваши Персональные данные. Для дополнительной информации свяжитесь с вашим местным надзорным органом по соблюдению законодательства о защите персональных данных. (Контактные данные надзорных органов по соблюдению законодательства о защите персональных данных Европейской экономической зоны, Швейцарии и некоторые неевропейских стран (США и Канады) можно найти здесь.)
            </li>

        </ul>

        <p>5.2 Мы реагируем на все запросы, которые мы получаем от желающих воспользоваться своим правом на защиту персональных данных в соответствии с существующим законодательством в области защиты данных.</p>




        <p class="bold-text margin-top-x2">6. Ссылки на другие веб-сайты</p>

        <p>6.1 На Веб-сайте могут содержаться гиперссылки, ведущие на веб-сайты, которые принадлежат третьим лицам и ими управляются. У данных веб-сайтов существуют собственные правила в области защиты персональных данных, и мы призываем вас ознакомиться с ними. Данные правила будут регламентировать использование переданных вами в ходе пользования данными веб-сайтами Персональных данных. </p>

        <p>
            Мы не несем никакой ответственности за правила в отношении персональных данных, действующие на данных третьих веб-сайтах, вы можете посещать данные веб-сайты, принимая на себя весь риск.
        </p>

        <p class="bold-text margin-top-x2">7. Обновление данной политики</p>

        <ul>
            <li>
                Мы можем время от времени вносить модификации в настоящие правила, реагируя на изменения в законодательстве, технологиях и бизнес-климате. При их обновлении мы предпримем необходимые меры для того, чтобы вас об этом проинформировать, соразмерно важности произведенных изменений. Мы будем просить вашего согласия на любые существенные изменения в настоящих Правилах, если этого требуют соответствующие законы по защите данных
            </li>
            <li>
                Вы можете увидеть дату последнего обновления Правил в разделе «последнее обновление» вверху этой страницы.
            </li>
        </ul>







    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
