<% var data = {
title: "CRYSTALVISION INTERIOR | AGC Glass Russia",
url: "products-detail.html",
header: "black",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header">
    <div class="page-header_bg"></div>
</div>

<section class="section no-padding-top no-padding-bottom products-detail">
    <div class="container">
        <div class="products-detail-row">
            <div class="products-detail-part">
                <h1 class="h1 color-text margin-top">CRYSTALVISION ARCHITECTURAL</h1>

                <div class="caption-with-line caption-middle-line caption-black margin-top margin-bottom">
                    <p class="caption-text bold-text">Сотрите границы между вами и удивительным внешним миром</p>
                </div>

                <div class="products-detail_tabs">
                    <div class="tab">
                        <div class="tab_header">
                            <span class="title">О продукте</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="tab_content">
                            <p class="bold-text">Для совершенства не существует границ: просветленное стекло Crystalvision от AGC и его безграничная прозрачность</p>
                            <p>Стекло Crystalvision появилось в мире дизайна интерьеров решительно и уверенно. Инновации — это всегда риск, но Crystalvision с первого мгновения расположил к себе всех именитых дизайнеров и архитекторов.</p>
                            <p>Первое просветленное стекло появилось в России летом 2017, и за полтора года нашло свое применение в десятках удивительных знаковых проектах по всей России. Парк Зарядье, который стал победителем в номинации «Общественные пространства» международного архитектурного конкурса Building of the Year в 2018 году, построен с использованием кристально чистого стекла Crystalvision от AGC. Материал украсил экстерьеры и интерьеры урбанистического парка.</p>

                            <p class="bold-text">Для совершенства не существует границ: просветленное стекло Crystalvision от AGC и его безграничная прозрачность</p>
                            <p>Стекло Crystalvision появилось в мире дизайна интерьеров решительно и уверенно. Инновации — это всегда риск, но Crystalvision с первого мгновения расположил к себе всех именитых дизайнеров и архитекторов.</p>
                            <p>Первое просветленное стекло появилось в России летом 2017, и за полтора года нашло свое применение в десятках удивительных знаковых проектах по всей России. Парк Зарядье, который стал победителем в номинации «Общественные пространства» международного архитектурного конкурса Building of the Year в 2018 году, построен с использованием кристально чистого стекла Crystalvision от AGC. Материал украсил экстерьеры и интерьеры урбанистического парка.</p>
                        </div>
                    </div>

                    <div class="tab">
                        <div class="tab_header">
                            <span class="title">Показатели</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="tab_content">
                            <table class="indicators-table">
                                <thead>
                                    <tr>
                                        <th>Показатель</th>
                                        <th></th>
                                        <th>Обычный стеклопакет</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>LT</span>
                                            <span class="small">светопропускание</span>
                                        </td>
                                        <td class="number"><91%</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>CRI</span>
                                            <span class="small">индекс цветопередачи</span>
                                        </td>
                                        <td class="number">100%</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="tab">
                        <div class="tab_header">
                            <span class="title">Доступные оттенки</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="tab_content">
                            <div class="colors" id="slider-colors">
                                <div class="item active" data-slide="0">
                                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                                        <div class="border"></div>
                                        <span>RU</span>
                                    </div>
                                    <div class="desc">
                                        Planibel Crystalvision 4 мм
                                    </div>
                                </div>
                                <div class="item" data-slide="1">
                                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                                        <div class="border"></div>
                                        <span>RU</span>
                                    </div>
                                    <div class="desc">
                                        Planibel Crystalvision 4 мм
                                    </div>
                                </div>
                                <div class="item" data-slide="2">
                                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                                        <div class="border"></div>
                                        <span>RU</span>
                                    </div>
                                    <div class="desc">
                                        Planibel Crystalvision 4 мм
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab">
                        <div class="tab_header">
                            <span class="title">Преимущества</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="tab_content">
                            <ul class="advantages-list">
                                <li>
                                    Высокий индекс цветопередачи (100%)
                                </li>
                                <li>
                                    Объекты и их цвет выглядят ярко и натурально через стекло
                                </li>
                                <li>
                                    Точная передача цвета при окрашивании и печати
                                </li>
                                <li>
                                    Кристальная чистота
                                </li>
                                <li>
                                    Отсутствие голубого или зеленого оттенка
                                </li>
                                <li>
                                    Эстетичный вид кромки стекла при использовании в интерьере (столы, двери, балюстрады и.т.д.)
                                </li>
                                <li>
                                    Максимальная нейтральность
                                </li>
                                <li>
                                    Позволяет показать продукцию максимально четко при использовании в остеклении витрин
                                </li>
                                <li>
                                    Сохраняет нейтральность при использовании с мультифункциональными покрытиями в составе стеклопакета
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab">
                        <div class="tab_header">
                            <span class="title">Документы</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="tab_content">
                            <div class="tab_links">
                                <a href="#" target="_blank" download>презентация_crystalvision.pdf</a>
                                <a href="#" target="_blank" download>техническое_свидетельство_беларусь_clearvision_17-22.pdf</a>
                                <a href="#" target="_blank" download>сертификат_соответствия_crystalvision_19-22.pdf</a>
                                <a href="#" target="_blank" download>видео_crystalvision_градиент.mp4</a>
                                <a href="#" target="_blank" download>буклет_технические_характеристики_coatings_crystalvision.pdf</a>
                                <a href="#" target="_blank" download>буклет_crystalvision.pdf</a>
                                <a href="#" target="_blank" download>арх_буклет_planibel_crystalvision.pdf</a>
                            </div>
                        </div>
                    </div>

                    <div class="tab">
                        <div class="tab_header">
                            <span class="title">Медиа</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="tab_content">
                            <div class="tab_links">
                                <a href="https://www.youtube.com/watch?v=Gmmobxf4WTk" target="_blank">https://www.youtube.com/watch?v=Gmmobxf4WTk</a>
                                <a href="https://www.youtube.com/watch?v=wPi_cWsMU-w" target="_blank">https://www.youtube.com/watch?v=wPi_cWsMU-w</a>
                                <a href="https://www.youtube.com/watch?v=2BACwLhMd-w&t=15" target="_blank">https://www.youtube.com/watch?v=2BACwLhMd-w&t=15</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-detail-part">
                <div class="products-detail_sticky">
                    <div class="products-detail_slider-wrap">
                        <div id="products-detail_slider" class="products-detail_slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide" style="background-image: url('./img/products/s1.jpg')">
                                        <div class="info">
                                            <div class="img" style="background-image: url('./img/products/slide.jpg')"></div>
                                            <div class="desc">Planibel Crystalvision 4 мм</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide" style="background-image: url('./img/products/s2.jpg')">
                                        <div class="info">
                                            <div class="img" style="background-image: url('./img/products/slide.jpg')"></div>
                                            <div class="desc">Planibel Crystalvision 6 мм</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide" style="background-image: url('./img/products/s3.jpg')">
                                        <div class="info">
                                            <div class="img" style="background-image: url('./img/products/slide.jpg')"></div>
                                            <div class="desc">Planibel Crystalvision 8 мм</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-arrows">
                            <div class="swiper-button swiper-button-prev">
                                <img src="./img/agc/newsitem-read-more.svg" alt="">
                            </div>
                            <div class="swiper-button swiper-button-next">
                                <img src="./img/agc/newsitem-read-more.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <a href="#" class="button big margin-right" data-effect-type="open-modal-fade-effect" data-open-modal-button="products-modal">Связаться с менеджером региона</a>
                    <a href="#" class="button big" download target="_blank">Скачать буклет</a>


                </div>
            </div>
        </div>
    </div>
</section>


<section class="section ro no-padding-bottom no-padding-top">
    <div class="container">
        <h1 class="h1 color-text margin-top-x2 margin-bottom-x2">РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</h1>
    </div>

    <div class="ro_list">
        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/1.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/2.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/3.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/4.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/1.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/2.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/3.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/4.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/1.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>

        <div class="item">
            <div class="bg" style="background-image: url('./img/projects/2.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <a href="#">Архитектурный проект</a>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <a href="#" class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
