<% var data = {
title: "Продукция | AGC Glass Russia",
url: "products.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/products/bg.jpg')"></div>
    <h1 class="h1 page-header_title color-white">ПРОДУКЦИЯ</h1>
</div>

<section class="section no-padding-top no-padding-bottom">
    <div class="section-content">
        <div class="container">
            <div class="page-filter">
                <div class="page-filter-wrap padding-top-x3">
                    <div class="page-filter_toggle">
                        <span>Фильтр</span>
                        <img src="./img/agc/filter-collapse-icon.svg" alt="arrow">
                    </div>
                </div>


                <div class="page-filter_list">
                    <div class="page-filter_switches">
                        <div class="page-filter_row">
                            <a href="" class="page-filter_item" data-id="1">Весь ассортимент</a>
                            <a href="" class="page-filter_item" data-id="2">По типу стекла</a>
                            <a href="" class="page-filter_item" data-id="3">По функциям</a>
                        </div>
                    </div>


                    <div class="page-filter_tab" data-tab="2">
                        <div class="page-filter_row">
                            <div class="page-filter_category">
                                По типу стекла:
                            </div>
                            <a href="" class="page-filter_item active">Все стекла</a>
                            <a href="" class="page-filter_item">Архитектурное</a>
                            <a href="" class="page-filter_item">Интерьерное</a>
                        </div>
                    </div>

                    <div class="page-filter_tab" data-tab="3">
                        <div class="page-filter_row">
                            <div class="page-filter_category">
                                По функциональному
                                назначению:
                            </div>
                            <a href="" class="page-filter_item active">Все стекла</a>
                            <a href="" class="page-filter_item">Просветленное</a>
                        </div>

                        <div class="page-filter_row">
                            <a href="" class="page-filter_item">Мультифункциональное</a>
                            <a href="" class="page-filter_item">Энергосберегающее</a>
                            <a href="" class="page-filter_item">Солнцезащитное</a>
                        </div>

                        <div class="page-filter_row">
                            <a href="" class="page-filter_item">Безопасное</a>
                            <a href="" class="page-filter_item">Шумозащитное</a>
                            <a href="" class="page-filter_item">Огнестойкое</a>
                            <a href="" class="page-filter_item">Интерактивное</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="products_list">
                <div class="row">
                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>

                    <div class="col w-25 w-33-tablet w-33-dsmall w-50-mb">
                        <a href="#" class="products_item">
                            <div class="bg" style="background-image: url('./img/agc/matelac/42.jpg')"></div>
                            <div class="overlay"></div>
                            <div class="info">
                                <div class="subtitle">Сотрите границы между вами и удивительным внешним миром</div>
                                <div class="title">MATELAC SILVER CRYSTALVISION</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
