<% var data = {
title: "PLANIBEL CRYSTALVISION INTERIOR | AGC Glass Russia",
url: "product.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="page-header product-page product-header">
    <div class="page-header_bg" style="background-image: url('./img/products-new/prod-bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white page-header_title--center">
        <span>PLANIBEL CRYSTALVISION INTERIOR</span>
        <p class="page-header_subtitle color-white">Сотрите границы между вами и удивительным внешним миром</p>
        <a href="#" class="page-header_tag-link color-white">доступен на Planibel Crystalvision</a>
    </h1>

</div>
<section class="section product-page product-nav">
    <div class="product-nav_wrap">
        <a href="#product-about" class="active">Описание</a>
        <a href="#product-glasses">Вариации стекла</a>
        <a href="#product-area">Область применения</a>
        <a href="#product-slider">Внешний вид</a>
        <a href="#product-advantages">Преимущества</a>
        <a href="#product-info">Информация</a>
        <a href="#product-projects">Выполненные проекты</a>
    </div>
</section>
<section id="product-about" class="section product-page product-about" >
    <div class="container">
        <div class="product-about_wrap">
            <div class="product_title">О продукте</div>
            <div class="product-about_info">
                <div class="text">
                   <p> Для совершенства не существует границ: просветленное стекло Crystalvision от AGC и его безграничная прозрачность</p>

                   <p> Стекло Crystalvision появилось в мире дизайна интерьеров решительно и уверенно. Инновации — это всегда риск, но Crystalvision с первого мгновения расположил к себе всех
                    именитых дизайнеров и архитекторов.</p>

                   <p> Первое просветленное стекло появилось в России летом 2017, и за полтора года нашло свое применение в десятках удивительных знаковых проектах по всей России. Парк Зарядье,
                    который стал победителем в номинации «Общественные пространства» международного архитектурного конкурса Building of the Year в 2018 году, построен с использованием кристально чистого стекла Crystalvision от AGC. Материал украсил экстерьеры и интерьеры урбанистического парка.</p>

                    <p class="hide-mobile">Planibel Crystalvision — это архитектура и дизайн будущего.</p>

                    <p class="hide-mobile">Стекло сегодня — это прямая дефиниция слову «перспектива». Современный материал покоряет современные, футуристические фасады, формирует конструкции общественных пространств и
                            вдохновляет дизайнеров на создание уникальных интерьерных предметов из стекла. На последней выставке iSaloni в Милане, AGC представили конструкцию из стекла, трансформирующую звуковые потоки. Чем удивит выставка 2019 года? Остается только гадать.</p>

                    <p class="hide-mobile">Crystalvision — универсальность, представленная в уникальности.</p>

                   <p class="hide-mobile"> Стекло — привычный и понятный материал. Однако его современное применение немного выходит за рамки традиционного.</p>

                   <p class="hide-mobile"> Тоже самое происходит и с самим материалом. На рынке уже появились десятки декоративных стеклянных продуктов, которые далеки от того обычного стекла, к которому мы привыкли.</p>

                    <p class="hide-mobile">Зеленоватый или желтоватый оттенок стекла воспринимается, как норма, ввиду химических примесей. Но Crystalvision пришло, чтобы сломать привычные рамки.</p>

                   <p class="hide-mobile"> 100% индекс цветопередачи и полное отсутствие оттенков — главные преимущества Crystalvision.</p>

                   <p class="hide-mobile"> Чистота и прозрачность такого стекла позволяет применять его практически в любых проектах: как архитектурных, так и интерьерных. Эти свойства позволяют назвать Crystalvision
                    универсальным стеклом даже при всей своей необыкновенной уникальности.</p>


                   <p class="hide-mobile"> Planibel Crystalvision — стекло с показателями максимальной нейтральности.</p>

                   <p class="hide-mobile"> Нейтральность, глобальность и разносторонность Crystalvision делают его прекрасным базовым решением для создания декоративной продукции на основе просветленного стекла.
                    Стабильность локального производства позволяет выпускать линейку классического просветлённого стекла и 5 видов интерьерных продуктов на основе Crystalvision.</p>

                    <div class="show-more hide-desktop" id="show-more">
                        <span>Показать больше</span>
                        <img alt="" src="./img/agc/newsitem-read-more-black.svg">
                    </div>
                </div>
                <div class="buttons">
                    <a href="#" class="item" data-open-modal-button="sample-form" data-effect-type="open-modal-fade-effect">
                        <div class="content">
                            <img src="./img/products-new/icons/icon1.svg" alt="">
                            <span>Заказать образец</span>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                        </div>
                    </a>
                    <a href="/glass-bus" class="item" >
                        <div class="content">
                            <img src="./img/products-new/icons/icon2.svg" alt="">
                            <span>Заказать Glass Bus</span>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                        </div>
                    </a>
                    <a href="#" class="item" data-open-modal-button="manager-form" data-effect-type="open-modal-fade-effect">
                        <div class="content">
                            <img src="./img/products-new/icons/icon3.svg" alt="">
                            <span>Связаться с менеджером</span>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="product-glasses" class="section product-page product-glasses">
    <div class="container">
        <div class="product-glasses_top">
            <div class="product_title">Вариации Стекла
            </div>
            <div class="product-glasses_tabs" id="product-glasses_tabs">
                <div class="item active" data-slide="0">
                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                        <div class="border"></div>
                        <span>RU</span>
                    </div>
                    <div class="desc">
                        Planibel Crystalvision 4 мм
                    </div>
                </div>
                <div class="item" data-slide="1">
                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                        <div class="border"></div>
                        <span>RU</span>
                    </div>
                    <div class="desc">
                        Planibel Crystalvision 6 мм
                    </div>
                </div>
                <div class="item" data-slide="2">
                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                        <div class="border"></div>
                        <span>RU</span>
                    </div>
                    <div class="desc">
                        Planibel Crystalvision 8 мм
                    </div>
                </div>
                <div class="item" data-slide="3">
                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                        <div class="border"></div>
                        <span>RU</span>
                    </div>
                    <div class="desc">
                        Planibel Crystalvision 10 мм
                    </div>
                </div>
            </div>
        </div>
        <div class="product-glasses_slider" id="product-glasses_slider" >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-top">
                            <div class="slide-top_img" style="background-image: url('./img/products-new/glass.png')">
                            </div>
                            <div class="slide-top_desc">
                                <div class="caption">Технические Характеристики</div>
                                <div class="desc-list">
                                    <div class="item">
                                        <div class="name">Базовое стекло:</div>
                                        <div class="info">Planibel Clear, Crystalvision</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Производство:</div>
                                        <div class="info">РФ</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Доступные толщины:</div>
                                        <div class="info">4-10 мм</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Форматы:</div>
                                        <div class="info">3210 x 6000, 3210 x 3650</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Удаление кромки:</div>
                                        <div class="info">Требуется</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Использование в СП:</div>
                                        <div class="info">#2 Позиция</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Переработка:</div>
                                        <div class="info">Стеклопакет, Закаливание,
                                            Ламинирование, HST-Тест, Моллирование</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-bottom">
                            <div class="item">
                                <div class="circle-item" data-percent="70">
                                    <span class="counter">70%</span>
                                </div>
                                <div class="text">
                                    Светопропускание
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item" data-percent="13">
                                    <span class="counter">13%</span>
                                </div>
                                <div class="text">
                                    Рефлективность

                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item" data-percent="40">
                                    <span class="counter">40%</span>
                                </div>
                                <div class="text">
                                    Солнцезащита
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-item">
                                    <span class="counter">Uv = 1.0</span>
                                    <span class="counter">Ro = 0.65</span>
                                </div>
                                <div class="text">
                                    Энергоэффективность
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-top">
                            <div class="slide-top_img" style="background-image: url('./img/products-new/glass.png')">
                            </div>
                            <div class="slide-top_desc">
                                <div class="caption">Технические Характеристики</div>
                                <div class="desc-list">
                                    <div class="item">
                                        <div class="name">Базовое стекло:</div>
                                        <div class="info">Planibel Clear, Crystalvision</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Производство:</div>
                                        <div class="info">РФ</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Доступные толщины:</div>
                                        <div class="info">4-10 мм</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Форматы:</div>
                                        <div class="info">3210 x 6000, 3210 x 3650</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Удаление кромки:</div>
                                        <div class="info">Требуется</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Использование в СП:</div>
                                        <div class="info">#2 Позиция</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Переработка:</div>
                                        <div class="info">Стеклопакет, Закаливание,
                                            Ламинирование, HST-Тест, Моллирование</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-bottom">
                            <div class="item">
                                <div class="circle-item" data-percent="95">
                                    <span class="counter">95%</span>
                                </div>
                                <div class="text">
                                    Светопропускание
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item" data-percent="13">
                                    <span class="counter">13%</span>
                                </div>
                                <div class="text">
                                    Рефлективность

                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item" data-percent="51">
                                    <span class="counter">51%</span>
                                </div>
                                <div class="text">
                                    Солнцезащита
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-item">
                                    <span class="counter">Uv = 1.0</span>
                                    <span class="counter">Ro = 0.65</span>
                                </div>
                                <div class="text">
                                    Энергоэффективность
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-top">
                            <div class="slide-top_img" style="background-image: url('./img/products-new/glass.png')">
                            </div>
                            <div class="slide-top_desc">
                                <div class="caption">Технические Характеристики</div>
                                <div class="desc-list">
                                    <div class="item">
                                        <div class="name">Базовое стекло:</div>
                                        <div class="info">Planibel Clear, Crystalvision</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Производство:</div>
                                        <div class="info">РФ</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Доступные толщины:</div>
                                        <div class="info">4-10 мм</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Форматы:</div>
                                        <div class="info">3210 x 6000, 3210 x 3650</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Удаление кромки:</div>
                                        <div class="info">Требуется</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Использование в СП:</div>
                                        <div class="info">#2 Позиция</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Переработка:</div>
                                        <div class="info">Стеклопакет, Закаливание,
                                            Ламинирование, HST-Тест, Моллирование</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-bottom">
                            <div class="item">
                                <div class="circle-item" data-percent="70">
                                    <span class="counter">70%</span>
                                </div>
                                <div class="text">
                                    Светопропускание
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item" data-percent="33">
                                    <span class="counter">33%</span>
                                </div>
                                <div class="text">
                                    Рефлективность

                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item" data-percent="40">
                                    <span class="counter">40%</span>
                                </div>
                                <div class="text">
                                    Солнцезащита
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-item">
                                    <span class="counter">Uv = 1.0</span>
                                    <span class="counter">Ro = 0.65</span>
                                </div>
                                <div class="text">
                                    Энергоэффективность
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-top">
                            <div class="slide-top_img" style="background-image: url('./img/products-new/glass.png')">
                            </div>
                            <div class="slide-top_desc">
                                <div class="caption">Технические Характеристики</div>
                                <div class="desc-list">
                                    <div class="item">
                                        <div class="name">Базовое стекло:</div>
                                        <div class="info">Planibel Clear, Crystalvision</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Производство:</div>
                                        <div class="info">РФ</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Доступные толщины:</div>
                                        <div class="info">4-10 мм</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Форматы:</div>
                                        <div class="info">3210 x 6000, 3210 x 3650</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Удаление кромки:</div>
                                        <div class="info">Требуется</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Использование в СП:</div>
                                        <div class="info">#2 Позиция</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Переработка:</div>
                                        <div class="info">Стеклопакет, Закаливание,
                                            Ламинирование, HST-Тест, Моллирование</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-bottom">
                            <div class="item">
                                <div class="circle-item" data-percent="70">
                                    <span class="counter">70%</span>
                                </div>
                                <div class="text">
                                    Светопропускание
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item" data-percent="13">
                                    <span class="counter">13%</span>
                                </div>
                                <div class="text">
                                    Рефлективность
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item" data-percent="30">
                                    <span class="counter">30%</span>
                                </div>
                                <div class="text">
                                    Солнцезащита
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-item">
                                    <span class="counter">Uv = 1.0</span>
                                    <span class="counter">Ro = 0.65</span>
                                </div>
                                <div class="text">
                                    Энергоэффективность
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="product-area"  class="section product-page product-area">
    <div class="container">
        <div class="product_title">Область применения</div>

        <div class="product-area_list">
            <div class="item">
                <div class="img" style="background-image: url('./img/products-new/area1.jpg')"></div>
                <div class="content">
                    <div class="title">Окна</div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex maiores nam quam repellendus repudiandae. Ad fuga natus numquam odio voluptatem?</div>
                </div>

            </div>
            <div class="item">
                <div class="img" style="background-image: url('./img/products-new/area2.jpg')"></div>
                <div class="content">
                    <div class="title">Двери</div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio incidunt ipsa nam possimus unde.</div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('./img/products-new/area3.jpg')"></div>
                <div class="content">
                    <div class="title">Еще область</div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, porro.</div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('./img/products-new/area4.jpg')"></div>
                <div class="content">
                    <div class="title">Указать все области</div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut blanditiis commodi consequuntur cupiditate distinctio eos ex illo modi, quod, temporibus voluptas?</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section  class="section no-padding-top product-page product-slider">
    <div class="product-slider-main_wrap">
        <div id="product-slider-main" class="product-slider-main">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('./img/products-new/slide-1.jpg')">

                </div>
                <div class="swiper-slide" style="background-image: url('./img/products-new/slide-1.jpg')">

                </div>
            </div>
        </div>
        <div class="slider-controls product-slider-main_controls" id="product-slider-main_controls">
            <div class="swiper-arrows hide-mobile">
                <div class="swiper-button swiper-button-prev">
                    <img alt="" src="./img/agc/newsitem-read-more.svg">
                </div>
                <div class="swiper-button swiper-button-next">
                    <img alt="" src="./img/agc/newsitem-read-more.svg">
                </div>
            </div>
            <div class="swiper-arrows hide-desktop">
                <div class="swiper-button swiper-button-prev">
                    <img alt="" src="./img/agc/newsitem-read-more-black.svg">
                </div>
                <div class="swiper-button swiper-button-next">
                    <img alt="" src="./img/agc/newsitem-read-more-black.svg">
                </div>
            </div>
            <div class="swiper-progressbar">

            </div>

            <div class="swiper-pagination swiper-pagination-fraction">
                <span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total"></span></div>
        </div>
    </div>
</section>
<section id="product-slider" class="section product-page product-slider">
    <div class="container">
        <div class="product-slider-small_wrap">
            <div class="product-slider-small_desc">
                <div class="product_title">Внешний вид</div>

                <div class="product-slider-small_title color-text">PLANIBEL CRYSTALVISION INTERIOR</div>
                <div class="product-slider-small_text color-text">Сотрите границы между вами и удивительным внешним миром</div>


            </div>

            <div id="product-slider-small" class="product-slider-small">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url('./img/products-new/slide-1.jpg')">

                    </div>
                    <div class="swiper-slide" style="background-image: url('./img/products-new/slide-1.jpg')">

                    </div>
                </div>

                <div class="slider-controls slider-controls_black product-slider-small_controls" id="product-slider-small_controls">
                    <div class="swiper-arrows">
                        <div class="swiper-button swiper-button-prev">
                            <img alt="" src="./img/agc/newsitem-read-more-black.svg">
                        </div>
                        <div class="swiper-button swiper-button-next">
                            <img alt="" src="./img/agc/newsitem-read-more-black.svg">
                        </div>
                    </div>
                    <div class="swiper-progressbar">

                    </div>

                    <div class="swiper-pagination swiper-pagination-fraction">
                        <span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total"></span></div>
                </div>
            </div>

        </div>
    </div>

</section>
<section id="product-advantages" class="section product-page product-advantages">
    <div class="container">
        <div class="product_title">Преимущества</div>

        <div class="product-advantages_top">
            <div class="item">
                <img src="./img/products-new/icons/icon4.png" alt="">
                <div class="text">
                    Высокий индекс цветопередачи (100%)
                </div>
            </div>
            <div class="item">
                <img src="./img/products-new/icons/icon5.png" alt="">
                <div class="text">
                    Объекты и их цвет выглядят ярко и натурально через стекло
                </div>
            </div>
            <div class="item">
                <img src="./img/products-new/icons/icon6.svg" alt="">
                <div class="text">
                    Точная передача цвета при окрашивании и печати
                </div>
            </div>
            <div class="item">
                <img src="./img/products-new/icons/icon7.svg" alt="">
                <div class="text">
                    Кристальная чистота.
                    Отсутствие голубого или зеленого оттенка
                </div>
            </div>
        </div>

        <div class="product-advantages_bottom">
            <div class="part">
                <ul class="product-advantages_list">
                    <li>
                        Эстетичный вид кромки стекла при использовании в интерьере (столы, двери, балюстрады и.т.д.);
                    </li>
                    <li>
                        Максимальная нейтральность;
                    </li>
                    <li>
                        Позволяет показать продукцию максимально четко при использовании в остеклении витрин;
                    </li>
                    <li>
                        Сохраняет нейтральность при использовании с мультифункциональными покрытиями в составе стеклопакета.
                    </li>
                </ul>
            </div>
            <div class="part">
                <div class="products-advantages_logos">
                    <div class="item">
                        <div class="content">
                            <img src="./img/products-new/logo1.png" alt="">
                            <div class="title">BIMOBJECT BY AGC</div>
                            <div class="text">
                                Stopray
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <img src="./img/products-new/logo2.png" alt="">
                            <div class="title">CRADLE TO CRADLE</div>
                            <div class="text">
                                Данный бренд получил Cradle to Cradle Silver сертификатe
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="product-info" class="section product-page product-info">
    <div class="container">
        <div class="product_title">Информация</div>

        <div class="products-info_slider-wrap">
            <div class="product-info_slider" id="product-info_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-zip"></div>
                            <div class="file-name">Все файлы.zip</div>
                            <div class="file-size">150.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-pdf"></div>
                            <div class="file-name">Название файла.pdf</div>
                            <div class="file-size">15.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-media"></div>
                            <div class="file-name">
                                Название файла может быть очень длинным и объемным
                                но не более 3х строк</div>
                            <div class="file-size">15.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-zip"></div>
                            <div class="file-name">Все файлы.zip</div>
                            <div class="file-size">150.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-pdf"></div>
                            <div class="file-name">Название файла.pdf</div>
                            <div class="file-size">15.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-media"></div>
                            <div class="file-name">
                                Название файла может быть очень длинным и объемным
                                но не более 3х строк</div>
                            <div class="file-size">15.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-zip"></div>
                            <div class="file-name">Все файлы.zip</div>
                            <div class="file-size">150.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-pdf"></div>
                            <div class="file-name">Название файла.pdf</div>
                            <div class="file-size">15.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="icon icon-media"></div>
                            <div class="file-name">
                                Название файла может быть очень длинным и объемным
                                но не более 3х строк</div>
                            <div class="file-size">15.2 Мб</div>
                        </div>
                        <a href="" download target="_blank" class="btn">
                            <span>Скачать</span>
                            <img src="./img/products-new/icons/download.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="slider-controls product-info_slider_controls" id="product-info_slider_controls">
                <div class="swiper-arrows">
                    <div class="swiper-button swiper-button-prev">
                        <img alt="" src="./img/agc/newsitem-read-more-black.svg">
                    </div>
                    <div class="swiper-button swiper-button-next">
                        <img alt="" src="./img/agc/newsitem-read-more-black.svg">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section ro ro__page ro__page-detail no-padding-bottom no-padding-top product-page" id="product-projects">
    <div class="product_title product_title-white">Выполненные проекты</div>

    <div class="ro__content">
        <div class="ro_list">
            <a href="#" class="item">
                <div class="bg" style="background-image: url('./img/projects/1.jpg')"></div>
                <div class="overlay"></div>
                <div class="content">
                    <div class="title">
                        BLUE PAVILION - FIERA DEL MARE
                    </div>
                    <div class="tags">
                        <span>Архитектурный проект</span>
                    </div>
                    <div class="desc">
                        <div>Адрес: г.Москва, улица Ленина 96</div>
                        <div>Архитектор: Филипп Никандров</div>
                    </div>
                    <object type="owo/uwu">
                        <div class="glasses">
                            <span class="text">Стекло:</span>
                            <a href="">Planibel clear</a>
                            <a href="">Stopray vision 60t</a>
                        </div>
                    </object>
                    <div class="detail-link">
                        Подробнее
                        <img src="./img/agc/newsitem-read-more.svg" alt="">
                    </div>
                </div>
            </a>

            <a href="" class="item">
                <div class="bg" style="background-image: url('./img/projects/2.jpg')"></div>
                <div class="overlay"></div>
                <div class="content">
                    <div class="title">
                        BLUE PAVILION - FIERA DEL MARE
                    </div>
                    <div class="tags">
                        <span>Архитектурный проект</span>
                    </div>
                    <div class="desc">
                        <div>Адрес: г.Москва, улица Ленина 96</div>
                        <div>Архитектор: Филипп Никандров</div>
                    </div>
                    <object type="owo/uwu">
                        <div class="glasses">
                            <span class="text">Стекло:</span>
                            <a href="">Planibel clear</a>
                            <a href="">Stopray vision 60t</a>
                        </div>
                    </object>
                    <div class="detail-link">
                        Подробнее
                        <img src="./img/agc/newsitem-read-more.svg" alt="">
                    </div>
                </div>
            </a>

            <a href="" class="item">
                <div class="bg" style="background-image: url('./img/projects/3.jpg')"></div>
                <div class="overlay"></div>
                <div class="content">
                    <div class="title">
                        BLUE PAVILION - FIERA DEL MARE
                    </div>
                    <div class="tags">
                        <span>Архитектурный проект</span>
                    </div>
                    <div class="desc">
                        <div>Адрес: г.Москва, улица Ленина 96</div>
                        <div>Архитектор: Филипп Никандров</div>
                    </div>
                    <object type="owo/uwu">
                        <div class="glasses">
                            <span class="text">Стекло:</span>
                            <a href="">Planibel clear</a>
                            <a href="">Stopray vision 60t</a>
                        </div>
                    </object>
                    <div class="detail-link">
                        Подробнее
                        <img src="./img/agc/newsitem-read-more.svg" alt="">
                    </div>
                </div>
            </a>

            <a href="" class="item">
                <div class="bg" style="background-image: url('./img/projects/4.jpg')"></div>
                <div class="overlay"></div>
                <div class="content">
                    <div class="title">
                        BLUE PAVILION - FIERA DEL MARE
                    </div>
                    <div class="tags">
                        <span>Архитектурный проект</span>
                    </div>
                    <div class="desc">
                        <div>Адрес: г.Москва, улица Ленина 96</div>
                        <div>Архитектор: Филипп Никандров</div>
                    </div>

                    <object type="owo/uwu">
                        <div class="glasses">
                            <span class="text">Стекло:</span>
                            <a href="">Planibel clear</a>
                            <a href="">Stopray vision 60t</a>
                        </div>
                    </object>
                    <div class="detail-link">
                        Подробнее
                        <img src="./img/agc/newsitem-read-more.svg" alt="">
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
