<% var data = {
title: "продукция по применению стекла | AGC Glass Russia",
url: "products-4.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/products-new/bg3.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white page-header_title--center">продукция по применению стекла</h1>
</div>

<section class="section products-section">
    <div class="container">
        <div class="products-top">
            <div class="products-top__links">
                <a href="#">По названию</a>
                <a href="#">По типу стекла</a>
                <a href="#" class="active">По применению стекла</a>
                <a href="#">По функциям стекла</a>
            </div>

            <div class="products-top__search">
                <input type="text" id="products-input" placeholder="Начните вводить название">
                <span class="search-icon"></span>
            </div>
        </div>

        <div class="products-list" id="products-list">
            <div class="products-list_title">
                <div class="bg" style="background-image: url('./img/products-new/3-1.jpg')"></div>
                <div class="text">ЭКСТЕРЬЕР</div>
            </div>
            <div class="products-list_wrap">
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">ФАСАДЫ</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Крыши</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Окна</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Двери</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Витрины</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                        <a href="#" class="item">Lacobel T</a>
                        <a href="#" class="item">Lacomat</a>
                        <a href="#" class="item">Luxclear Protect</a>
                        <a href="#" class="item">Matelac</a>
                        <a href="#" class="item">Matelac T</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Ограждения</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Теплицы</h2>
                        <a href="#" class="item">Stratobel</a>
                        <a href="#" class="item">Stratophone</a>
                        <a href="#" class="item">Stopray</a>
                    </div>

                </div>
            </div>
            <div class="products-list_title">
                <div class="bg" style="background-image: url('./img/products-new/3-2.jpg')"></div>
                <div class="text">Интерьер бизнес</div>
            </div>
            <div class="products-list_wrap">
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Баллюстрады
                            И Ограждения</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Полы</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Перегородки</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Лестницы</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                        <a href="#" class="item">Lacobel T</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Витрины</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                        <a href="#" class="item">Lacobel T</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Облицовка Стен</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Стекло Для Мебели</h2>
                        <a href="#" class="item">Stratobel</a>
                        <a href="#" class="item">Stratophone</a>
                        <a href="#" class="item">Stopray</a>
                    </div>

                </div>
            </div>

            <div class="products-list_title">
                <div class="bg" style="background-image: url('./img/products-new/3-3.jpg')"></div>
                <div class="text">Интерьер жилье</div>
            </div>
            <div class="products-list_wrap">
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Стекло Для Мебели</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Стекло Для Картин
                            И Фотографий</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Перегородки</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Кухонные Фартуки</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Облицовка Стен</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                        <a href="#" class="item">Energy</a>
                    </div>
                </div>
                <div class="column">
                    <div class="column-block">
                        <h2 class="title">Душевые Перегородки</h2>
                        <a href="#" class="item">Blackpearl</a>
                        <a href="#" class="item">Clearsight</a>
                        <a href="#" class="item">Colorbel</a>
                    </div>
                    <div class="column-block">
                        <h2 class="title">Двери</h2>
                        <a href="#" class="item">Stratobel</a>
                        <a href="#" class="item">Stratophone</a>
                        <a href="#" class="item">Stopray</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<%= _.template(require('./../includes/footer.html').default)(data) %>
