<% var data = {
title: "PLANIBEL CRYSTALVISION INTERIOR | AGC Glass Russia",
url: "product.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="page-header product-page product-header">
    <div class="page-header_bg" style="background-image: url('./img/products-new/prod-bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white page-header_title--center">
        <span>PLANIBEL CRYSTALVISION INTERIOR</span>
        <p class="page-header_subtitle color-white">Сотрите границы между вами и удивительным внешним миром</p>
        <a href="#" class="page-header_tag-link color-white">доступен на Planibel Crystalvision</a>
    </h1>

</div>
<section class="section product-page product-nav">
    <div class="container">
        <div class="product-nav_wrap">
            <a href="#">Описание</a>
            <a href="#">Область применения</a>
            <a href="#">Внешний вид</a>
            <a href="#">Преимущества</a>
            <a href="#">Информация</a>
            <a href="#">Выполненные проекты</a>
        </div>
    </div>
</section>
<section class="section product-page product-about">
    <div class="container">
        <div class="product-about_wrap">
            <div class="product_title">О продукте</div>
            <div class="product-about_info">
                <div class="text">
                   <p> Для совершенства не существует границ: просветленное стекло Crystalvision от AGC и его безграничная прозрачность</p>

                   <p> Стекло Crystalvision появилось в мире дизайна интерьеров решительно и уверенно. Инновации — это всегда риск, но Crystalvision с первого мгновения расположил к себе всех
                    именитых дизайнеров и архитекторов.</p>

                   <p> Первое просветленное стекло появилось в России летом 2017, и за полтора года нашло свое применение в десятках удивительных знаковых проектах по всей России. Парк Зарядье,
                    который стал победителем в номинации «Общественные пространства» международного архитектурного конкурса Building of the Year в 2018 году, построен с использованием кристально чистого стекла Crystalvision от AGC. Материал украсил экстерьеры и интерьеры урбанистического парка.</p>

                    <p>Planibel Crystalvision — это архитектура и дизайн будущего.</p>

                    <p>Стекло сегодня — это прямая дефиниция слову «перспектива». Современный материал покоряет современные, футуристические фасады, формирует конструкции общественных пространств и
                            вдохновляет дизайнеров на создание уникальных интерьерных предметов из стекла. На последней выставке iSaloni в Милане, AGC представили конструкцию из стекла, трансформирующую звуковые потоки. Чем удивит выставка 2019 года? Остается только гадать.</p>

                    <p>Crystalvision — универсальность, представленная в уникальности.</p>

                   <p> Стекло — привычный и понятный материал. Однако его современное применение немного выходит за рамки традиционного.</p>

                   <p> Тоже самое происходит и с самим материалом. На рынке уже появились десятки декоративных стеклянных продуктов, которые далеки от того обычного стекла, к которому мы привыкли.</p>

                    <p>Зеленоватый или желтоватый оттенок стекла воспринимается, как норма, ввиду химических примесей. Но Crystalvision пришло, чтобы сломать привычные рамки.</p>

                   <p> 100% индекс цветопередачи и полное отсутствие оттенков — главные преимущества Crystalvision.</p>

                   <p> Чистота и прозрачность такого стекла позволяет применять его практически в любых проектах: как архитектурных, так и интерьерных. Эти свойства позволяют назвать Crystalvision
                    универсальным стеклом даже при всей своей необыкновенной уникальности.</p>


                   <p> Planibel Crystalvision — стекло с показателями максимальной нейтральности.</p>

                   <p> Нейтральность, глобальность и разносторонность Crystalvision делают его прекрасным базовым решением для создания декоративной продукции на основе просветленного стекла.
                    Стабильность локального производства позволяет выпускать линейку классического просветлённого стекла и 5 видов интерьерных продуктов на основе Crystalvision.</p>
                </div>
                <div class="buttons">
                    <a href="" class="item">
                        <div class="content">
                            <img src="./img/products-new/icons/icon1.svg" alt="">
                            <span>Заказать образец</span>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                        </div>
                    </a>
                    <a href="" class="item">
                        <div class="content">
                            <img src="./img/products-new/icons/icon2.svg" alt="">
                            <span>Заказать Glass Bus</span>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                        </div>
                    </a>
                    <a href="" class="item">
                        <div class="content">
                            <img src="./img/products-new/icons/icon3.svg" alt="">
                            <span>Связаться с менеджером</span>
                        </div>
                        <div class="btn">
                            <img src="./img/agc/newsitem-read-more.svg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section product-page product-glasses">
    <div class="container">
        <div class="product-glasses_top">
            <div class="product_title">Вариации Стекла
            </div>
            <div class="product-glasses_tabs" id="product-glasses_tabs">
                <div class="item active" data-slide="0">
                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                        <div class="border"></div>
                        <span>RU</span>
                    </div>
                    <div class="desc">
                        Planibel Crystalvision 4 мм
                    </div>
                </div>
                <div class="item" data-slide="1">
                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                        <div class="border"></div>
                        <span>RU</span>
                    </div>
                    <div class="desc">
                        Planibel Crystalvision 6 мм
                    </div>
                </div>
                <div class="item" data-slide="2">
                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                        <div class="border"></div>
                        <span>RU</span>
                    </div>
                    <div class="desc">
                        Planibel Crystalvision 8 мм
                    </div>
                </div>
                <div class="item" data-slide="3">
                    <div class="image" style="background-image: url('./img/products/slide.jpg')">
                        <div class="border"></div>
                        <span>RU</span>
                    </div>
                    <div class="desc">
                        Planibel Crystalvision 10 мм
                    </div>
                </div>
            </div>
        </div>
        <div class="product-glasses_slider" id="product-glasses_slider" >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-top">
                            <div class="slide-top_img" style="background-image: url('/img/products-new/glass.png')">
                            </div>
                            <div class="slide-top_desc">
                                <div class="caption">Технические Характеристики</div>
                                <div class="desc-list">
                                    <div class="item">
                                        <div class="name">Базовое стекло:</div>
                                        <div class="info">Planibel Clear, Crystalvision</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Производство:</div>
                                        <div class="info">РФ</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Доступные толщины:</div>
                                        <div class="info">4-10 мм</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Форматы:</div>
                                        <div class="info">3210 x 6000, 3210 x 3650</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Удаление кромки:</div>
                                        <div class="info">Требуется</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Использование в СП:</div>
                                        <div class="info">#2 Позиция</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Переработка:</div>
                                        <div class="info">Стеклопакет, Закаливание,
                                            Ламинирование, HST-Тест, Моллирование</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-bottom">
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">70%</span>
                                </div>
                                <div class="text">
                                    Светопропускание
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">13&</span>
                                </div>
                                <div class="text">
                                    Рефлективность

                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">40%</span>
                                </div>
                                <div class="text">
                                    Солнцезащита
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-item">
                                    <span class="counter">Uv = 1.0</span>
                                    <span class="counter">Ro = 0.65</span>
                                </div>
                                <div class="text">
                                    Энергоэффективность
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-top">
                            <div class="slide-top_img" style="background-image: url('/img/products-new/glass.png')">
                            </div>
                            <div class="slide-top_desc">
                                <div class="caption">Технические Характеристики</div>
                                <div class="desc-list">
                                    <div class="item">
                                        <div class="name">Базовое стекло:</div>
                                        <div class="info">Planibel Clear, Crystalvision</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Производство:</div>
                                        <div class="info">РФ</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Доступные толщины:</div>
                                        <div class="info">4-10 мм</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Форматы:</div>
                                        <div class="info">3210 x 6000, 3210 x 3650</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Удаление кромки:</div>
                                        <div class="info">Требуется</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Использование в СП:</div>
                                        <div class="info">#2 Позиция</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Переработка:</div>
                                        <div class="info">Стеклопакет, Закаливание,
                                            Ламинирование, HST-Тест, Моллирование</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-bottom">
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">70%</span>
                                </div>
                                <div class="text">
                                    Светопропускание
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">13&</span>
                                </div>
                                <div class="text">
                                    Рефлективность

                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">40%</span>
                                </div>
                                <div class="text">
                                    Солнцезащита
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-item">
                                    <span class="counter">Uv = 1.0</span>
                                    <span class="counter">Ro = 0.65</span>
                                </div>
                                <div class="text">
                                    Энергоэффективность
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-top">
                            <div class="slide-top_img" style="background-image: url('/img/products-new/glass.png')">
                            </div>
                            <div class="slide-top_desc">
                                <div class="caption">Технические Характеристики</div>
                                <div class="desc-list">
                                    <div class="item">
                                        <div class="name">Базовое стекло:</div>
                                        <div class="info">Planibel Clear, Crystalvision</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Производство:</div>
                                        <div class="info">РФ</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Доступные толщины:</div>
                                        <div class="info">4-10 мм</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Форматы:</div>
                                        <div class="info">3210 x 6000, 3210 x 3650</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Удаление кромки:</div>
                                        <div class="info">Требуется</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Использование в СП:</div>
                                        <div class="info">#2 Позиция</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Переработка:</div>
                                        <div class="info">Стеклопакет, Закаливание,
                                            Ламинирование, HST-Тест, Моллирование</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-bottom">
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">70%</span>
                                </div>
                                <div class="text">
                                    Светопропускание
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">13&</span>
                                </div>
                                <div class="text">
                                    Рефлективность

                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">40%</span>
                                </div>
                                <div class="text">
                                    Солнцезащита
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-item">
                                    <span class="counter">Uv = 1.0</span>
                                    <span class="counter">Ro = 0.65</span>
                                </div>
                                <div class="text">
                                    Энергоэффективность
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="slide-top">
                            <div class="slide-top_img" style="background-image: url('/img/products-new/glass.png')">
                            </div>
                            <div class="slide-top_desc">
                                <div class="caption">Технические Характеристики</div>
                                <div class="desc-list">
                                    <div class="item">
                                        <div class="name">Базовое стекло:</div>
                                        <div class="info">Planibel Clear, Crystalvision</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Производство:</div>
                                        <div class="info">РФ</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Доступные толщины:</div>
                                        <div class="info">4-10 мм</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Форматы:</div>
                                        <div class="info">3210 x 6000, 3210 x 3650</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Удаление кромки:</div>
                                        <div class="info">Требуется</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Использование в СП:</div>
                                        <div class="info">#2 Позиция</div>
                                    </div>
                                    <div class="item">
                                        <div class="name">Переработка:</div>
                                        <div class="info">Стеклопакет, Закаливание,
                                            Ламинирование, HST-Тест, Моллирование</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-bottom">
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">70%</span>
                                </div>
                                <div class="text">
                                    Светопропускание
                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">13&</span>
                                </div>
                                <div class="text">
                                    Рефлективность

                                </div>
                            </div>
                            <div class="item">
                                <div class="circle-item">
                                    <span class="counter">40%</span>
                                </div>
                                <div class="text">
                                    Солнцезащита
                                </div>
                            </div>
                            <div class="item">
                                <div class="text-item">
                                    <span class="counter">Uv = 1.0</span>
                                    <span class="counter">Ro = 0.65</span>
                                </div>
                                <div class="text">
                                    Энергоэффективность
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
