<% var data = {
title: "Реализованные проекты | AGC Glass Russia",
url: "realized-projects.html",
header: "white",
footer: "white"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/projects/bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white">Реализованные проекты</h1>
</div>


<section class="section realized-projects realized-projects__page no-padding-bottom no-padding-top">
    <div class="realized-projects__left">
        <div class="realized-projects__links">
            <a href="#" class="active">Все проекты</a>
            <a href="#">Архитектурные</a>
            <a href="#">Интерьерные</a>
        </div>

        <div class="realized-projects__view">
            <span class="text">Вид:</span>
            <a href="#" class="realized-projects-tab" data-tab="list">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            </a>
            <a href="#" class="realized-projects-tab" data-tab="map">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            </a>
        </div>

        <p class="realized-projects__text">
            Ценности, которые служат ориентиром в реализации сложных производственных задач для каждого сотрудника «AGC Glass Russia» - это инновации и высокий профессионализм, забота об окружающей среде, честность и разнообразие.
        </p>
        <p class="realized-projects__text">
            Именно эти принципы направляют нас в будущее и помогают реализовать сотни уникальных проектов по всей России более 20 лет.
        </p>

        <div class="realized-projects__subtitle">ХОТИТЕ ЧТОБЫ ВАШ ПРОЕКТ БЫЛ ЗДЕСЬ?</div>

        <a href="" class="button big" data-open-modal-button="project-form" data-effect-type="open-modal-fade-effect">Подать заявку</a>
    </div>
    <div class="realized-projects_list">
        <a href="#" class="item">
            <div class="bg" style="background-image: url('./img/projects/1.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

                <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/2.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/3.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/4.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/1.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/2.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/3.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/4.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/1.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>

        <a href="" class="item">
            <div class="bg" style="background-image: url('./img/projects/2.jpg')"></div>
            <div class="overlay"></div>
            <div class="content">
                <div class="title">
                    BLUE PAVILION - FIERA DEL MARE
                </div>
                <div class="tags">
                    <span>Архитектурный проект</span>
                </div>
                <div class="desc">
                    Деймон Лавель, архитектурное агенство  "Populous" (Великобритания)
                    РФ, Сочи, Олимпийский проспект
                </div>

               <div class="detail-link">
                    Подробнее
                    <img src="./img/agc/newsitem-read-more.svg" alt="">
                </div>
            </div>
        </a>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
