<% var data = {
title: "Technical guides | AGC Glass Russia",
url: "technical-guides.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>




<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/products/bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white">Technical guides</h1>
</div>

<section class="section no-padding-top no-padding-bottom pdf-section">
    <div class="container">
        <div class="pdf_list">

            <div class="item">
                <div class="_df_book flipbookContainer" id="flipbookContainer1" data-book="/src/dflip/docs/Installation Guide EN.pdf"></div>
                <div class="subtitle">Открытие кнопкой</div>
                <div class="_df_button" source="/src/dflip/docs/Installation Guide EN.pdf">Каталог 1</div>
                <div class="subtitle">Открытие кликом по изображению каталога</div>
                <div class="_df_thumb" tags="3d,images" thumb="/src/dflip/images/3-installation-guide-en.jpg" source="/src/dflip/docs/Installation Guide EN.pdf"></div>
                <div class="subtitle">Открытие определенной страницы</div>
                <div class="btns-list">
                    <div class="btns-item">
                        <a class="_df_custom " id="df_21" href="#" data-page="4" title="open-book-at-certain-page" source="/src/dflip/docs/Installation Guide EN.pdf">Страница 4</a>

                    </div>
                    <div class="btns-item">
                        <a class="_df_custom " id="df_22" href="#" data-page="6" title="open-book-at-certain-page" source="/src/dflip/docs/Installation Guide EN.pdf">Страница 6</a>

                    </div>
                    <div class="btns-item">
                        <a class="_df_custom" id="df_23" href="#" data-page="8" title="open-book-at-certain-page" source="/src/dflip/docs/Installation Guide EN.pdf">Страница 8</a>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="_df_book flipbookContainer" id="flipbookContainer2"  data-book="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf"></div>
                <div class="subtitle">Открытие кнопкой</div>
                <div class="_df_button" source="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf">Каталог 2</div>
                <div class="subtitle">Открытие кликом по изображению каталога</div>
                <div class="_df_thumb" tags="3d,images" thumb="/src/dflip/images/1-processing-guide-lacobel-t-matelac-t-en.jpg"
                     source="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf"></div>
                <div class="subtitle">Открытие определенной страницы</div>
                <div class="btns-list">
                    <div class="btns-item">
                        <a class="_df_custom " id="df_1" href="#" data-page="4" title="open-book-at-certain-page" source="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf">Оглавление</a>

                    </div>
                    <div class="btns-item">
                        <a class="_df_custom " id="df_2" href="#" data-page="6" title="open-book-at-certain-page" source="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf">Страница 6</a>

                    </div>
                    <div class="btns-item">
                        <a class="_df_custom " id="df_3" href="#" data-page="8" title="open-book-at-certain-page" source="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf">Страница 8</a>

                    </div>
                    <div class="btns-item">
                        <a class="_df_custom " id="df_4" href="#" data-page="10" title="open-book-at-certain-page" source="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf">Страница
                            10</a>

                    </div>

                </div>
            </div>

            <!-- <div class="df-thumb-container">
                 <div class="df-vrow" id="df-thumb4">4</div>
             </div>-->
            <!--  <div class="item">
                  <div class="_df_button" source="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf">Каталог 2</div>

                  <div class="_df_thumb" tags="3d,images" thumb="/src/dflip/images/3-installation-guide-en.jpg" source="/src/dflip/docs/Processing guide Lacobel T Matelac T (EN).pdf"></div>
              </div>-->
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
