<% var data = {
title: "Technical guides | AGC Glass Russia",
url: "technical-guides.html",
header: "white",
footer: "black"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>




<div class="page-header">
    <div class="page-header_bg" style="background-image: url('./img/products/bg.jpg')"></div>
    <div class="page-header_overlay"></div>
    <h1 class="h1 page-header_title color-white">Библиотека</h1>
</div>

<section class="section no-padding-top no-padding-bottom pdf-section">
    <div class="container">
        <div class="pdf_list">

            <div class="item">
                <div class="_df_button item-wrap" source="./pdf/pdf-page/AGC_Interiormagazine_2020.pdf">
                    <div class="_df_thumb item-image" tags="3d,images" thumb="./img/pdf-preview/catalog-1.jpg" ></div>
                    <div class="desc">
                        <div class="title">
                            Интерьерный каталог
                        </div>
                       <!-- <div class="text text-uppercase">PROCESSING GUIDE</div>
                        <div class="version">VERSION 10 – MARCH 2019</div>-->
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="_df_button item-wrap" source="./pdf/pdf-page/AGC_ArchKatalog_2018.pdf">
                    <div class="_df_thumb item-image" tags="3d,images" thumb="./img/pdf-preview/pdf1.png" ></div>
                    <div class="desc">
                        <div class="title">
                            Архитектурный каталог
                        </div>
                        <!--<div class="text">Interior glass application
                            Your installation guide</div>-->
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="_df_button item-wrap" source="./pdf/pdf-page/download-3.pdf">
                    <div class="_df_thumb item-image" tags="3d,images" thumb="./img/pdf-preview/pdf3.png" ></div>
                    <div class="desc">
                        <div class="title">
                            Glass Pocket
                        </div>
                        <!--<div class="text">Interior glass application
                            Your installation guide</div>-->
                    </div>
                </div>

            </div>




        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
