.button {
    display: inline-block;
    width: auto;
    padding: 10px 23px;
    background: $colorRed;
    transition: 0.2s ease;
    text-decoration: none;
    font-size: 16px;
    color: $colorWhite !important;
    margin: 50px 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    @include desktop {
        &:hover {
            background: $colorRedDarken;
        }
    }
    &.big {
        font-size: 20px;
        padding: 14px 40px;
        /*@include only-mobile {
            font-size: 18px;
            padding: 12px 30px;
        }*/
    }
    span {
        display: block;
        margin-bottom: 4px;
    }

    &:disabled {
        pointer-events: none;
        opacity: .5;
    }
}

.button-link {
    display: inline-block;
    border: solid 1px #e8e8e8;
    transition: opacity 0.2s ease;
    font-size: 23px;
    padding: 15px 10px;
    text-align: center;
    width: auto;
    text-decoration: none;
    margin: 10px 0;
    white-space: nowrap;
    color: $colorText;
    @include desktop {
        &:hover {
            opacity: .7;
            color: $colorText;
        }
    }
    @include mobile {
        font-size: 20px;
        padding: 8px;
    }
    @include only-mobile {
        font-size: 15px;
        padding: 6px;
    }
}
