@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Medium.woff2') format('woff2'),
    url('../fonts/TTHoves-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Bold.woff2') format('woff2'),
    url('../fonts/TTHoves-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}