// Типографика форм

@-webkit-keyframes autofill {
    to {
        background: #ffffff;
    }
}


::-webkit-input-placeholder {
    color: $colorGrayLight;
}
:-ms-input-placeholder {
    color: $colorGrayLight;
}
::-moz-placeholder {
    color: $colorGrayLight;
    opacity: 1;
}
:-moz-placeholder {
    color: $colorGrayLight;
    opacity: 1;
}




.form {
    position: relative;
    background: #ffffff;
    .form-row {
        display: flex;
        justify-content: space-between;
        .field {
            width: 49%;
        }
        @include mobile {
            flex-wrap: wrap;
            .field {
                width: 100%;
            }
        }
    }
    .field {
        position: relative;
        display: block;
        margin: 16px 0;
        padding: 1px 0 0 0;
        cursor: pointer;
        z-index: 999;
        overflow: hidden;
        .label {
            display: inline-block;
            width: 100%;
            position: absolute;
            z-index: 20;
            margin-top: 0;
            font-weight: 500;
            font-size: 12px;
            color: $colorText;
            left: 15px;
            top: 7px;
            line-height: 1;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        &.empty {
            .label {
                top: 14px;
                left: 15px;
                font-size: 18px;
                line-height: 26px;
                color: $colorText;
            }
            .input-text {
                &::-webkit-input-placeholder {
                    opacity: 0;
                }
                &:-ms-input-placeholder {
                    opacity: 0;
                }
                &::-moz-placeholder {
                    opacity: 0;
                }
                &:-moz-placeholder {
                    opacity: 0;
                }
            }
        }
        .input-text, .input-fill-control {
            display: flex;
            width: 100%;
            height: 52px;
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            color: $colorText;
            padding: 20px 15px 4px;
            border: 1px solid $colorGrayMiddle;
            box-sizing: border-box;
            border-radius: 5px;
            &:-webkit-autofill {
                -webkit-animation-name: autofill;
                -webkit-animation-fill-mode: both;
            }
            &:focus {
                border: 1px solid $colorGrayLight;

            }

        }
        @include desktop {
            &:hover {
                .input-text, .input-fill-control {
                    border: 1px solid $colorGrayLight;
                }

            }
        }
        textarea.input-text {
            height: 96px;
            resize: none;
        }
        .error-message {
            display: none;
            margin: 5px 0 0 0;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: $colorError;
        }
        &.error {
            input {
                color: $colorText;
                border-color: $colorError;
            }
            .error-message {
                display: block;
            }
        }
    }

    * {
        position: relative;
        transition: .3s linear;
        transform: translateY(0);
        opacity: 1;
    }
    .form-message {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        opacity: 0;
        transition-delay: 1s;
        z-index: -1;
        * {
            transform: translateY(100%);
            opacity: 0;
            transition: .6s linear;
        }
        .message-icon {
            display: flex;
            width: 45px;
            height: 45px;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
            }
        }
        .message-title {
            font-weight: bold;
            font-size: 25px;
            line-height: 26px;
            text-align: center;
            color: $colorText;
            transition-delay: 0.8s;
            margin-top: 10px;
            margin-bottom: 3px;
        }
        .message-subtitle {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            color: $colorText;
            transition-delay: 0.9s;
            margin-top: 0;
        }
    }
    &.form-hide {
        .field, .form-bottom, .h5, .modal-caption-with-close, .button, .career_file {
            transform: translateY(-100%);
            opacity: 0;
            pointer-events: none;
        }
        .form-message {
            height: 100%;
            transform: translateY(0);
            opacity: 1;
            z-index: 9;
            * {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    .button {
        cursor: pointer;
    }


    &.career_form {
        .career_file {
            display: inline-flex;
            margin: 0;
            border: solid 1px $colorGrayMiddle;
            background-color: transparent;
            padding: 18px 26px;
            position: relative;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            text-align: center;
            cursor: pointer;
            font-size: 21px;
            color: $colorText;
            transition: .2s;
            @include desktop {
                &:hover {
                    border: 1px solid $colorGrayLight;
                }
            }
            @include mobile {
                margin: 16px 0;
                font-size: 18px;
                padding: 14px 20px;
            }
            @include only-mobile {
                font-size: 16px;
                padding: 10px 15px;
            }
        }
    }
}

