.glass-bus-info {
    .glass-bus__slider-wrap {
        position: relative;
        overflow: hidden;
        .swiper-arrows {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .glass-bus__slider {
            .swiper-slide-next,
            .swiper-slide-prev {
                opacity: 0;
            }
            .slide {
                display: flex;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: cover;
                background-size: cover;
                &:before {
                    display: block;
                    float: left;
                    content: '';
                    padding-top: 55%;
                }
            }
        }
    }
}


.glass-bus-form {
    .form {
        margin-top: 56px;
        margin-bottom: 100px;
        border: 1px solid #979797;
        border-radius: 3px;
        padding-bottom: 30px;
        background-color: #fbf4f4;

        .form-footer {
            justify-content: flex-end !important;
        }
        .form-fields.no-padding-horizontal {
            .form-footer {
                padding-left: 43px;
                padding-right: 43px;
            }
        }
        .title {
            background: $colorBlueDarken;
            justify-content: center;
            font-size: 18px;
            text-transform: uppercase;
        }

        .field {
            .input-text {
                background: $colorWhite;
            }
        }

        .title-small {
            width: 100%;
        }

        .small-text {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $colorText;
            padding: 0 43px;
        }

        .glass-bus-form-time {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .glass-bus-form-worker {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .worker-title {
                width: 100%;
            }
            .worker-title,
            .worker-label {
                font-size: 15px;
            }
            .worker-radio {
                width: 100%;
                display: flex;
                align-items: center;
            }
            .worker-label ~ .worker-label {
                margin-left: 10px;
            }
            &.disabled-fields {
                .field {
                    opacity: .5;
                    pointer-events: none;
                }
            }
        }

        .glass-call-me {
            width: 100%;
            background-color: #dddddf;
            border-top: 1px solid #979797;
            border-bottom: 1px solid #979797;
            padding: 14px 43px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text {
                font-size: 16px;
                text-transform: uppercase;
                color: $colorText;
                margin-bottom: 0;
            }
            .button {
                margin: 0;
            }
        }

        .glass-unit-types {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #979797;
            padding: 15px 43px;
            .type-title {
                width: 100%;
                font-size: 16px;
                text-transform: uppercase;
                color: $colorText;
                margin-bottom: 15px;
            }
            .type {
                width: 25%;
                padding: 0 10px 0 0;
                label {
                    text-transform: uppercase;
                }
            }
        }

        .glass-unit-items {
            width: 100%;
            padding: 14px 43px;
            .item {
                width: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                color: $colorText;
                margin-bottom: 15px;
                .item-title {
                    width: 100%;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
                .type {
                    display: flex;
                    align-items: center;
                    width: 25%;
                    padding-right: 20px;
                    margin-bottom: 10px;
                    .link {
                        margin-left: auto;
                    }
                }
            }
        }


        .select-types-info {
            font-size: 16px;
            letter-spacing: 0.8px;
            color: $colorText;
            margin-right: auto;
        }
        input[type=checkbox] + label {
            font-size: 16px;
            span {
                font-size: 16px;
            }
        }

        .form-fields.no-padding-horizontal {
            padding-bottom: 0;
        }


        .form-message {
            background-color: #fbf4f4;
        }

        &.form-hide {
            .glass-unit-items,
            .glass-call-me,
            .glass-unit-types,
            .glass-unit-items,
            .small-text,
            .title {
                transform: translateY(-100%);
                opacity: 0;
                pointer-events: none;
            }


        }
    }


}

.ui-datepicker {
    width: auto !important;
    font-size: 2em !important;
    .ui-state-highlight {
        background: $colorRed !important;
        border-color: $colorRed !important;
        color: $colorWhite;
    }
    .ui-state-active {
        background: $colorBlueDarken !important;
        border-color: $colorBlueDarken !important;
    }
}

