/**
Десптопный хедер
 */
.header {
    display: block;
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 94px;
    margin: 0;
    background: $colorWhite;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: filter .6s ease, height .2s ease, transform .2s ease, opacity .2s ease;

    &-margin {
        height: 94px;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 68px;
        transition: all .1s ease;

        .logo {
            display: block;
            margin: 0;
            width: 231px;
            height: 26px;
            background: url("../img/logo.svg") left center no-repeat;
            background-size: contain;

            transition: width .1s ease, height .1s ease;

            @include desktop-small {
                width: 160px;
            }
        }

        .menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
            @include desktop {
                margin-left: auto;
            }
            .link {
                margin: 0 0 0 24px;
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
                color: $colorText;
                text-decoration: none;
                @include desktop-smaller {
                    font-size: 16px;
                    margin-left: 10px;
                }
                @media screen and (max-width: 1055px) and (min-width: 1000px) {
                    font-size: 14px;
                    margin-left: 9px;
                }

                &.active {
                    color: $colorMain;
                    cursor: default;
                }

                &:active {
                    color: $colorMain;
                }

                @include desktop {
                    &:hover {
                        color: $colorMain;
                    }
                }
            }
        }

        .phone {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            margin: 0 0 0 24px;
            padding: 0;
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: $colorText;
            text-decoration: none;

            @include desktop {
                &:hover {
                    color: $colorMain;
                }
            }

            &:active {
                color: $colorMain;
            }

            @include desktop-small {
                font-size: 18px;
            }

            .info {
                margin: 0 0 0 12px;
            }

            .time {
                display: block;
                font-size: 9px;
                line-height: 11px;
                color: $colorGray;

                @include desktop-small {
                    font-size: 8px;
                }
            }


        }
    }

    .menu-top {
        margin: 0;
        padding: 0;
        height: 26px;
        background: $colorGrayLight;
        overflow: hidden;

        &-content {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .link {
            margin-left: 40px;
            font-size: 15px;
            line-height: 26px;
            color: #444;
            text-decoration: none;
            &.active {
                color: $colorMain;
                cursor: default;
            }

            &:active {
                color: $colorMain;
            }

            @include desktop {
                &:hover {
                    color: $colorMain;
                }
            }


        }
    }

    &.compact {
        height: 70px;
        transform: translateY(-26px);

        .header-content {
            //justify-content: flex-start;
            height: 44px;

            .logo {
                width: 38.64px;
                height: 26px;
                background-image: url("../img/logo-small.svg");
            }

            .menu {
                justify-content: flex-start;
                margin-right: auto;
                //left: 50px;
                //width: calc(100% - 80px);
                @include desktop {
                    margin-left: 0;
                }
                .link {
                    font-size: 18px;
                    @include desktop-small {
                        font-size: 14px;
                        margin-left: 25px;
                    }
                }
            }

            .phone {
                //margin-left: auto;
                .time {
                    display: none;
                }

                .round-icon {
                    width: 20px;
                    height: 20px;
                    border-radius: 6px;

                    .icon {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}

/**
Мобильный хедер
 */
.header-mobile {
    display: block;
    position: fixed;
    z-index: 900;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background: $colorWhite;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    &-margin {
        margin: 0;
        height: 50px;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        height: 50px;
    }

    .phone {
        margin: 0 0 0 16px;
    }

    .logo {
        margin: 0;
        width: 152px;
        height: 20px;
        background: url("../img/logo.svg") center center no-repeat;
        background-size: contain;
    }
}


