.loader {
    height: 52px;
    width: 52px;
    background-image: url("../img/agc/loader-circle-sm-trans.svg");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center center;
    margin: 50px auto;
}
.repeat-btn {
    width: fit-content;
    height: 52px;
    margin: 50px auto;
    line-height: 52px;
    border-radius: 4px;
    padding: 0 12px;
    border: 1px solid $colorGrayLight;
    font-size: 16px;
    cursor: pointer;
    transition: .2s linear;
    @include desktop {
        &:hover {
            background: lighten($colorGrayLight, 30%);
            border: 1px solid lighten($colorGrayLight, 30%);
        }
    }
}

.caption-with-line {
    color: $colorWhite;
    position: relative;
    padding-left: 102px;
    &:before {
        position: absolute;
        left: -51px;
        top: 15px;
        display: block;
        content: '';
        width: 102px;
        height: 2px;
        background: $colorWhite;
    }
    .caption-text {
        font-weight: 400;
        font-size: 23px;
        margin-bottom: 20px;
        line-height: 1.2;
        .caption-text_link {
            display: block;
            a {
                color: $colorWhite;
            }
        }
        @include mobile {
            font-size: 18px;
        }
    }
    &.caption-big-line {
        padding-left: 146px;
        &:before {
            left: -73px;
            width: 146px;
        }
    }
    &.caption-black {
        color: $colorText !important;
        &:before {
            background: $colorText;
        }
    }

    &.caption-no-overflow {
        padding-left: 153px;
        &:before {
            left: 0;
        }
    }

    &.caption-middle-line {
        &:before {
            top: calc(50% - 1px);
        }
    }

    @include mobile {
        padding-left: 0;
        &.caption-big-line {
            padding-left: 0;
            &:before {
                display: none;
            }
        }
        &.caption-no-overflow {
            padding-left: 0;
            &:before {
                display: none;
            }
        }
        &:before {
            display: none;

        }
    }
    @include only-mobile {

    }
}

.section-btn-wrap {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
    @include mobile {
       .button {
           margin: 30px 0;
       }
    }
    @include only-mobile {
        bottom: 3%;
        .button {
            margin: 0;
        }
    }
}


.page-header {
    width: 100%;
    height: 230px;
    position: relative;
    &_date {
        position: absolute;
        left: 15%;
        bottom: 150px;
        font-size: 18px;
        color: $colorWhite;
        line-height: 1.21;
        margin-bottom: 30px;
    }
    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-color: $colorGray;
    }
    &_overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $colorBlackLight;
        opacity: 0.25;
    }

    &_title {
        position: absolute;
        bottom: 30px;
        left: 15%;
        text-transform: uppercase;
        max-height: 120px;
    }

    @include mobile {
        height: auto;
        &_bg {
            position: relative;
            top: auto;
            left: auto;
            height: 82px;
        }
        &_date {
            position: relative;
            bottom: auto;
            left: auto;
            margin-top: 20px;
            color: $colorText !important;
            text-align: center;
        }
        &_title {
            position: relative;
            bottom: auto;
            left: auto;
            margin-top: 20px;
            color: $colorText !important;
            text-align: center;
            margin-bottom: 10px;
        }
        &_overlay {
            height: 82px;
        }
    }

    @include only-mobile {
        &_bg {
            height: 45px;
        }
        &_title {
            margin-top: 15px;
        }
        &_overlay {
            height: 45px;
        }
    }
}


.page-filter {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;

    .page-filter-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        background: #fff;
        padding-bottom: 15px;
        z-index: 12;
    }
    .page-filter_row {
        width: 100%;
        border-top: 1px solid #e8e8e8;
        display: flex;
        &:last-child {
            border-bottom: 1px solid #e8e8e8;
        }
    }
    .page-filter_toggle {
        display: flex;
        width: fit-content;
        align-items: center;
        cursor: pointer;
        z-index: 3;
        span {
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 0.5px;
            color: $colorText;
        }
        img {
            display: block;
            width: 24px;
            height: 24px;
            margin-left: 21px;
            margin-top: 2px;
            transform: rotate(90deg) translateZ(0);
            transition: transform .2s linear;
        }
    }
    .page-filter_list {
        opacity: 0;
        transform: translateY(-100%);
        transition: .3s ease;
        z-index: -1;
        overflow: hidden;
        height: 0;
        .page-filter_switches {
            position: relative;
            z-index: 3;
        }
        .page-filter_tab {
            position: relative;
            opacity: 0;
            //transform: translateY(-100%);
            transition: .3s ease;
            z-index: 2;
            height: 0;
            &.active {
                opacity: 1;
                transform: translateY(0);
                height: auto;
            }
        }
        .page-filter_category {
            background-color: $colorGray;
            display: flex;
            align-items: center;
            color: $colorGrayLight;
            letter-spacing: 0.4px;
            font-size: 19px;
            min-width: 25%;
            padding: 0 15px;
        }
    }

    .page-filter_item {
        display: inline-block;
        color: $colorGrayLight;
        border: solid 1px transparent;
        transition: border-color 0.3s ease, color 0.3s ease;
        font-size: 23px;
        padding: 15px 5px;
        text-align: center;
        width: 100%;
        text-decoration: none;
        margin: 10px 0;
        white-space: nowrap;
        @include desktop {
            &:hover {
                color: $colorText;
                border-color: #e8e8e8;
            }
        }
        &.active {
            color: $colorText;
            border-color: #e8e8e8;
        }

    }
    &.page-filter-links {
        max-width: 100%;
        flex-wrap: wrap;
        .page-filter_item {
            width: auto;
            padding: 15px;
            margin: 10px;
            @include desktop-small {
                font-size: 18px;
                padding: 10px;
            }
            @include mobile {
                font-size: 18px;
                padding: 10px;
            }
            @include only-mobile {
                font-size: 15px;
                padding: 8px;
            }
        }
        .page-filter_list {
            opacity: 1;
            transform: translateY(0);
            transition: .3s ease;
            z-index: 1;
            overflow: hidden;
            height: auto;
            .page-filter_row {
                border: 0;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        @include mobile {
            .page-filter_list {
                opacity: 0;
                transform: translateY(-100%);
                transition: .3s ease;
                z-index: -1;
                overflow: hidden;
                height: 0;
                .page-filter_row {
                    border: 0;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }

    &.filter-open {
        .page-filter_toggle {
            img {
                transform: rotate(-90deg) translateZ(0);
            }
        }
        .page-filter_list {
            z-index: 1;
            opacity: 1;
            transform: translateY(0);
            height: auto;
        }
        &.page-filter-links {
            .page-filter_item {
                width: 100%;
                padding: 10px 6px;
                margin: 10px;
            }
        }
    }

    @include mobile {
        .page-filter_toggle {
            span {
                font-size: 24px;
            }
            img {
                display: block;
                width: 20px;
                height: 20px;
                margin-left: 16px;
            }
        }
        .page-filter_row {
            flex-wrap: wrap;
        }
        .page-filter_item {
            width: 100%;
            font-size: 22px;
            padding: 12px 0;
        }
        .page-filter_list {
            .page-filter_row {
                border: 0px;
                &:first-child {
                    border-top: 1px solid #e8e8e8;
                }
                &:last-child {
                    border-bottom: 1px solid #e8e8e8;
                }
            }
            .page-filter_tab {
                .page-filter_item {
                    width: 100%;
                    font-size: 18px;
                    padding: 3px 0;
                }
            }
            .page-filter_category {
                width: 100%;
                min-width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
    @include only-mobile {
        .page-filter-wrap {
            padding-top: 15px !important;
        }
    }
}



.tabs-block .tab {
    display: none;
}
.tabs-block .tab.active {
    display: block;
}


.policy-table {
    th {
        padding-left: 3px !important;
        padding-right: 3px !important;
        border-bottom: 1px solid $colorText !important;
    }
    td {
        border: 1px solid $colorText;
        padding: 8px 3px !important;
    }
    @include mobile {

        tr:last-child td {
            border: 1px solid $colorText !important;
        }
    }
}


.section-404 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .page-no-found {
        text-align: center;
    }
}
