.caption-with-line {
    color: $colorWhite;
    position: relative;
    padding-left: 102px;
    &:before {
        position: absolute;
        left: -51px;
        top: 15px;
        display: block;
        content: '';
        width: 102px;
        height: 2px;
        background: $colorWhite;
    }
    h2 {
        font-weight: 400;
        font-size: 27px;
    }
    &.caption-black {
        color: $colorText !important;
        &:before {
            background: $colorText;
        }
    }

    @include mobile {
        padding-left: 0;
        &:before {
            display: none;

        }
    }
}

.section-btn-wrap {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    text-align: center;
}
