.main-section {
    .section-content {
        position: relative;
        z-index: 5;
        height: 100%;
        .row,.col {
            height: 100%;
            padding: 0;
            margin: 0;
        }
    }

    .section-first-screen {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 225px;
        .main-title {
            font-weight: 600;
            font-size: 60px;
            color: $colorWhite;
            margin: 0 0 25px;
        }
        .caption-with-line {
            max-width: 670px;
            font-weight: 400 !important;
        }
        .down-btn {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 25px;
            margin-left: -10px;
            width: 20px;
            height: 22px;
            background-image: url(/img/agc/chevrons-down.svg);
            background-size: 40px;
            background-position: center;
            pointer-events: auto;
        }
    }

    .section-news {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        .title {
            font-size: 46px;
            color: $colorWhite;
            margin-top: auto;
            margin-bottom: 80px;
            text-transform: uppercase;
            padding-left: 225px;
        }
        .row,.col {
            height: 100%;
            padding: 0;
            margin: 0;
        }
        .news-row {
            position: relative;
            width: 100%;
            height: 45%;
            overflow: hidden;
            .more-btn-block {
                position: absolute;
                bottom: 50px;
                left: 0;
                width: 100%;
                text-align: center;
                .btn {
                    display: inline-block;
                    padding: 10px 20px;
                    font-size: 20px;
                    border: 1px solid rgba(247, 247, 247, 0.45);
                    transition: border-color 0.5s ease, background-color 0.5s ease, color 0.5s ease;
                    color: $colorWhite;
                    background: transparent;
                    @include desktop {
                        &:hover {
                            border-color: #f7f7f7;
                            background-color: #f7f7f7;
                            text-decoration: none;
                            color: #3558a2;
                        }
                    }
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: -1000px;
                        width: 1px;
                        height: 1000px;
                        background-color: rgba(233, 244, 246, 0.45);
                        margin-left: -0.5px;
                    }
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: -1000px;
                        width: 1px;
                        height: 1000px;
                        background-color: rgba(233, 244, 246, 0.45);
                        margin-left: -0.5px;
                    }
                }
            }
            .item {
                position: relative;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                display: flex;
                border-top: 1px solid rgba(233, 244, 246, 0.45);
                overflow: hidden;
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    transition: .2s linear;
                }
                .news-content {
                    position: relative;
                    width: 65%;
                    padding: 40px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .news-tag {
                        display: inline-block;
                        text-decoration: none;
                        color: $colorWhite;
                        background: $colorRedMiddle;
                        padding: 10px;
                        font-size: 17px;
                        white-space: nowrap;
                        margin-bottom: 40px;
                        border-radius: 5px;
                        @include desktop {
                            &:hover {
                                background: $colorRedDarken;
                            }
                        }
                    }
                    .news-title {
                        display: inline-block;
                        text-decoration: none;
                        color: $colorWhite;
                        font-size: 27px;
                        position: relative;
                        text-transform: uppercase;
                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -43px;
                            width: 18px;
                            height: 16px;
                            background-image: url(/img/agc/forward.svg);
                            background-size: 23px;
                            background-position: left top;
                            background-repeat: no-repeat;
                            transition: transform 0.5s ease;
                        }
                    }
                }
                &.item-left {
                    justify-content: flex-end;
                    .overlay {
                        transform: translateX(25%);
                        background: linear-gradient(to right, rgba(53, 88, 162, 0) 30%, #3558a2 70%, #3558a2 100%);
                    }
                    .news-content {
                        padding-right: 120px;
                    }
                }
                &.item-right {
                    justify-content: flex-start;
                    .overlay {
                        transform: translateX(-25%);
                        background: linear-gradient(to right, #3558a2 0%, #3558a2 30%, rgba(53, 88, 162, 0) 70%, rgba(53, 88, 162, 0) 100%);
                    }
                    .news-content {
                        padding-left: 120px;
                    }
                }

                @include desktop {
                    &:hover {
                        .overlay {
                            transform: translateX(0);
                        }
                        .news-title {
                            &:after {
                                transform: translateX(100%);
                            }
                        }
                    }
                }

            }
        }
    }

    .section-blur {
        .blur-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            padding-left: 34px;
            .blur-item_bg {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                filter: blur(9px);
                transition: filter 0.5s linear, transform 0.5s ease;
            }
            .blur-item_title {
                position: relative;
                font-size: 26px;
                line-height: 1.2;
                font-weight: 600;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: $colorWhite;
                max-width: 80%;
            }

            .blur-item_btn {
                transform: rotate(-90deg);
                width: 120px;
                height: 37px;
                text-align: center;
                position: absolute;
                right: -41px;
                span {
                    display: inline-block;
                    background-color: $colorWhite;
                    width: 2px;
                    height: 37px;
                    line-height: 37px;
                    text-transform: lowercase;
                    font-size: 0px;
                    text-align: center;
                    color: $colorWhite;
                    text-overflow: clip;
                    overflow: hidden;
                    transition: width 0.5s ease, background-color 0.2s linear;
                }
            }
            @include desktop {
                &:hover {
                    .blur-item_bg {
                        filter: blur(0);
                        transform: scale(1.05, 1.05);
                    }
                    .blur-item_btn {
                        span {
                            background-color: #e31a52;
                            width: 120px;
                            font-size: 16px;
                        }
                    }
                }
            }
            @include desktop-small {
                &:hover {
                    .blur-item_btn {
                        span {
                            background-color: #e31a52;
                            width: 100px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .section-numbers {
        display: flex;
        align-items: center;
        .section-number_wrap {
            padding: 0 82px;
        }
        .item {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .circle-item {
                width: 190px;
                height: 190px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                span {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    color: $colorWhite;
                    line-height: 1;
                }
                .counter {
                    font-size: 45px;
                    font-weight: 600;
                }
                .counter-text {
                    font-size: 21px;
                    margin-top: -4px;
                }
                svg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
            .text {
                width: 80%;
                display: inline-block;
                font-size: 23px;
                line-height: 1.4;
                color: $colorWhite;
                margin-top: 25px;
                text-align: center;
            }
        }

    }


    &.section-links {
        height: auto !important;
        overflow: visible;
        .section-links_wrap {
            .col.w-25 + .col.w-25 .item {
                border-left: 1px solid rgba(247, 247, 247, 0.45);
            }
            .item {
                display: inline-block;
                width: 100%;
                height: 280px;
                background-color: $colorBlueDarken;
                position: relative;
                cursor: pointer;
                transition: .2s ease;
                padding: 60px 40px;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    content: '';
                    background-color: $colorBlueDarken;
                    width: 100%;
                    height: 0px;
                    transition: .3s ease;
                }
                span {
                    display: inline-block;
                    font-size: 21px;
                    font-weight: 600;
                    color: $colorWhite;
                    transition: .3s ease;
                    text-transform: uppercase;
                }
                @include desktop {
                    &:hover {
                        background-color: #4471d0;
                        &:before {
                            height: 20px;
                            top: -20px;
                            background-color: #4471d0;
                        }
                        span {
                            border-left: 1px solid #ffffff;
                            border-right: 1px solid #ffffff;
                            padding: 0 28px;
                        }
                    }
                }
            }
        }
    }


    @include desktop-small {
        .section-first-screen {
            padding-left: 140px;
            .caption-with-line {
                max-width: 740px;
            }
        }

        .section-news {
            .news-row {
                height: 55%;
                .item {
                    .news-content {
                        width: 85%;
                        .news-title {
                            font-size: 25px;
                        }
                    }
                }

            }
        }

        .section-blur {
            .blur-item {
                padding-left: 10px;
                .blur-item_title {
                    font-size: 22px;
                }

                .blur-item_btn {
                    transform: rotate(-90deg);
                    width: 100px;
                    height: 15px;
                    right: -41px;
                    span {
                        width: 2px;
                        height: 15px;
                        line-height: 15px;
                    }
                }
            }
        }

        .section-numbers {
            .section-number_wrap {
                padding: 0 15px;
                .item {
                    .text {
                        width: 100%;
                    }
                }
            }
            .section-btn-wrap {
                bottom: 30px;
            }
        }

        &.section-links {
            .section-links_wrap {
                .item {
                    height: 200px;
                    padding: 60px 10px;
                }
            }
        }
    }


    @include mobile {
        .section-first-screen {
            padding: 100px 15px;
            min-height: 100vh;
            .main-title {
                font-size: 36px;
            }
            .down-btn {
                display: none;
            }
            .caption-with-line h2 {
                font-weight: 400;
                font-size: 24px;
            }
        }

        .section-news {
            padding-top: 80px;
            .col {
                height: 50%;
            }
            .title {
                padding-left: 15px;
                font-size: 30px;
            }
            .news-row {
                .item {
                    min-height: 300px;
                    justify-content: flex-start;
                    padding: 40px 20px !important;
                    border-top: 0;
                    .overlay {
                        transform: translateX(0) !important;
                        background: rgba(53,88,162,0.4) !important;
                    }
                    .news-content {
                        width: 100%;
                        padding: 0 !important;

                    }
                }
                &.item-right {
                    .news-content {
                        padding: 0;
                    }
                }
                .more-btn-block {
                    bottom: calc(50% - 23px);
                    .btn {
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                }
            }



        }

        .section-blur {
            .blur-item {
                height: 200px;
                .blur-item_bg {
                    filter: blur(0);
                }
                .blur-item_btn {
                    height: 30px;
                    right: -45px;
                    span {
                        width: 120px;
                        background-color: #e31a52;
                        font-size: 14px;
                        height: 30px;
                        line-height: 30px;
                    }
                }
            }
        }

        .section-numbers {
            padding: 80px 15px 110px;
            .section-number_wrap {
                padding: 0;
                .item {
                    margin-bottom: 30px;
                }
            }
            .section-btn-wrap {
                bottom: -10px;
            }
        }

        &.section-links {
            .section-links_wrap {
                .col.w-25 + .col.w-25 .item {
                    border-left: 0;
                    border-top: 1px solid rgba(247, 247, 247, 0.45);
                }
                .item {
                    height: 100px;
                    padding: 40px;
                }
            }
        }

    }

    @include only-mobile {
        .section-news {
            padding-top: 40px;
            .title {
                font-size: 28px;
                margin-bottom: 40px;
            }
            .news-row {
                .item {
                    min-height: 270px;
                    .news-content {
                        .news-tag {
                            margin-bottom: 15px;
                        }
                        .news-title {
                            font-size: 22px;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .section-blur {
            .blur-item {
                padding-left: 15px;
            }
        }

        .section-numbers {
            padding: 40px 15px 110px;
            .item {
                .circle-item {
                    width: 150px;
                    height: 150px;
                    .counter {
                        font-size: 30px;
                    }
                    .counter-text {
                        font-size: 19px;
                    }
                }
                .text {
                    width: 100%;
                    font-size: 20px;
                }
            }
        }
    }
}
