.media-section {
    .media-list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        margin: 25px -1%;
        .item {
            display: block;
            /*flex: 1 1 31%;*/
            width: 31%;
            margin: 0 1% 30px 1%;
            position: relative;
            overflow: hidden;
            &:before {
                display: block;
                content: '';
                float: left;
                padding-top: 104%;
            }
            .bg-wrap {
                display: block;
                position: relative;
                width: 100%;
                overflow: hidden;
                height: 77%;
                text-decoration: none;
                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    background-position: center center;
                    background-repeat: no-repeat;
                    -webkit-background-size: cover;
                    background-size: cover;
                    transition: .3s;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility:    hidden;
                    -ms-backface-visibility:     hidden;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background-color: $colorBlackLight;
                    transition: .3s;
                }
                .info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 7;
                    opacity: 0;
                    transition: .3s;
                    color: $colorWhite;
                    span {
                        display: inline-block;
                        margin-top: 4px;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                @include desktop {
                    &:hover {
                        .bg {
                            transform: scale(1.05) translateZ(0);
                        }
                        .overlay {
                            opacity: .5;
                        }
                        .info {
                            opacity: 1;
                        }
                    }
                }
            }
            .item-info {
                background: $colorWhite;
                width: 100%;
                height: 23%;
                overflow: hidden;
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                z-index: 8;
                transition: .2s;
                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    background: #ffffff;
                    transition: .2s;
                    width: 75%;
                    .title {
                        display: inline-block;
                        width: 100%;
                        font-weight: 600;
                        font-size: 27px;
                        line-height: 27px;
                        color: $colorText;
                        height: 55px;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        text-overflow: ellipsis;
                        text-decoration: none;
                        @include desktop {
                            &:hover {
                                color: $colorBlueDarken;
                            }
                        }
                    }
                    .type {
                        font-size: 15px;
                        color: $colorText;
                        margin-top: 15px;
                    }
                }
                .btn {
                    width: 15%;
                    padding: 0 5px;
                    height: 100%;
                    background: $colorBlueDarken;
                    transition: .2s;
                    font-size: 19px;
                    color: $colorWhite;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    text-decoration: none;
                    span {
                        font-size: 0;
                        width: 0;
                        overflow: hidden;
                    }
                    img {
                        width: auto;
                    }
                    @include desktop {
                        &:hover {
                            width: 25%;
                            span {
                                font-size: 19px;
                                width: auto;
                            }
                            img {
                                opacity: 0;
                                width: 0;
                            }
                        }
                    }
                }
            }

            &.item-with-video {
                .item-info {
                    .text {
                        pointer-events: none;
                    }
                    .btn {
                        display: none;
                    }
                }
            }
            @include desktop-small {
                .bg-wrap {
                    height: 75%;
                }
                .item-info {
                    height: 25%;
                    .text {
                        width: 75%;
                        .title {
                            height: 52px;
                            font-size: 19px;
                            line-height: 21px;
                            margin-top: 4px;
                        }
                        .type {
                            margin-top: 2px;
                        }
                    }
                    .btn {
                        width: 10%;
                        padding: 0 5px;
                        font-size: 17px;
                        span {
                            font-size: 0;
                            width: 0;
                            overflow: hidden;
                        }
                        img {
                            width: auto;
                            transform: rotate(-90deg);
                        }
                    }
                }

            }

            @include mobile {
                width: 48%;
                &:before {
                    display: block;
                    content: '';
                    float: left;
                    padding-top: 90%;
                }
                .bg-wrap {
                    height: 70%;
                }
                .item-info {
                    height: 30%;
                    .text {
                        width: 100%;
                        .title {
                            height: 40px;
                            font-size: 20px;
                            line-height: 20px;
                        }
                        .type {
                            font-size: 13px;
                            margin-top: 12px;
                        }
                    }
                }
            }

            @include only-mobile {
                width: 98%;
                &:before {
                    display: block;
                    content: '';
                    float: left;
                    padding-top: 70%;
                }
                .bg-wrap {
                    height: 70%;
                }
                .item-info {
                    height: 30%;
                    .text {
                        .title {
                            height: 50px;
                            font-size: 22px;
                            line-height: 23px;
                        }
                        .type {
                            font-size: 14px;
                            margin-top: 15px;
                        }
                    }
                }
            }
            @include mobile-small {
                .item-info {
                    height: 30%;
                    .text {
                        .title {
                            height: 38px;
                            font-size: 18px;
                            line-height: 19px;
                        }
                        .type {
                            font-size: 11px;
                            margin-top: 8px;
                        }
                    }
                }
            }


        }

    }
}

.media-video-modal {
    .modal-content {
        background: transparent;
        max-width: 80%;
        @include mobile {
            max-width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }
    .close {
        position: absolute;
        right: 25px;
        top: 25px;
        width: 35px;
        height: 45px;
        &:before,
        &:after {
            height: 40px;
            background: $colorWhite;
        }
    }
    .thumb-wrap {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .thumb-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }
}



