.media-section {
    .media-list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        margin: 25px -1%;
        .item {
            display: block;
            /*flex: 1 1 31%;*/
            width: 31%;
            margin: 0 1% 30px 1%;
            position: relative;
            overflow: hidden;
            .bg-wrap {
                width: 100%;
                overflow: hidden;
                &:before {
                    display: block;
                    content: '';
                    float: left;
                    padding-top: 81%;
                }
                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    background-position: center center;
                    background-repeat: no-repeat;
                    -webkit-background-size: cover;
                    background-size: cover;
                    transition: .2s;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    background-color: #151515;
                    transition: .2s;
                }
                @include desktop {
                    &:hover {
                        .bg {
                            transform: scale(1.1) translateZ(0);
                        }
                        .overlay {
                            opacity: .5;
                        }
                    }
                }
            }
            .item-info {
                background: transparent;
                width: 100%;
                height: 23%;
                overflow: hidden;
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                z-index: 8;
                transition: .2s;
                .text {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    width: 70%;
                    background: #ffffff;
                    transition: .2s;
                    .title {
                        width: 100%;
                        font-weight: 600;
                        font-size: 27px;
                        line-height: 27px;
                        color: $colorText;
                        height: 55px;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        text-overflow: ellipsis;
                    }
                    .date {
                        font-size: 21px;
                        line-height: 21px;
                        color: $colorText;
                        margin-top: 15px;
                    }
                }
                .btn {
                    width: 15%;
                    padding: 0 5px;
                    height: 100%;
                    background: $colorBlueDarken;
                    transform: translateX(-5%);
                    transition: .2s;
                    font-size: 19px;
                    color: $colorWhite;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-size: 0;
                        width: 0;
                        overflow: hidden;
                    }
                    img {
                        width: auto;
                        transform: rotate(-90deg);
                    }
                }
            }

            @include desktop {
                &:hover {
                    .bg-wrap {
                        .bg {
                            transform: scale(1.1);
                        }
                    }

                    .item-info {
                        transition: .2s;

                        .text {
                            .title {
                                color: $colorBlueDarken;
                            }
                        }

                        .btn {
                            width: 30%;
                            background: $colorBlueDarken;
                            transform: translateX(0);
                            span {
                                font-size: 19px;
                                width: auto;
                            }
                            img {
                                opacity: 0;
                                width: 0;
                            }
                        }
                    }
                }
            }

            @include desktop-small {
                width: 48%;

                .item-info {
                    height: 23%;
                    .text {
                        width: 75%;
                        .title {
                            height: 48px;
                            font-size: 24px;
                            line-height: 24px;
                        }
                        .date {
                            margin-top: 12px;
                        }
                    }
                    .btn {
                        width: 10%;
                        padding: 0 5px;
                        font-size: 19px;
                        span {
                            font-size: 0;
                            width: 0;
                            overflow: hidden;
                        }
                        img {
                            width: auto;
                            transform: rotate(-90deg);
                        }
                    }
                }


                &:hover {
                    .item-info {
                        .btn {
                            width: 25%;
                            span {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }

            @include mobile {
                width: 48%;
                .bg-wrap {
                    height: 70%;
                }
                .item-info {
                    height: 30%;
                    .text {
                        width: 100%;
                        .title {
                            height: 40px;
                            font-size: 20px;
                            line-height: 20px;
                        }
                        .date {
                            font-size: 14px;
                            margin-top: 12px;
                        }
                    }
                    .btn {
                        display: none;
                    }
                }
            }

            @include only-mobile {
                width: 98%;
                &:before {
                    display: block;
                    content: '';
                    float: left;
                    padding-top: 84%;
                }
                .bg-wrap {
                    height: 70%;
                }
                .item-info {
                    height: 30%;
                    .text {
                        .title {
                            height: 40px;
                            font-size: 20px;
                            line-height: 20px;
                        }
                        .date {
                            font-size: 14px;
                            margin-top: 12px;
                        }
                    }
                }
            }


        }

    }
}
