.partners {
    display: flex;
    min-height: calc(100vh - 230px);
    .partners-types {
        width: 25%;
        background-color: #151515;
        padding-top: 40px;
        padding-left: 50px;
        padding-bottom: 80px;
        .partners-types_list {
            display: flex;
            flex-direction: column;
            padding: 15px;
            .partners-types_item {
                display: inline-block;
                text-decoration: none;
                font-size: 18px;
                color: $colorGrayLight;
                transition: .2s ease;
                margin-bottom: 15px;
                &.active {
                    color: #a8a8a8;
                }
                @include desktop {
                    &:hover {
                        color: #a8a8a8;
                    }
                }
            }
        }
    }

    .partners-info {
        position: relative;
        width: 75%;
        min-height: calc(100vh - 230px);
        height: 100%;
        .partners-info_top {
            width: 100%;
            height: 36px;
            display: flex;
            align-items: center;
            background-color: #ececec;
            border: 0;
            border-bottom: $colorGrayLight 1px solid;
            padding: 0 15px;
            & > span {
                font-size: 15px;
                color: $colorText;
            }
            .partners-tab {
                font-size: 15px;
                margin-left: 15px;
                color: $colorText;
                display: flex;
                align-items: center;
                span {
                    display: inline-block;
                }
                .glyphicon {
                    margin-top: 1px;
                    margin-right: 4px;
                }
                &:not(.active) {
                    opacity: .7;
                }
            }
        }
        .partners-companies {
            position: absolute;
            width: 100%;
            height: calc(100% - 36px);
            top: 36px;
            left: 0;
            display: flex;
            align-items: stretch;
            .partners-companies_list {
                width: 50%;
                height: 100%;
                padding: 30px 20px;
                overflow: scroll;
                border-right: 2px solid $colorGrayLight;
                &::-webkit-scrollbar { width: 3px; height: 3px;}
                &::-webkit-scrollbar-button {  height: 0; }
                &::-webkit-scrollbar-track {  background-color: #999;}
                &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
                &::-webkit-scrollbar-thumb { height: 50px; background-color: $colorGrayLight; border-radius: 3px;}
                &::-webkit-scrollbar-corner { background-color: #999;}
                &::-webkit-resizer { background-color: #666;}
                .partners-type_title {
                    font-size: 24px;
                    margin-bottom: 25px;
                }
                .partners-type_list {
                    display: flex;
                    flex-direction: column;
                    a {
                        display: inline-block;
                        font-size: 18px;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #5c5c5c;
                        transition: .2s;
                        cursor: pointer;
                        margin-bottom: 10px;
                        @include desktop {
                            &:hover {
                                opacity: .8;
                            }
                        }
                        &.active {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .partners-companies_desc {
                width: 50%;
                height: 100%;
                overflow: scroll;
                border-right: 2px solid $colorGrayLight;
                &::-webkit-scrollbar { width: 3px; height: 3px;}
                &::-webkit-scrollbar-button {  height: 0; }
                &::-webkit-scrollbar-track {  background-color: #999;}
                &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
                &::-webkit-scrollbar-thumb { height: 50px; background-color: $colorGrayLight; border-radius: 3px;}
                &::-webkit-scrollbar-corner { background-color: #999;}
                &::-webkit-resizer { background-color: #666;}
            }
        }
        .partners-map {
            position: absolute;
            width: 100%;
            height: calc(100% - 36px);
            top: 36px;
            left: 0;
        }
    }

    .hide {
        display: none;
        visibility: hidden;
    }

    @include desktop-smaller {
        .partners-types {
            padding-left: 10px;
        }
    }

    @include mobile {
        margin-top: 20px;
        flex-wrap: wrap;
        .partners-types {
            width: 100%;
            padding: 30px;
        }
        .partners-info {
            width: 100%;
            min-height: calc(100vh - 230px);
        }
    }
    @include only-mobile {
        min-height: auto;
        .partners-types {
            width: 100%;
            padding: 10px;
        }
        .partners-info {
            width: 100%;
            .partners-companies {
                position: relative;
                top: auto;
                flex-wrap: wrap;
                overflow: scroll;
                &::-webkit-scrollbar { width: 3px; height: 3px;}
                &::-webkit-scrollbar-button {  height: 0; }
                &::-webkit-scrollbar-track {  background-color: #999;}
                &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
                &::-webkit-scrollbar-thumb { height: 50px; background-color: $colorGrayLight; border-radius: 3px;}
                &::-webkit-scrollbar-corner { background-color: #999;}
                &::-webkit-resizer { background-color: #666;}
                .partners-companies_list {
                    width: 100%;
                }
                .partners-companies_desc {
                    width: 100%;
                }
            }

        }

    }
}

.partners-company_detail {
    padding: 30px 10px 30px 30px;
    img {
        height: 100px;
    }
    .title {
        margin: 15px 0 0;
    }
    span {
        margin: 10px 0 0;
        padding-right: 15px;
        display: block;
        font-size: 15px;
    }
    .company-contacts {
        margin: 10px 0 0;
        padding-left: 15px;
    }

    .company-contacts span {
        display: block;
        padding-top: 5px;
    }

    .company-contacts span a {
        text-decoration: none !important;
        text-transform: lowercase !important;
        color: #3b437a !important;
        font-size: 15px;
    }

}

#partners-modal  {
    .modal-content {
        max-height: 80%;
        overflow-y: auto;
        &::-webkit-scrollbar { width: 3px; height: 3px;}
        &::-webkit-scrollbar-button {  height: 0; }
        &::-webkit-scrollbar-track {  background-color: #999;}
        &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
        &::-webkit-scrollbar-thumb { height: 50px; background-color: $colorGrayLight; border-radius: 3px;}
        &::-webkit-scrollbar-corner { background-color: #999;}
        &::-webkit-resizer { background-color: #666;}
    }

    @include only-mobile {
        .modal-content {
            margin-left: 0;
            margin-right: 0;
        }
        .modal-info {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
