.pdf-section {
    .pdf_list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 50px -1%;
        @include only-mobile {
            margin: 50px 0;
        }
        .item {
            width: 23%;
            margin: 0 1% 35px;
            @include desktop-small {
                width: 31.333%;
                margin: 0 1% 35px;
            }
            @include mobile {
                width: 48%;
                margin: 0 1% 35px;
            }
            @include mobile-small {
                width: 100%;
                margin: 0 0 25px;
            }
            &:last-child {
                margin-bottom: 0 !important;
            }
            .item-wrap {
                width: 100%;
                background: transparent;
                padding: 0;
                border: 0;
                .item-image {
                    width: 100%;
                    transition: .3s;
                    margin: 0;
                    height: auto;
                    pointer-events: none;
                    ._df_book-cover {
                        display: flex;
                        transition: .3s;
                        width: 100%;
                        height: 100%;
                        &:before {
                            display: block;
                            float: left;
                            content: '';
                            padding-top: 141%;
                        }
                    }
                    ._df_book-tag {
                        display: none;
                    }
                }
                .desc {
                    white-space: initial;
                    transition: .3s;
                    .title {
                        font-size: 24px;
                        line-height: 29px;
                        color: $colorText !important;
                        font-weight: 600;
                        margin: 20px 0 15px;
                        @include mobile {
                            font-size: 22px;
                            line-height: 26px;
                        }
                        @include mobile-small {
                            font-size: 19px;
                            line-height: 22px;
                        }
                    }
                    .text {
                        font-size: 20px;
                        line-height: 24px;
                        color: $colorText !important;
                        @include mobile {
                            font-size: 18px;
                            line-height: 22px;
                        }
                        @include mobile-small {
                            font-size: 16px;
                            line-height: 19px;
                        }
                        &.text-uppercase {
                            text-transform: uppercase;
                        }
                    }
                    .version {
                        font-size: 14px;
                        line-height: 17px;
                        color: #585858 !important;
                        margin-top: 10px;
                        text-transform: uppercase;
                        @include mobile {
                            font-size: 12px;
                            line-height: 15px;
                        }
                        @include mobile-small {
                            font-size: 10px;
                            line-height: 13px;
                        }
                    }
                }
            }

            @include desktop {
                &:hover {
                    .item-wrap {
                        .item-image {
                            ._df_book-cover {
                                transform: rotateY(-20deg) rotateZ(0deg) !important;
                                box-shadow: 3px 0 12px rgba(0, 0, 0, 0.60) !important;
                            }

                        }
                        .desc {
                            opacity: .6;
                        }
                    }
                }
            }
        }

    }
}

.df-ui-btn{
    color: $colorText;
    &:hover {
        color: $colorBlueDarken;
    }
    &.df-active {
        color: $colorBlueDarken;
    }
    &.df-ui-outline,
    &.df-ui-download {
        width: auto;
        display: flex;
        align-items: center;
        span {
            display: inline-block;
            margin-left: 5px;
            @include only-mobile {
                display: none;
            }
        }
    }
    label {
        color: $colorText;
    }
}
.df-share-button {
    font-size: 21px;
}
.df-sidemenu {
    width: 300px;
    @include only-mobile {
        width: 280px;
    }
    .df-outline-item {
        a {
            font-size: 16px;
            text-transform: uppercase;
            padding-bottom: 5px;
        }
    }
}
