.realized-projects {
    &_list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 25px;
        .item {
            position: relative;
            width: 23%;
            margin: 0 1% 30px 1%;
            overflow: hidden;
            @include desktop-small {
                width: 30%;
                margin: 0 1.6% 30px 1.6%;
            }
            @include mobile {
                width: 46%;
                margin: 0 2% 30px 2%;
            }

            @include only-mobile {
                width: 100%;
                margin: 0 0 30px;
            }
            .bg {
                display: flex;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                transition: .3s ease;
                &:before {
                    display: block;
                    content: '';
                    float: left;
                    padding-top: 90%;
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: .3s ease;
                background-color: $colorBlackLight;
                opacity: 0.35;
            }

            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 1.19;
                    text-align: left;
                    color: $colorWhite;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    opacity: 1;
                    height: auto;
                    min-height: 64px;
                    @include desktop-big {
                        font-size: 28px;
                    }

                    @include desktop-medium {
                        font-size: 22px;
                        min-height: 52px;
                        margin-bottom: 20px;
                    }
                    @include desktop-smaller {
                        font-size: 20px;
                        min-height: 48px;
                        margin-bottom: 15px;
                    }
                    @include mobile {
                        font-size: 18px;
                        min-height: 42px;
                        margin-bottom: 10px;
                    }
                    @include only-mobile {
                        font-size: 16px;
                        min-height: 36px;
                        margin-bottom: 10px;
                    }
                }
                .tags {
                    opacity: 0;
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    transition: .2s linear;
                    &:before {
                        position: absolute;
                        left: 0;
                        top: -12px;
                        display: block;
                        content:'';
                        width: 38px;
                        height: 2px;
                        background: $colorWhite;
                        @include desktop-big {
                            top: -16px;
                        }
                        @include desktop-smaller {
                            display: none;
                        }
                        @include mobile {
                            display: none;
                        }

                    }
                    @include mobile {
                        opacity: 1;
                    }
                    a {
                        display: inline-block;
                        font-size: 15px;
                        color: $colorWhite;
                        border: 1px solid #e8e8e8;
                        transition: all .3s ease;
                        margin-bottom: 15px;
                        padding: 5px;
                        line-height: 1;
                        border-radius: 5px;
                        @include desktop-big {
                            font-size: 18px;
                        }
                        @include desktop-medium {
                            font-size: 14px;
                            margin-bottom: 8px;
                        }
                        @include desktop-smaller {
                            font-size: 13px;
                        }
                        @include desktop {
                            &:hover {
                                background-color: #e8e8e8;
                                color: #000;
                                text-decoration: none;
                            }
                        }
                        @include mobile {
                            font-size: 12px;
                        }
                        @include only-mobile {
                            font-size: 10px;
                        }

                    }
                }
                .desc {
                    opacity: 0;
                    font-size: 18px;
                    color: $colorWhite;
                    line-height: 1.38;
                    transition: .2s linear;
                    @include desktop-big {
                        font-size: 21px;
                    }
                    @include desktop-medium {
                        font-size: 16px;
                    }
                    @include desktop-smaller {
                        font-size: 14px;
                    }
                    @include mobile {
                        opacity: 1;
                        font-size: 14px;
                    }
                }
                .detail-link {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: $colorBlueDarken;
                    color: $colorWhite;
                    padding: 14px 18px;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    transition: .2s linear;
                    @include desktop-big {
                        font-size: 17px;
                        padding: 16px 20px;
                    }
                    @include desktop-smaller {
                        font-size: 14px;
                        padding: 12px 16px;
                    }
                    img {
                        display: block;
                        margin-left: 5px;
                        transform: rotate(-90deg);
                        transition: .2s linear;
                    }
                    @include desktop {
                        &:hover {
                            background: darken($colorBlueDarken, 10%);
                            img {
                                transform: rotate(-90deg) translateY(5px);
                            }
                        }
                    }
                    @include mobile {
                        opacity: 1;
                    }
                }
            }
            @include desktop {
                &:hover {
                    .bg {
                        transform: scale(1.1) translateZ(0);
                    }
                    .overlay {
                        opacity: 0.7;
                    }
                    .content {
                        .tags, .desc, .detail-link {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }


    &.realized-projects__page {
        display: flex;
        background: $colorBlackLight;
        @include mobile {
            flex-wrap: wrap;
        }
        .realized-projects__left {
            width: 550px;
            padding: 50px 35px 40px 50px;
            color: #676767;
            @include desktop-smaller {
                width: 50%;
            }
            @include mobile {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 30px;
            }
            @include only-mobile {
                padding: 30px 15px;
            }
            .realized-projects__links {
                display: flex;
                flex-direction: column;
                @include mobile {
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                a {
                    position: relative;
                    display: block;
                    margin-bottom: 15px;
                    color: #676767;
                    font-size: 20px;
                    margin-left: 80px;
                    letter-spacing: 0.25px;
                    transition: .2s ease;
                    @include desktop {
                        &:hover {
                            color: $colorWhite;
                        }
                    }
                    @include mobile {
                        margin: 0 15px 20px;
                        font-size: 18px;
                    }

                    &.active {
                        color: $colorWhite;
                        margin-left: 120px;
                        &:before {
                            position: absolute;
                            display: block;
                            content: '';
                            opacity: 1;
                            background: #fff;
                            margin-left: -20px;
                            top: calc(50% - 1px);
                            left: 0;
                            width: 236px;
                            height: 2px;
                            -webkit-transform: translate(-100%, -50%);
                            -ms-transform: translate(-100%, -50%);
                            transform: translate(-100%, -50%);
                            -webkit-transition: inherit;
                            -o-transition: inherit;
                            transition: inherit;
                        }
                        @include mobile {
                            margin-left: 0;
                            &:before {
                                display: none;
                            }
                        }
                    }

                }
            }

            .realized-projects__view {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                font-size: 18px;
                margin: 20px 0 30px;
                span {
                    display: inline-block;
                    color: #676767;
                    transition: .3s;
                }
                .text {
                    margin-right: 20px;
                }
                .realized-projects-tab {
                    font-size: 15px;
                    margin-right: 10px;
                    @include desktop {
                        &:hover {
                            color: $colorWhite;
                            span {
                                color: $colorWhite;
                            }
                        }
                    }
                }
            }

            .realized-projects__text {
                font-size: 16px;
                margin-top: 0;
                margin-bottom: 20px;
            }

            .realized-projects__subtitle {
                text-transform: uppercase;
                color: $colorWhite;
                font-size: 14px;
            }
            .button {
                margin: 20px 0;
            }
        }
        .realized-projects_list {
            width: 100%;
            padding: 0;
            @include desktop-smaller {
                width: 50%;
            }
            .item {
                display: block;
                position: relative;
                width: 50%;
                margin: 0;

                .bg {
                    &:before {
                        padding-top: 58%;
                    }
                }
                .content {
                    .title {
                        margin-bottom: 5px;
                        @include desktop-big {
                            font-size: 31px;
                        }
                    }
                    .tags {
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        opacity: 1;
                        span {
                            font-size: 12px;
                            color: $colorWhite;
                        }
                        &:before {
                            display: none;
                        }
                        @include desktop-big {
                            span {
                                font-size: 16px;
                            }
                        }
                    }
                    .desc {
                        position: relative;
                        &:before {
                            position: absolute;
                            left: 0;
                            top: -12px;
                            display: block;
                            content:'';
                            width: 38px;
                            height: 2px;
                            background: $colorWhite;
                            @include desktop-big {
                                top: -16px;
                            }
                            @include desktop-smaller {
                                display: none;
                            }
                            @include mobile {
                                display: none;
                            }

                        }
                        @include desktop-big {
                            font-size: 24px;
                        }
                    }
                }

                @include desktop-smaller {
                    width: 100%;
                }
                @include mobile {
                    width: 100%;
                    .bg {
                        &:before {
                            padding-top: 45%;
                        }
                    }
                }
                @include only-mobile {
                    width: 100%;
                    .bg {
                        &:before {
                            padding-top: 55%;
                        }
                    }

                    .content {
                        padding: 15px 10px;
                        .tags {
                            position: absolute;
                            bottom: 15px;
                            left: 10px;
                        }
                    }
                }
            }
        }
    }
}


