.ro {
    &_list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 25px;
        .item {
            position: relative;
            width: 23%;
            margin: 0 1% 30px 1%;
            overflow: hidden;
            @include desktop-small {
                width: 30%;
                margin: 0 1.6% 30px 1.6%;
            }
            @include mobile {
                width: 46%;
                margin: 0 2% 30px 2%;
            }

            @include only-mobile {
                width: 100%;
                margin: 0 0 30px;
            }
            .bg {
                display: flex;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                transition: .3s ease;
                &:before {
                    display: block;
                    content: '';
                    float: left;
                    padding-top: 90%;
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: .3s ease;
                background-color: $colorBlackLight;
                opacity: 0.35;
            }

            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 1.19;
                    text-align: left;
                    color: $colorWhite;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    opacity: 1;
                    height: auto;
                    min-height: 64px;
                    @include desktop-big {
                        font-size: 28px;
                    }

                    @include desktop-medium {
                        font-size: 22px;
                        min-height: 52px;
                        margin-bottom: 20px;
                    }
                    @include desktop-smaller {
                        font-size: 20px;
                        min-height: 48px;
                        margin-bottom: 15px;
                    }
                    @include mobile {
                        font-size: 18px;
                        min-height: 42px;
                        margin-bottom: 10px;
                    }
                    @include only-mobile {
                        font-size: 16px;
                        min-height: 36px;
                        margin-bottom: 10px;
                    }
                }
                .tags {
                    opacity: 0;
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    transition: .2s linear;
                    &:before {
                        position: absolute;
                        left: 0;
                        top: -12px;
                        display: block;
                        content:'';
                        width: 38px;
                        height: 2px;
                        background: $colorWhite;
                        @include desktop-big {
                            top: -16px;
                        }
                        @include desktop-smaller {
                            display: none;
                        }
                        @include mobile {
                            display: none;
                        }

                    }
                    @include mobile {
                        opacity: 1;
                    }
                    a {
                        display: inline-block;
                        font-size: 15px;
                        color: $colorWhite;
                        border: 1px solid #e8e8e8;
                        transition: all .3s ease;
                        margin-bottom: 15px;
                        padding: 5px;
                        line-height: 1;
                        border-radius: 5px;
                        @include desktop-big {
                            font-size: 18px;
                        }
                        @include desktop-medium {
                            font-size: 14px;
                            margin-bottom: 8px;
                        }
                        @include desktop-smaller {
                            font-size: 13px;
                        }
                        @include desktop {
                            &:hover {
                                background-color: #e8e8e8;
                                color: #000;
                                text-decoration: none;
                            }
                        }
                        @include mobile {
                            font-size: 12px;
                        }
                        @include only-mobile {
                            font-size: 10px;
                        }

                    }
                }
                .desc {
                    opacity: 0;
                    font-size: 18px;
                    color: $colorWhite;
                    line-height: 1.38;
                    transition: .2s linear;
                    @include desktop-big {
                        font-size: 21px;
                    }
                    @include desktop-medium {
                        font-size: 16px;
                    }
                    @include desktop-smaller {
                        font-size: 14px;
                    }
                    @include mobile {
                        opacity: 1;
                        font-size: 14px;
                    }
                }

                .detail-link {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: $colorBlueDarken;
                    color: $colorWhite;
                    padding: 14px 18px;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    transition: .2s linear;
                    @include desktop-big {
                        font-size: 17px;
                        padding: 16px 20px;
                    }
                    @include desktop-smaller {
                        font-size: 14px;
                        padding: 12px 16px;
                    }
                    img {
                        display: block;
                        margin-left: 5px;
                        transform: rotate(-90deg);
                        transition: .2s linear;
                    }
                    @include desktop {
                        &:hover {
                            background: darken($colorBlueDarken, 10%);
                            img {
                                transform: rotate(-90deg) translateY(5px);
                            }
                        }
                    }
                    @include mobile {
                        opacity: 1;
                    }
                }
            }
            @include desktop {
                &:hover {
                    .bg {
                        transform: scale(1.1) translateZ(0);
                    }
                    .overlay {
                        opacity: 0.7;
                    }
                    .content {
                        .tags, .desc, .detail-link {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }


    &.ro__page {
        display: flex;
        background: $colorBlackLight;
        @include mobile {
            flex-wrap: wrap;
        }

        .ro__left {
            width: 550px;
            padding: 50px 35px 40px 50px;
            color: #676767;
            @include desktop-smaller {
                width: 50%;
            }
            @include mobile {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 30px;
            }
            @include only-mobile {
                padding: 30px 15px;
            }
            .ro__links {
                display: flex;
                flex-direction: column;
                @include mobile {
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                a {
                    position: relative;
                    display: block;
                    margin-bottom: 15px;
                    color: #676767;
                    font-size: 20px;
                    margin-left: 80px;
                    letter-spacing: 0.25px;
                    transition: .2s ease;
                    @include desktop {
                        &:hover {
                            color: $colorWhite;
                        }
                    }
                    @include mobile {
                        margin: 0 15px 20px;
                        font-size: 18px;
                    }

                    &.active {
                        color: $colorWhite;
                        margin-left: 120px;
                        &:before {
                            position: absolute;
                            display: block;
                            content: '';
                            opacity: 1;
                            background: #fff;
                            margin-left: -20px;
                            top: calc(50% - 1px);
                            left: 0;
                            width: 236px;
                            height: 2px;
                            -webkit-transform: translate(-100%, -50%);
                            -ms-transform: translate(-100%, -50%);
                            transform: translate(-100%, -50%);
                            -webkit-transition: inherit;
                            -o-transition: inherit;
                            transition: inherit;
                        }
                        @include mobile {
                            margin-left: 0;
                            &:before {
                                display: none;
                            }
                        }
                    }

                }
            }

            .ro__view {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                font-size: 18px;
                margin: 20px 0 30px;
                span {
                    display: inline-block;
                    color: #676767;
                    transition: .3s;
                }
                .text {
                    margin-right: 20px;
                }
                .ro-tab {
                    font-size: 15px;
                    margin-right: 10px;
                    &.active {
                        color: $colorWhite;
                        span {
                            color: $colorWhite;
                        }
                    }
                    @include desktop {
                        &:hover {
                            color: $colorWhite;
                            span {
                                color: $colorWhite;
                            }
                        }
                    }
                }
            }

            .ro__text {
                font-size: 16px;
                margin-top: 0;
                margin-bottom: 20px;
            }

            .ro__subtitle {
                text-transform: uppercase;
                color: $colorWhite;
                font-size: 14px;
            }
            .button {
                margin: 20px 0;
            }
        }
        .ro__content {
            width: 100%;
            @include desktop-smaller {
                width: 50%;
            }
            .ro_map {
                width: 100%;
                min-height: calc(100vh - 230px);
            }
            .ro_list {
                width: 100%;
                padding: 0;
                .item {
                    display: block;
                    position: relative;
                    width: 50%;
                    margin: 0;

                    .bg {
                        &:before {
                            padding-top: 58%;
                        }
                    }
                    .content {
                        .title {
                            margin-bottom: 5px;
                            @include desktop-big {
                                font-size: 31px;
                            }
                        }
                        .tags {
                            position: absolute;
                            bottom: 20px;
                            left: 20px;
                            opacity: 1;
                            span {
                                font-size: 12px;
                                color: $colorWhite;
                            }
                            &:before {
                                display: none;
                            }
                            @include desktop-big {
                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                        .desc {
                            position: relative;
                            &:before {
                                position: absolute;
                                left: 0;
                                top: -12px;
                                display: block;
                                content:'';
                                width: 38px;
                                height: 2px;
                                background: $colorWhite;
                                @include desktop-big {
                                    top: -16px;
                                }
                                @include desktop-smaller {
                                    display: none;
                                }
                                @include mobile {
                                    display: none;
                                }

                            }
                            @include desktop-big {
                                font-size: 24px;
                            }
                        }
                        .glasses {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-top: 10px;
                            opacity: 0;
                            transition: .2s;
                            .text {
                                display: inline-block;
                                margin-right: 10px;
                                font-size: 18px;
                                color: $colorWhite;
                                margin-bottom: 10px;
                            }
                            a {
                                display: inline-flex;
                                padding: 6px 12px;
                                border: 2px solid $colorWhite;
                                font-size: 18px;
                                color: $colorWhite;
                                margin-right: 10px;
                                transition: .2s;
                                margin-bottom: 10px;
                                border-radius: 5px;
                                @include desktop {
                                    &:hover {
                                        background: $colorWhite;
                                        color: $colorText;
                                    }
                                }
                            }
                        }
                    }


                    @include desktop {
                        &:hover {
                            .content {
                                .glasses {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    @include desktop-medium {
                        .glasses {
                            .text {
                                font-size: 16px !important;
                            }
                            a {
                                padding: 5px 10px !important;
                                font-size: 16px !important;
                            }
                        }
                    }
                    @include desktop-smaller {
                        width: 100%;
                        .content {
                            .glasses {
                                .text {
                                    font-size: 14px !important;
                                }
                                a {
                                    font-size: 14px !important;
                                }
                            }
                        }
                    }
                    @include mobile {
                        width: 100%;
                        .bg {
                            &:before {
                                padding-top: 45%;
                            }
                        }
                        .content {
                            .glasses {
                                opacity: 1;
                                .text {
                                    font-size: 15px;
                                }
                                a {
                                    padding: 5px 10px;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    @include only-mobile {
                        width: 100%;
                        .bg {
                            &:before {
                                padding-top: 55%;
                            }
                        }

                        .content {
                            padding: 15px 10px;

                            .title {
                                font-size: 13px;
                                min-height: 30px;
                            }
                            .tags {
                                position: absolute;
                                bottom: 15px;
                                left: 10px;
                            }


                            .desc {
                                font-size: 10px;
                            }

                            .glasses {
                                .text {
                                    font-size: 10px;
                                    margin-bottom: 5px;
                                }
                                a {
                                    padding: 3px 6px;
                                    font-size: 10px;
                                    margin-bottom: 5px;
                                }
                            }

                            .detail-link {
                                padding: 5px 10px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

    }
}


.projects-modal {

    .modal-content {
        position: relative;
        overflow: visible;
        background: transparent;
        padding: 0;
        .modal-info {
            padding: 0;
        }
        .close {
            position: absolute;
            top: -30px;
            right: -30px;
            &:before, &:after {
                background-color: $colorWhite;
            }
        }
    }
    .project-info {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        &:before {
            display: block;
            float: left;
            content: '';
            padding-top: 100%;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $colorBlackLight;
            opacity: 0.25;
            transition: .2s linear;
            z-index: 3;
        }
        .project-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 25px 60px;
            z-index: 12;
            .title {
                font-weight: 600;
                font-size: 30px;
                color: $colorWhite;
            }
            .type {
                display: inline-block;
                width: auto;
                border: 1px solid $colorWhite;
                padding: 10px;
                color: $colorWhite;
                font-size: 18px;
                margin: 20px 0;
            }
            .address {
                color: $colorWhite;
                font-size: 18px;
                div {
                    margin-bottom: 5px;
                }
            }
        }
        .detail-link {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 15px 5px;
            text-decoration: none;
            color: $colorWhite;
            background: $colorBlueDarken;
            transition: .2s linear;
            z-index: 13;
            img {
                display: block;
                margin-left: 10px;
                transform: rotate(-90deg);
                transition: .2s linear;
            }
            @include desktop {
                &:hover {
                    background: darken($colorBlueDarken, 10%);
                    img {
                        transform: translateX(10px) rotate(-90deg);
                    }
                }
            }
        }
    }
}

