// Типографика

.section {
    display: block;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 50px 0;
    background-color: $colorWhite;
    overflow: hidden;
    &.fullscreen {
        width: 100%;
        min-height: 100vh;
        padding: 10% 18%;
        @include desktop-smaller {
            padding: 10% 12%;
        }
        @include mobile {
            min-height: auto;
            padding: 15% 10%;
        }
        @include only-mobile {
            padding: 30% 6%;
        }
    }
    &.content-center {
        display: flex;
        align-items: center;
    }
    &.section-padding {
        padding: 5% 18%;
        @include desktop-smaller {
            padding: 5% 12%;
        }
        @include mobile {
            padding: 10%;
        }
        @include only-mobile {
            padding: 8% 4%;
        }

    }
    &.contacts {
        @include mobile {
            min-height: 100vh;
        }
    }
    .section-content-padding {
        padding: 0 18%;
        @include desktop-smaller {
            padding: 0 12%;
        }

    }
    .section-content {
        position: relative;
        z-index: 5;
        height: 100%;
    }
    .section-overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #151515;
        opacity: 0.25;
        z-index: 2;
    }
    .section-bg {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    @include mobile {
        padding: 30px 0;
    }
    &.for-parallax {
        z-index: 9;
    }

    &.gray {
        background-color: $colorGray;
    }
    &.blue {
        background-color: #153757;
    }
    &.dark-blue {
        background-color: #0E2C48;
    }
    &.transparent {
        background-color: transparent;
    }

    .section-title {
        text-transform: uppercase;
        font-size: 42px;
        color: $colorWhite;
        @include mobile {
            font-size: 32px;
        }
        @include only-mobile {
            font-size: 28px;
        }
        @include mobile-small {
            font-size: 25px;
        }
    }
}

%title-shared {
    margin: 24px 0;
    line-height: 1.2em;
    font-weight: 600;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
h1, .h1 {
    @extend %title-shared;
    font-size: 48px;
    @include mobile {
        font-size: 26px;
    }
}
h2, .h2 {
    @extend %title-shared;
    font-size: 28px;

    @include mobile {
        font-size: 16px;
    }
}
h3, .h3 {
    @extend %title-shared;
    font-size: 20px;

    @include mobile {
        font-size: 12px;
    }
}
/*h4, .h4 {
    @extend %title-shared;
    font-size: 38px;

    @include mobile {
        font-size: 24px;
    }
}
h5, .h5 {
    @extend %title-shared;
    font-size: 30px;

    @include mobile {
        font-size: 22px;
    }
}
h6, .h6 {
    @extend %title-shared;
    font-size: 24px;

    @include mobile {
        font-size: 20px;
    }
}*/
/*%text-shared {

}
%text-small-shared {
    @extend %text-shared;
    font-size: 12px;

    @include mobile {
        font-size: 11px;
    }
}
%text-medium-shared {
    @extend %text-shared;
    font-size: 18px;
}
%text-big-shared {
    @extend %text-shared;
    font-size: 20px;
}*/

p {
    margin: 20px 0;
    font-size: 21px;
    line-height: 1.75;
    font-weight: 400;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    @include mobile {
        font-size: 16px;
    }

}

ul {
    padding-left: 0;
    list-style: none;
    li {
        position: relative;
        font-size: 21px;
        line-height: 1.2;
        font-weight: 400;
        padding-left: 30px;
        color: $colorText;
        margin-bottom: 4px;
        @include mobile {
            font-size: 16px;
        }

        &:before {
            position: absolute;
            left: 0;
            top: 11px;
            display: block;
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: $colorText;
        }
    }
}


a {
    display: inline-block;
    font-size: 21px;
    color: $colorLink;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    @include desktop {
        &:hover {
            color: #0056b3;
        }
    }
    @include mobile {
        font-size: 16px;
    }
}

.bold-text {
    font-weight: 600 !important;
}
.normal-text {
    font-weight: normal !important;
}


.d-flex {
    display: flex;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
    & > div, & > p {
        width: 100%;
    }
}
