$fontBase: 'TT Hoves', Arial, sans-serif;
$colorMain: #EF1B34;
$colorMainActive: #cc1228;
$colorText: #222;
$colorTextGray: #7a7a7a;
$colorWhite: #fff;
$colorBlack: #000;
$colorGray: #828282;
$colorGrayMiddle: #E6E6E6;
$colorGrayLight: #F3F3F3;
$colorGrayLight2: #EBEBEB;
$colorLink: #0075FF;
$colorError: #EF1B34;
$colorGreen: #25BB36;
$colorGreenLight: #2BE741;
$cubicBezierEffect: cubic-bezier(0.64, 0, 0.78, 0);
