$fontBase: 'ProximaNova', Arial, sans-serif;

$colorRed: #f32b63;
$colorRedDarken: #ba1946;
$colorBlue: #4063a9;
$colorBlueDarken: #3e61ab;
$colorWhite: #fff;
$colorBlack: #000;
$colorText: #23232d;




$colorMain: #7a7a7a;
$colorMainActive: #7a7a7a;
$colorTextGray: #7a7a7a;
$colorGray: #828282;
$colorGrayMiddle: #E6E6E6;
$colorGrayLight: #F3F3F3;
$colorGrayLight2: #EBEBEB;
$colorLink: #0075FF;
$colorError: #EF1B34;
$colorGreen: #25BB36;
$colorGreenLight: #2BE741;
$cubicBezierEffect: cubic-bezier(0.64, 0, 0.78, 0);
