$fontBase: 'ProximaNova', Arial, sans-serif;

$colorRed: #f32b63;
$colorRedMiddle: #e31a52;
$colorRedDarken: #ba1946;
$colorBlue: #4063a9;
$colorBlueDarken: #3e61ab;
$colorWhite: #fff;
$colorBlack: #000;
$colorText: #23232d;
$colorLink: #007bff;
$colorGray: #f7f7f7;
$colorGrayLight: #737373;
$colorGrayMiddle: #e8e8e8;
$colorBlack: #000;





$colorMainActive: #7a7a7a;
$colorTextGray: #7a7a7a;
$colorGrayLight2: #EBEBEB;
$colorError: #EF1B34;
$colorGreen: #25BB36;
$colorGreenLight: #2BE741;
$cubicBezierEffect: cubic-bezier(0.64, 0, 0.78, 0);
